{% extends '::base.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}
       
{% block body %}
    {% block alert %}
        {% for flash_message in app.session.flashbag.get('messageFail') %}
           {{  alerts.alert('alert-warning', flash_message, null) }}
        {% endfor %}

        {% for flash_message in app.session.flashbag.get('messageSuccess') %}
            {{  alerts.alert('alert-success', flash_message, null) }}
        {% endfor %}
    {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>
                    Nueva Oferta de Trade
                </h3>
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                {{ form_start(formTrade) }}
                {{ form_row(formTrade.category) }}
                {{ form_row(formTrade.offer.title) }}
                {{ form_row(formTrade.offer.description) }}
                {{ form_row(formTrade.region) }}
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="panel panel-default off-panel-dimension">
                        <div class="panel-heading">
                            Dimensiones del paquete donde se va a enviar
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    {{ form_row(formTrade.width) }}
                                </div>
    {{ form_start(formOffer) }}
        {{ form_row(formOffer.saveTrade) }}
        {{ form_row(formOffer.category) }}
        {{ form_row(formOffer.region) }}
        {{ form_row(formOffer.offer.title) }}
        {{ form_row(formOffer.offer.description) }}
        {% if service != 3 %}
            {#<div class="form-group">#}
                {#<label class="control-label required">Dimensiones</label>#}
                {#{{ form_row(formOffer.width) }}#}
                {#{{ form_row(formOffer.height) }}#}
                {#{{ form_row(formOffer.long) }}#}
            {#</div>#}
            {{ form_row(formOffer.weight) }}
            {{ form_row(formOffer.price) }}
        {% endif %}
        {{ form_row(formOffer._token) }}

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    {{ form_row(formTrade.height) }}
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    {{ form_row(formTrade.long) }}
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    {{ form_row(formTrade.weight) }}
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-12 off-texto-matizar">
                                    <p>
                                        Debe introducir las dimensiones de manera precisa debido a que el cálculo de estas
                                        afectan directamente al precio del paquete.<br>
                                        Para obtener más información pincha <a href="#">aquí</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 off-price-offer">
                {{ form_row(formTrade.price) }}
                {{ form_row(formTrade._token) }}

                <label class="control-label" for="trade_price">Imágenes</label>
                <input id="imgOffer" name="imgOffer[]" type="file" multiple class="file-loading" required>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 off-col-btn-new-off">
                {{ form_row(formTrade.saveTrade) }}
            </div>
        </div>

    </div>


        
{% endblock %}

{% block javascriptsFooter %}   
      {{ parent() }}

    <!-- the main fileinput plugin file -->
    <script src="{{ asset('js/fileinput.js') }}"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            $("#imgOffer").fileinput({

                initialPreviewAsData: true,
                overwriteInitial: false,
                maxFileSize: 3072,
                showRemove: false,
                showUpload: false,
                showZoom: false,
                initialCaption: '',
                maxFileCount: 5,
            });
        });


    </script>
{% endblock %}
