{% extends '::base.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}
       
{% block body %}

    {% set titleTrade = "" %}
    {% if service == 1 %}
        {% set titleTrade = "Compra-Venta General" %}
    {% elseif  service == 2 %}
        {% set titleTrade = "Ropa y Complementos" %}
    {% elseif service == 3 %}
        {% set titleTrade = "Trueque" %}
    {% endif %}

    {% block alert %}
        {% for flash_message in app.session.flashbag.get('messageFail') %}
           {{  alerts.alert('alert-warning', flash_message, null) }}
        {% endfor %}

        {% for flash_message in app.session.flashbag.get('messageSuccess') %}
            {{  alerts.alert('alert-success', flash_message, null) }}
        {% endfor %}
    {% endblock %}

    <div class="container">
        {{ form_start(formOffer) }}
        <div class="row">
            <div class="col-lg-12">
                <h3>
                    Nueva Oferta de {{ titleTrade }}
                </h3>
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                {{ form_row(formOffer.category) }}
                {{ form_row(formOffer.offer.title) }}
                {{ form_row(formOffer.offer.description) }}
                {{ form_row(formOffer.region) }}
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="panel panel-default off-panel-dimension">
                        <div class="panel-heading">
                            Dimensiones del paquete
                        </div>
                        <div class="panel-body">
                            {% if service != 3 %}
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        {{ form_row(formOffer.weight) }}
                                    </div>
                                </div>
                            {% endif %}


                            <div class="row">
                                <div class="col-lg-12 off-texto-matizar">
                                    <p>
                                        Debe introducir el peso en <strong>kilos</strong> lo más preciso posible debido a que afectan al cálculo
                                        del precio del paquete. <br>
                                        Para obtener más información pincha <a href="#">aquí</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 off-price-offer">
                {% if service != 3 %}
                    {{ form_row(formOffer.price) }}
                {% endif %}

                {{ form_row(formOffer._token) }}

                <label class="control-label" for="trade_price">Imágenes</label>
                <input id="imgOffer" name="imgOffer[]" type="file" multiple class="file-loading" required>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 off-col-btn-new-off">
                {{ form_row(formOffer.saveTrade) }}
            </div>
        </div>

    </div>


        
{% endblock %}

{% block javascriptsFooter %}   
      {{ parent() }}

    <!-- the main fileinput plugin file -->
    <script src="{{ asset('js/fileinput.js') }}"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            $("#imgOffer").fileinput({

                initialPreviewAsData: true,
                overwriteInitial: false,
                maxFileSize: 3072,
                showRemove: false,
                showUpload: false,
                showZoom: false,
                initialCaption: '',
                maxFileCount: 5,
            });
        });


    </script>
{% endblock %}
