{% extends '::base.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}
       
{% block body %}
    {% block alert %}
        {% for flash_message in app.session.flashbag.get('messageFail') %}
           {{  alerts.alert('alert-warning', flash_message, null) }}
        {% endfor %}

        {% for flash_message in app.session.flashbag.get('messageSuccess') %}
            {{  alerts.alert('alert-success', flash_message, null) }}
        {% endfor %}
    {% endblock %}

    {{ form_start(formTrade) }}
        {{ form_row(formTrade.saveTrade) }}
        {{ form_row(formTrade.category) }}
        {{ form_row(formTrade.region) }}
        {{ form_row(formTrade.offer.title) }}
        {{ form_row(formTrade.offer.description) }}
        <div class="form-group">
            <label class="control-label required">Dimensiones</label>
            {{ form_row(formTrade.width) }}
            {{ form_row(formTrade.height) }}
            {{ form_row(formTrade.long) }}
        </div>
        {{ form_row(formTrade.weight) }}
        {{ form_row(formTrade.price) }}
        {{ form_row(formTrade._token) }}

        <input id="imgOffer" name="imgOffer[]" type="file" multiple class="file-loading" required>

        
{% endblock %}

{% block javascriptsFooter %}   
      {{ parent() }}

    <!-- the main fileinput plugin file -->
    <script src="{{ asset('js/fileinput.js') }}"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            var $collectionHolder;

            $("#imgOffer").fileinput({

                initialPreviewAsData: true,
                overwriteInitial: false,
                maxFileSize: 3072,
                showRemove: false,
                showUpload: false,
                showZoom: false,
                initialCaption: '',
                maxFileCount: 5,
            });
            
            function addTagForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);
                
                 addTagFormDeleteLink($newFormLi);
            }
            
            function addTagFormDeleteLink($tagFormLi) {
                var $removeFormA = $('<button>Eliminar imagen</button>');
               
                $tagFormLi.append($removeFormA);

                $removeFormA.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // remove the li for the tag form
                    $tagFormLi.remove();
                });
            }
            
            $(':file').change(function(){
                console.log($(this));
            })
        });


    </script>
{% endblock %}
