<!-- SIDEBAR MOVIL -->
<div class="sid-body">
    <!-- ZONA 1 -->
    <div class="sid-zone1">
        <h4>
            Restaurantes
        </h4>
        <hr>
        {% for i in 0..4 %}
        <div class="sid-item">
            <a href="#">
                <span>
                    {{ i }}*{{ random(['Titulo objeto en venta', 
                        'Aleatorio para que el texto sea diferentes', 
                        'Yo soy corto', 
                        'Soy un titulo para ver que aparece', 
                        'Te ha tocado la loteria!!']) }}    
                </span>
                
                
            </a>
            
            
        </div>
        {% endfor %}
        
        
    </div>
    <!-- FIN ZONA 1 -->
    
    
    <!-- ZONA 2 -->
    <div class="sid-zone2">
        <h4>
            Ocio
        </h4>
        <hr>
        {% for i in 0..4 %}
        <div class="sid-item">
            <a href="#">
                <span>
                    {{ i }}*{{ random(['Titulo objeto en venta', 
                        'Aleatorio para que el texto sea diferentes', 
                        'Yo soy corto', 
                        'Soy un titulo para ver que aparece', 
                        'Te ha tocado la loteria!!']) }}    
                </span>
            </a>
            
            
        </div>
        {% endfor %}
        
        
    </div>
    <!-- FIN ZONA 2 -->
    
    
    <!-- ZONA 3 -->
    <div class="sid-zone3">
        <h4>
            Tiendas
        </h4>
        <hr>
        {% for i in 0..4 %}
        <div class="sid-item">
            <a href="#">
                <span>
                    {{ i }}*{{ random(['Titulo objeto en venta', 
                        'Aleatorio para que el texto sea diferentes', 
                        'Yo soy corto', 
                        'Soy un titulo para ver que aparece', 
                        'Te ha tocado la loteria!!']) }}    
                </span>
            
            
        </div>
        {% endfor %}
        
        
    </div>
    <!-- FIN ZONA 3 -->
    
    
</div>
<!-- FIN SIDEBAR MOVIL -->
