{% extends '::base.html.twig' %}

{% block title %}
  Login
{% endblock %}

{% block nav %}
  {{ parent() }}
  {{ include('nav/menu.html.twig') }}

{% endblock %}

{% block alert %}
  {% for flash_message in app.session.flashbag.get('messageSuccess') %}
    {{  alerts.alert('alert-success', flash_message, null) }}
  {% endfor %}

  {% for flash_message in app.session.flashbag.get('messageFail') %}
    {{  alerts.alert('alert-warning', flash_message, null) }}
  {% endfor %}

{% endblock %}


{% block body %}

    <div class="container cd-main-content us-login-cont">
        <h1>
            Cambio de contraseña
        </h1>
        <hr>
    </div>

    <div class="container cd-main-content us-login-cont">
        <div class="row">
            {{ form_start(formulario) }}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{ form_row(formulario.password) }}
            </div>
            {{ form_end(formulario) }}

        </div>

    </div>
        
{% endblock %}