

{# {{ form_start(form, { 'action': path('www_user_profile_edit'), 'attr': { 'class': 'www_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    
    
        
    <div  class="form-group">
        <label for="{{ form.username.vars.id }}" class="control-label col-sm-3">
            {{ form.username.vars.label }}
        </label>    
        <div class="col-sm-7">      
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>    
    </div>    
{{ form_end(form) }} #}
<h1>{{ cp.provincia }} JEJEJEJE</h1>
{{ form(form)}}

{{ form_start(form, {'id':'formProfile','method': 'post', 'attr': {'class': '', 'onsubmit':'return validacionPerfil()'}}) }}

    
    <div id="containerUserName" class="form-group">
        <label for="{{ form.username.vars.id }}" class="control-label col-sm-3">
            {{ form.username.vars.label }}
        </label>    
        <div class="col-sm-7">      
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>    
    </div>    
        
    <div class="form-group" id="containerEmail">
        <label for="{{ form.email.vars.id }}" class="control-label col-sm-3">
            {{ form.email.vars.label }}
        </label>    
        <div class="col-sm-7">      
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>    
    </div>    
    
    {#<div id="containerPassword1" class="form-group">
        <label for="{{ form.plainPassword.vars.id }}" class="control-label col-sm-3">
            {{form.plainPassword.children.first.vars.label}}
        </label>    
        <div class="col-sm-7">
            {{ form_widget(form.plainPassword.children.first, {'attr': {'class': 'form-control'}}) }}
        </div>    
    </div>    
        
    <div id="containerPassword2" class="form-group">
        <label for="{{ form.plainPassword.vars.id }}" class="control-label col-sm-3">
            {{form.plainPassword.children.second.vars.label}}
        </label>    
        <div class="col-sm-7">
            {{ form_widget(form.plainPassword.children.second, {'attr': {'class': 'form-control'}}) }}
        </div>    
    </div>#}
        
    
        
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
          <button type="submit" class="btn btn-default">{{ 'registration.submit'|trans }}</button>
        </div>
    </div>    
        
{{ form_end(form) }}
