{# empty Twig template #}

<div id="info" class="tab-pane fade active in">
    
    <h3>Información personal</h3>
    
    <div id="containerName" class="form-group">
        <div class="col-sm-10">
            <label for="{{ form.nombre.vars.id }}" >
                {{ form.nombre.vars.label }}
            </label>    
                 
            {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
               
        </div>    
    </div>  
        
    <div id="containerApellidos" class="form-group">
        <div class="col-sm-10">
            <label for="{{ form.apellidos.vars.id }}">
                {{ form.apellidos.vars.label }}
            </label>    
            {{ form_widget(form.apellidos, {'attr': {'class': 'form-control'}}) }}   
        </div>
    </div>        
    
        <div id="containerTlfn" class="form-group">
        <div class="col-sm-10">
            <label for="{{ form.tlfn.vars.id }}" >
                {{ form.tlfn.vars.label }}
            </label>    
                 
            {{ form_widget(form.tlfn, {'attr': {'class': 'form-control'}}) }}
               
        </div>    
    </div>  
            
    <div id="containerFechaNacimiento" class="form-group">
        <div class="col-sm-5">
            <label for="{{ form.fecha_nacimiento.vars.id }}">
                {{ form.fecha_nacimiento.vars.label }}
            </label>    
            
            {{ form_widget(form.fecha_nacimiento) }}
        </div>    
    </div> 
    
    <div id="containerInvitacion" class="form-group">
        <div class="col-sm-10">
            <label for="{{ form.link_invitacion.vars.id }}">
                {{ form.link_invitacion.vars.label }}
            </label>    
              
            {{ form_widget(form.link_invitacion, {'attr': {'class':'form-control','readonly': 'readonly'}}) }}
        </div>    
    </div>     
        
    <div id="containerSexo" class="form-group">
        <div class="col-sm-5">
            <label for="{{ form.sexo.vars.id }}" >
                {{ form.sexo.vars.label }}
            </label>    
             
            {{ form_widget(form.sexo, {'attr': {'class': 'form-control'}}) }}
        </div>    
    </div>        
        
    
</div>