<div class="container-fluid cd-main-content cont-foo">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 publi-spon1">
            <img src="/wwweb/web/img/wwb-500B.jpg" class="img-responsive center-block">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 publi-spon1">
            <img src="/wwweb/web/img/wwb-500B.jpg" class="img-responsive center-block">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 publi-spon1">
            <img src="/wwweb/web/img/wwb-500B.jpg" class="img-responsive center-block">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 publi-spon1">
            <img src="/wwweb/web/img/wwb-500B.jpg" class="img-responsive center-block">
        </div>

    </div>

</div>
{#<!-- PACKS -->#}
<div class="container cd-main-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
             separacion-superior">
            <h2>Nuestros Packs</h2>
            <hr>
        </div>
    </div>

    <div class="row separacion-inferior">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            {#<a href="#">#}
                <div class="hovereffect img-packs-efect">
                    <img class="img-responsive"
                         src="{{ asset('img/sting.jpg') }}" alt=""/>
                    <div class="overlay ">

                    </div>
                </div>
            {#</a>#}
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 packsHomePage">
            {#<a href="#">#}
                <h3>¡Alojamiento mas concierto Sting!</h3>
            {#</a>#}

            <p>
                El cantante <b>Sting</b> estará en <b>Barcelona</b> dentro de la programación del <b>Festival de
                    Pedralbes 2017</b> el próximo <b>6 de julio</b>. El concierto será en los <b>Jardins del Palau de
                    Pedralbes</b>.
            </p>

            <p>
                Nos encargamos de organizar y reservar para ti una vivienda turística para <b>dos noches</b>,
                <b>transporte</b> desde tu ciudad hasta Barcelona con nuestro transporte compartido y la <b>entrada</b>
                del concierto de Sting por sólo <b>273&euro;</b> por persona (mínimo dos personas).
            </p>

        </div>
    </div>

    <div class="row separacion-inferior">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 packsHomePage">
            {#<a href="#">#}
                <h3>Te organizamos el concierto de tu vida</h3>
            {#</a>#}

            <p>
                <b>Miguel Bosé</b> actuará en <b>Madrid</b> el próximo viernes <b>23 de junio de 2017</b> en el
                <b>WiZink Cener</b> (antiguo Palacio de los Deportes de Madrid). La apertura de puertas será a las 20:00h, comenzando el concierto
                a partir de las 21:30h.
            </p>

            <p>
                Te organizamos una vivienda turística para <b>dos noches</b>, <b>transporte</b> en nuestro coche
                compartido y la <b>entrada</b> del concierto de Miguel Bosé por sólo <b>221&euro;</b> por persona
                (mínimo dos personas).
            </p>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            {#<a href="#">#}
                <div class="hovereffect img-packs-efect">
                    <img class="img-responsive"
                         src="{{ asset('img/bose.jpg') }}" alt=""/>
                    <div class="overlay ">

                    </div>
                </div>
            {#</a>#}
        </div>
    </div>

    <div class="row separacion-inferior">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            {#<a href="#">#}
                <div class="hovereffect img-packs-efect">
                    <img class="img-responsive"
                         src="{{ asset('img/bar.jpg') }}" alt=""/>
                    <div class="overlay ">

                    </div>
                </div>
            {#</a>#}
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 packsHomePage">
            {#<a href="#">#}
                <h3>¿Quiéres aprender idiomas de manera muy divertida?</h3>
            {#</a>#}

            <p>
                Aprende idiomas en Granada con personas nativas tomándote un refresco, batido, creps y mucho más, todo
                casero. Primera reunión el <b>22 de Junio</b>
            </p>

            <p>
                Pronto habrá más clases personalizadas por toda España.
            </p>

        </div>
    </div>


    <div class="row separacion-inferior">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 packsHomePage">
            {#<a href="#">#}
                <h3>Viajes solo para los más aventureros</h3>
            {#</a>#}

            <p>
                ¿Tienes dudas de donde ir? ¿No te decides entre playa o montaña, rural o ciudad?
                <b>¡Compra tu viaje y no sabrás el destino hasta unos días antes de salir!</b>
            </p>

            <p>
                Nosotros organizamos todo para ti, para que tengas una experiencia nueva y cambies tu manera de viajar
                completamente.
            </p>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            {#<a href="#">#}
                <div class="hovereffect img-packs-efect">
                    <img class="img-responsive"
                         src="{{ asset('img/viaje.jpg') }}" alt=""/>
                    <div class="overlay ">

                    </div>
                </div>
            {#</a>#}
        </div>
    </div>

    <div class="row separacion-inferior">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <p>
                Si te interesa alguno de estos packs indícanoslo por nuestras redes sociales o nuestra página de
                <a href="{{ path('contact') }}">contacto</a>.
            </p>
        </div>
    </div>

</div>
{#<!-- FIN PACKS -->#}
