{#<!-- PUBLICIDAD Y SPONSORS -->#}
<div class="container-fluid">
    <div class="row">

        {#<!-- COLUMNA 1 (IMAGENES MÚLTIPLES) -->#}
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

            {#<!-- FILA 1 (2 IMAGENES) -->#}
            <div class="row">

                {#<!-- IMAGEN 1 -->#}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 efecto-marco">
                    <div class="hovereffect tam-packs-grande">
                        <img class="img-responsive tam-packs-peque" 
                             src="{{ asset('img/anuncio1.jpg') }} " alt="">
                        {#<div class="overlay">#}

                        {#</div>#}
                        {#<span class="titulo-pack1">¡Escapada romantica!</span>#}
                        <span class="texto1-pack1">
                            Te recompensamos en tu bolsa con un 10% de lo consumido en los servicios de Coche
                            Compartido, Apartamentos Turísticos y Bed & Breakfast (próximamente en más servicios).
                            <br><br>¡Y... a Viajar Gratis!
                            {#invita a tus amigos desde tu perfil y te gratificamos con el 1% de todas sus compras en#}
                            {#metálico, sortearemos hasta 30 estancias gratuitas por mes en apartamentos turísticos a los#}
                            {#usuarios que realicen alguna transacción.#}

                            {#No olvides que tenemos nuestro servicio de WhatsApp (665 80 80 06) para resolver todas tus#}
                            {#incidencias en minutos.<br><br>#}
                        </span>
                        {#<span class="texto2-pack1">Ver Packs</span>#}
                        <span class="fondo-pack1"></span>
                    </div>
                </div>

                {#<!-- IMAGEN 2 -->#}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 efecto-marco">
                    <div class="hovereffect tam-packs-grande">
                        <img class="img-responsive tam-packs-peque" 
                             src="{{ asset('img/anuncio2.jpg') }}" alt="">
                        <div class="overlay">

                        </div>
                        {#<span class="titulo-pack2">¡Duerme en Roma!</span>#}
                        <span class="texto1-pack2">
                            En Compra/Venta, Trueque y Ropa puedes tener tu compra ¡el mismo día! ya que viaja
                            en coche compartido<br><br>
                            Los productos tecnológicos los revisamos nosotros.
                        </span>
                        {#<span class="texto2-pack2">#}
                            {#<span class="especial-pack2">* </span>#}
                            {#Recuerda que te reembolsamos en tu bolsa un 7%#}
                        {#</span>#}
                        <span class="fondo-pack2"></span>
                    </div>

                </div>

            </div>

            {#<!-- FILA 2 (IMAGEN PANORAMICA) -->#}
            {#<div class="row">#}
                {#<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 #}
                     {#efecto-marco">#}
                    {#<div class="hovereffect tam-packs">#}
                        {#<img class="img-responsive tam-packs-peque" #}
                             {#src="{{ asset('img/TC.png') }}" alt="">#}
                        {#<div class="overlay ">#}

                        {#</div>#}
                        {#<span class="titulo-pack3">¿Quieres conducir el coche de#}
                            {#tus sueños?</span>#}
                        {#<span class="texto2-pack3">#}
                            {#Próximamente podrás utilizar nuestro servicio de banca, con unas características diferentes#}
                            {#a to que ya conoces. se darán hasta 50 becas entre nuestros usuarios.#}
                            {#<span class="especial-pack2">* </span>#}
                            {#Recuerda que te reembolsamos en tu bolsa un 7%#}
                        {#</span>#}
                        {#<span class="fondo-pack3"></span>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            <div class="row row-anun3">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-anun3-img ">
                    <img class="img-responsive" src="{{ asset('img/TC2.png') }}" alt="">
                    <p>
                        La banca será diferente, inimaginable y sorprendente.
                    <p>
                        <div class="col-anun4-text-small">
                    <p>
                        Se darán hasta 50 Becas.
                    <p>
                </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-anun3-text">
                    <p>
                        Al pagar por nuestra plataforma el Vendedor se asegura el cobro y el Comprador tiene la
                        garantía de recibir el producto acordado.

                    </p>
                </div>
            </div>

        </div>

        {#<!-- COLUMNA 2 (SLIDER SPONSOR) -->#}
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 sponsor-carousel">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                {#<!-- Wrapper for slides -->#}
                <div class="carousel-inner">
                    <div class="item active sponsor sponsorPrimero">
                        <div class="carousel-caption">
                            <img src="{{ asset('img/wwbPatro.png') }}" class="img-responsive center-block logo-slider" />
                        </div>
                    </div>
                    {#<!-- End Item -->#}
                    <div class="item sponsor sponsorSegundo">
                        <div class="carousel-caption">
                            <img src="{{ asset('img/wwrPatro.png') }}" class="img-responsive center-block logo-slider
                            logo-radio" />
                            <div class="row row-spon-radio">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <a href="#Android">
                                        <img class="img-responsive img-store1" src="{{ asset('img/googlePlay3.png') }}"/>
                                    </a>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <a href="#IOS">
                                        <img class="img-responsive img-store2" src="{{ asset('img/AppStore3.png') }}"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#<!-- End Item -->#}
                    {#<div class="item sponsor sponsor33">#}
                        {#<div class="carousel-caption">#}

                        {#</div>#}
                    {#</div>#}
                    {#<!-- End Item -->#}
                    {#<div class="item sponsor sponsor44">#}
                        {#<div class="carousel-caption">#}

                        {#</div>#}
                    {#</div>#}
                    {#<!-- End Item -->#}
                </div>
                {#<!-- End Carousel Inner -->#}
                <ul class="nav nav-pills nav-justified">
                    <li data-target="#myCarousel" data-slide-to="0" 
                        class="active">
                        <a href="#">What Want Bank
                            <small>Próximamente</small>
                        </a>
                    </li>
                    <li data-target="#myCarousel" data-slide-to="1">
                        <a href="#">What Want Radio
                            <small>La mejor música del momento</small>
                        </a>
                    </li>
                    {#<li data-target="#myCarousel" data-slide-to="2">#}
                        {#<a href="#">Empresa 3#}
                            {#<small>Texto idenficiativo</small>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li data-target="#myCarousel" data-slide-to="3">#}
                        {#<a href="#">Empresa 4#}
                            {#<small>Texto idenficiativo</small>#}
                        {#</a>#}
                    {#</li>#}
                </ul>
            </div>
        </div>
    </div>
</div>
{#<!-- FIN PUBLICIDAD Y SPONSORS -->#}

{#<!-- BARRA LATERAL PARA BANNERS -->#}
<div class="containerPubli-texto-banner hidden-xs">
    {#<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 publi-spon1 publi-texto-banner">#}

        <p class="col-lg-3 col-md-3 col-sm-3 hidden-xs publi-spon1 publi-texto-banner">
            Disponemos de servicio WhatsApp para solucionar tus incidencias en minutos, conductor que no acude,
            apartamento en pésimas condiciones, no tendrás que hacer una nueva compra. <br>
            Tlfn: 665 80 80 06 de 8 a 21h (próx. 24h).
        </p>

    {#</div>#}

    {#<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 publi-spon1 publi-texto-banner">#}
            <p class="col-lg-3 col-md-3 col-sm-3 hidden-xs publi-spon1 publi-texto-banner">
                Escucha nuestra radio para que se te haga más amena la visita por la página, bajate la APP
                y estarás informado de los últimos conciertos, festivales...
            </p>

    {#</div>#}

    {#<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 publi-spon1 publi-texto-banner">#}
            <p class="col-lg-3 col-md-3 col-sm-3 hidden-xs publi-spon1 publi-texto-banner">
                Todos los meses se sortearan viajes (entre todos los usuarios que realicen alguna
                transacción, ya seas vendedor o comprador)
            </p>
    {#</div>#}

    {#<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 publi-spon1 publi-texto-banner">#}
            <p class="col-lg-3 col-md-3 col-sm-3 hidden-xs publi-spon1 publi-texto-banner">
                Invita a todos tus amigos desde tu perfil y te recompensamos con el 1% en metálico
                de todas sus transacciones.

            </p>
    {#</div>#}

</div>