<!-- PUBLICIDAD Y SPONSORS -->
<div class="container-fluid">
    <div class="row">

        <!-- COLUMNA 1 (IMAGENES MÚLTIPLES) -->
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

            <!-- FILA 1 (2 IMAGENES) -->
            <div class="row">

                <!-- IMAGEN 1 -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 efecto-marco">
                    <div class="hovereffect tam-packs-grande">
                        <img class="img-responsive tam-packs-peque" 
                             src="{{ asset('img/pack1.jpg') }} " alt="">
                        <div class="overlay">

                        </div>
                        <span class="titulo-pack1">¡Escapada romantica!</span>
                        <span class="texto1-pack1">Ve con tu pareja a los 
                            destinos que tenemos preparados para ti</span>
                        <span class="texto2-pack1">Ver Packs</span>
                        <span class="fondo-pack1"></span>
                    </div>
                </div>

                <!-- IMAGEN 2 -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 efecto-marco">
                    <div class="hovereffect tam-packs-grande">
                        <img class="img-responsive tam-packs-peque" 
                             src="{{ asset('img/pack2.jpg') }}" alt="">
                        <div class="overlay">

                        </div>
                        <span class="titulo-pack2">¡Duerme en Roma!</span>
                        <span class="texto1-pack2">Encuentra la mejor estancia 
                            con nosotros</span>
                        <span class="texto2-pack2">
                            <span class="especial-pack2">* </span>
                            Recuerda que te reembolsamos en tu bolsa un 7%
                        </span>
                        <span class="fondo-pack2"></span>
                    </div>

                </div>

            </div>

            <!-- FILA 2 (IMAGEN PANORAMICA) -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
                     efecto-marco">
                    <div class="hovereffect tam-packs">
                        <img class="img-responsive tam-packs-peque" 
                             src="{{ asset('img/pack3.jpg') }}" alt="">
                        <div class="overlay ">

                        </div>
                        <span class="titulo-pack3">¿Quieres conducir el coche de 
                            tus sueños?</span>
                        <span class="texto2-pack3">
                            <span class="especial-pack2">* </span>
                            Recuerda que te reembolsamos en tu bolsa un 7%
                        </span>
                        <span class="fondo-pack3"></span>
                    </div>
                </div>
            </div>

        </div>

        <!-- COLUMNA 2 (SLIDER SPONSOR) -->
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 sponsor-carousel">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active sponsor sponsorPrimero">
                        <div class="carousel-caption">
                            <img src="{{ asset('img/wwb-logo.png') }}" class="img-responsive" />
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item sponsor sponsorSegundo">
                        <div class="carousel-caption">
                            <img src="{{ asset('img/wwb-logo.png') }}" class="img-responsive" />
                        </div>
                    </div>
                    <!-- End Item -->
                    {#<div class="item sponsor sponsor33">#}
                        {#<div class="carousel-caption">#}

                        {#</div>#}
                    {#</div>#}
                    {#<!-- End Item -->#}
                    {#<div class="item sponsor sponsor44">#}
                        {#<div class="carousel-caption">#}

                        {#</div>#}
                    {#</div>#}
                    {#<!-- End Item -->#}
                </div>
                <!-- End Carousel Inner -->
                <ul class="nav nav-pills nav-justified">
                    <li data-target="#myCarousel" data-slide-to="0" 
                        class="active">
                        <a href="#">What Want Bank
                            <small>Próximamente</small>
                        </a>
                    </li>
                    <li data-target="#myCarousel" data-slide-to="1">
                        <a href="#">What Want Radio
                            <small>La mejor música del momento</small>
                        </a>
                    </li>
                    {#<li data-target="#myCarousel" data-slide-to="2">#}
                        {#<a href="#">Empresa 3#}
                            {#<small>Texto idenficiativo</small>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li data-target="#myCarousel" data-slide-to="3">#}
                        {#<a href="#">Empresa 4#}
                            {#<small>Texto idenficiativo</small>#}
                        {#</a>#}
                    {#</li>#}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- FIN PUBLICIDAD Y SPONSORS -->
