{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/offer.html.twig' as offers %}

{% block title %}
    Mis ofertas publicadas
{% endblock %}

{% block alertProfile %}
    
    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
            {{ alerts.alert('alert-success', flash_message, null) }}
        {% endfor %} 

        {% for flash_message in app.session.flashbag.get('messageFail') %}
            {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

   
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}
    <h3>
        Mis ofertas Compradas
    </h3>
    <hr/>

    {% if purchases == null %}
        <h4>
            Aún no has comprado nada
        </h4>
        <p>
            ¡Compra y disfruta de las ventajas de hacerlo en What Want Web!
        </p>
        <p>
            Revisa nuestra página y disfruta de nuestros fantásticos servicios y de las ventajas que te ofrecen estas.
        </p>
    {% else %}
    
        {% for purchase in purchases %}

            {% set urlValoration = '' %}
            {% if purchase.valorated is not empty %}
                {% set urlValoration = path('user_profiler_purchasesValoration',{idOffer: purchase.offer_id}) %}
            {% endif %}

            {{ offers.offUserDisfrutadas('', purchase.offer_photo ,purchase.title, purchase.created_date,
                purchase.description, 'leer', urlValoration,
                'Valorar', '#PDF', 'PDF') }}
        {% endfor %}

    {% endif %}
    
{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}

    <script src="path/to/js/star-rating.js" type="text/javascript"></script>

    <!-- optionally if you need to use a theme, then include the theme file as mentioned below -->
    <script src="path/to/themes/krajee-svg/theme.js"></script>

{% endblock %}
    
