{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/offer.html.twig' as offers %}
{% import 'macros/script.html.twig' as codMenu %}

{% block title %}
    Ofertas
{% endblock %}

{% block alertProfile %}
    
    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
            {{ alerts.alert('alert-success', flash_message, null) }}
        {% endfor %} 

        {% for flash_message in app.session.flashbag.get('messageFail') %}
            {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

   
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}
    <div class="row us-dataPersonal-row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                Mis ofertas publicadas
            </h3>
            <hr/>

            {% if listOffers == null %}
                <h4>
                    Aún no has publicado ninguna oferta
                </h4>
                <p>
                    ¡Crea ofertas en el servicio que tengas dado de alta!
                </p>
                <p>
                    Dirígete al servicio que deseas crear la oferta y pulsa en la cabecera “Añadir oferta” para poder crear
                    tu oferta y disfruta de todas las ventajas que te ofrece What Want Web.
                </p>
            {% else %}

        {% for offer in listOffers %}
{#{{ dump(offer) }}#}

            {% set pathEditar = path('user_profiler_editOffer',{idOffer:offer.id}) %}

            {% if offer.service.id == 1 %}
                {% set url = path('service_trade' , {idOffer: offer.id}) %}

            {% elseif offer.service.id == 2 %}
                {% set url = path('service_clothes' , {idOffer: offer.id}) %}

            {% elseif offer.service.id == 3 %}
                {% set url = path('service_barter' , {idOffer: offer.id}) %}

            {% elseif offer.service.id == 4 %}
                {% set url = path('offShareCar', {idOffer: offer.id}) %}

                {% if offer.hasInscriptions == 1 %}
                    {%  set pathEditar = "" %}
                {% endif %}

            {% endif%}

            {{ offers.offUser(url, offer.photos.0.url ,offer.title,
            offer.description, 'leer', pathEditar, 'editar', '#borrar','Borrar', offer.id) }}

        {% endfor %}

            {% endif %}

        </div>
    </div>
{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}

    {{ codMenu.scriptUserMenu('.us-dataPersonal-row-fluid') }}

    <script type="text/javascript">
        $(document).ready(function() {
            $(document).on('click','.btnDelete', deleteOffer);

            function deleteOffer(e){
                e.preventDefault();
                var id = $(this).attr('data-id');
                var data = {};
                var url = "{{ path('user_ajax_deleteOffer') }}";
                var container = '.containerOffer_'+id;

                data['id'] = id;

                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function(data)
                    {
                        if(data['result'] === 'ok'){
                            $(container).remove();
                            $('.contentAlert').html("<div class='alert "+
                                    "alert-success alert-dismissible' role='alert'>"+
                                    "<button type='button' class='close' "+
                                    "data-dismiss='alert' aria-label='Close'>"+
                                    "<span aria-hidden='true'>×</span>"+
                                    "</button><strong></strong>"+
                                    data['message']+"</div>");

                        }else{
                            $('.contentAlert').html("<div class='alert "+
                                    "alert-warning alert-dismissible' role='alert'>"+
                                    "<button type='button' class='close' "+
                                    "data-dismiss='alert' aria-label='Close'>"+
                                    "<span aria-hidden='true'>×</span>"+
                                    "</button><strong></strong>"+
                                    data['message']+"</div>");

                        }

                    },
                    error: function()
                    {
                        $('.contentAlert').html("<div class='alert "+
                                "alert-warning alert-dismissible' role='alert'>"+
                                "<button type='button' class='close' "+
                                "data-dismiss='alert' aria-label='Close'>"+
                                "<span aria-hidden='true'>×</span>"+
                                "</button><strong></strong>"+
                                "Ha ocurrido un error, por favor vuelva a intentarlo</div>");

                    }
                });
            }
        });
    </script>

{% endblock %}
    
