{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/offer.html.twig' as offers %}
{% import 'macros/script.html.twig' as codMenu %}

{% block title %}
    Mis ofertas publicadas
{% endblock %}

{% block alertProfile %}
    
    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
            {{ alerts.alert('alert-success', flash_message, null) }}
        {% endfor %} 

        {% for flash_message in app.session.flashbag.get('messageFail') %}
            {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

   
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}
    <div class="row us-dataPersonal-row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                Mis ofertas Compradas
            </h3>
            <hr/>

            {% if purchases == null %}
                <h4>
                    Aún no has comprado nada
                </h4>
                <p>
                    ¡Compra y disfruta de las ventajas de hacerlo en What Want Web!
                </p>
                <p>
                    Revisa nuestra página y disfruta de nuestros fantásticos servicios y de las ventajas que te ofrecen estas.
                </p>
            {% else %}

                {% for purchase in pagination %}

                    {% set urlValoration = '' %}
                    {% if purchase.valorated is not empty %}
                        {% set urlValoration = path('user_profiler_purchasesValoration',{idOffer: purchase.offer_id}) %}
                    {% endif %}

                    {{ offers.offUserDisfrutadas('', purchase.offer_photo ,purchase.title, purchase.created_date,
                        purchase.description, 'leer', urlValoration,
                        'Valorar', '#PDF', 'PDF') }}
                {% endfor %}

                {% if pagination is not null %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {% endif %}

            {% endif %}
        </div>
    </div>
    
{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}
    {{ codMenu.scriptUserMenu('.us-dataPersonal-row-fluid') }}

{% endblock %}
    
