{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/offer.html.twig' as offers %}

{% block title %}
    Ofertas
{% endblock %}

{% block alertProfile %}

    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
        {{ alerts.alert('alert-success', flash_message, null) }}
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('messageFail') %}
        {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

    {{ form_errors(form) }}
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}
<div class="row us-dataPersonal-row-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 off-special-price">
        <h3>
            Editando mi oferta de {{ offers.editService(service) }}
        </h3>
        <hr/>
        {{ form_start(form) }}
            {{ form_row(form.car) }}
            {{ form_row(form.offer.title) }}
            {{ form_row(form.offer.description) }}
            {{ form_row(form.fromPlace) }}
            {{ form_row(form.toPlace) }}
            {{ form_row(form.date) }}

            {% if service == 4 %}
                {{ form_row(form.offer.holders,{'label':'Plazas disponibles','attr':{'min':min}}) }}
                {{ form_row(form.backTwo) }}
                {{ form_row(form.price) }}
            {% else %}
                {{ form_row(form.offer.holders,{'label':'Número de paquetes','attr':{'min':min} }) }}
            {% endif %}

            {{ form_row(form.newShareCar) }}
            {{form_row(form.offer.id)}}
            {{ form_row(form._token) }}
    </div>
</div>

{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}

    <script src="{{ asset('js/plugins/canvas-to-blob.min.js') }}"
            type="text/javascript"></script>
    <!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
         This must be loaded before fileinput.min.js -->
    <script src="{{ asset('js/plugins/sortable.js') }}"
            type="text/javascript"></script>
    <!-- purify.min.js is only needed if you wish to purify HTML content in your preview for HTML files.
         This must be loaded before fileinput.min.js -->
    <script src="{{ asset('js/plugins/purify.min.js') }}"
            type="text/javascript"></script>
    <!-- the main fileinput plugin file -->
    <script src="{{ asset('js/fileinput.js') }}"></script>

    <!-- optionally if you need translation for your language then include 
        locale file as mentioned below -->
    <script src="{{ asset('js/locales/es.js') }}"></script>


    <script type="text/javascript">
        $(document).ready(function(){

            {% set arrayUrl = "" %}
            {% set arrayCaption = "" %}
            {% for photo in offer.offer.photos %}

            {% set arrayUrl = arrayUrl~"'"~asset(photo.url,'img')~"'," %}
            {% set arrayCaption = arrayCaption~"{caption: '', width: '120px', showZoom: false, key: "~photo.id|number_format~" }," %}

            {% endfor %}


            $("#imgOffer").fileinput({

                initialPreview: [
                    {{arrayUrl|raw}}
                ],
                initialPreviewAsData: true,

                initialPreviewConfig: [
                    {{arrayCaption|raw}}
                ],
                deleteUrl: "{{ url('user_ajax_deleteImageOffer') }}",
                overwriteInitial: false,
                maxFileSize: 3072,
                showZoom: false,
                initialCaption: '',
                validateInitialCount: true,
//                uploadUrl: "/file-upload-batch/2",
                autoReplace: true,
                maxFileCount: 5,
                minFileCount:1,
                showRemove: false,
                showUpload: false,

            });
        });
    </script>

{% endblock %}
    
