{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/offer.html.twig' as offers %}
{% import 'macros/script.html.twig' as codMenu %}
{% import 'macros/popup.html.twig' as popups %}

{% block title %}
    Mis ofertas publicadas
{% endblock %}

{% block alertProfile %}
    
    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
            {{ alerts.alert('alert-success', flash_message, null) }}
        {% endfor %} 

        {% for flash_message in app.session.flashbag.get('messageFail') %}
            {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

   
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}
    <div class="row us-dataPersonal-row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                Mis ofertas Compradas
            </h3>
            <hr/>

            {% if purchases == null %}
                <h4>
                    Aún no has comprado nada
                </h4>
                <p>
                    ¡Compra y disfruta de las ventajas de hacerlo en What Want Web!
                </p>
                <p>
                    Revisa nuestra página y disfruta de nuestros fantásticos servicios y de las ventajas que te ofrecen estas.
                </p>
            {% else %}
                {#{{ dump(app.request) }}#}
                {% for purchase in pagination %}

                    {% set urlValoration = '' %}
                    {% if purchase.valorated is not empty %}
                        {% set urlValoration = path('user_profiler_purchasesValoration',{typeOffer: app.request.get('typeOffer') ,idOffer: purchase.offer_id}) %}
                    {% endif %}

                    {{ offers.offUserDisfrutadas('', purchase.offer_photo ,purchase.title, purchase.created_date,
                        purchase.description, 'leer', urlValoration,
                        'Valorar', '#PDF', 'PDF','buttonEnjoyed','#buttonEnjoyed',purchase.offer_id,purchase.status ) }}
                {% endfor %}

                {% if pagination is not null %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {% endif %}

            {% endif %}
        </div>
    </div>
    
{% endblock %}

{% block popupBlock %}

    {{ popups.popupWithButtons('idEnjoyed', 'Estado de la oferta', '¿Ha disfrutado ya la oferta? En tal caso háganoslo saber.','enjoyed','fa fa-thumbs-o-up','Oferta disfrutada','',
                               'notEnjoyed', 'fa fa-thumbs-o-down', 'Oferta aún no disfrutada','') }}

{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}
    {{ codMenu.scriptUserMenu('.us-dataPersonal-row-fluid') }}

    <script>
        $(document).ready(function (){

            var dataOffer;

            $('[data-tooltip="true"]').tooltip({trigger: "hover"});

            $(document).on('click','.buttonEnjoyed', function (e){
                                                        e.stopPropagation();
                                                        dataOffer = $(this).data('id');
                                                    });

            $(document).on('click', '#enjoyed', changeTransition);
            $(document).on('click', '#notEnjoyed', function(e){
                                                        e.preventDefault();
                                                        $("#idEnjoyed .close").click();
                                                    })

            function changeTransition(e){

                e.preventDefault();

                var data ={'idOffer': dataOffer};

                $.ajax({
                    type: "POST",
                    url: '{{ path('user_ajax_offerEnjoyed') }}',
                    data: data,
                    success: function(data) {
                        $("#idEnjoyed .close").click();

                        if(data['result'] == 'ok') {
                            $('.contentAlert').html("<div class='alert "+
                                    "alert-success alert-dismissible' role='alert'>"+
                                    "<button type='button' class='close' "+
                                    "data-dismiss='alert' aria-label='Close'>"+
                                    "<span aria-hidden='true'>×</span>"+
                                    "</button><strong></strong>"+data['message']+
                                    "</div>");
                            $('.buttonEnjoyed').attr('data_id',dataOffer).attr('disabled',true)
                        }else{
                            $('.contentAlert').html("<div class='alert "+
                                    "alert-warning alert-dismissible' role='alert'>"+
                                    "<button type='button' class='close' "+
                                    "data-dismiss='alert' aria-label='Close'>"+
                                    "<span aria-hidden='true'>×</span>"+
                                    "</button><strong></strong>"+data['message']+
                                    "</div>");
                        }

                    },
                    error: function()
                    {
                        $('.contentAlert').html("<div class='alert "+
                                "alert-warning alert-dismissible' role='alert'>"+
                                "<button type='button' class='close' "+
                                "data-dismiss='alert' aria-label='Close'>"+
                                "<span aria-hidden='true'>×</span>"+
                                "</button><strong></strong>"+
                                "Ha ocurrido un error, por favor inténtelo más tarde</div>");

                    }
                });
            }


        });
    </script>

{% endblock %}
    
