{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/offer.html.twig' as offers %}

{% block stylesheets %}
    {{parent()}}

    {#<link href="{{asset("css/styles/starRating/star-rating.css")}}" media="all" rel="stylesheet" type="text/css" />#}

{% endblock %}

{% block title %}
    Ofertas
{% endblock %}

{% block alertProfile %}
    
    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
            {{ alerts.alert('alert-success', flash_message, null) }}
        {% endfor %} 

        {% for flash_message in app.session.flashbag.get('messageFail') %}
            {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

   
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}
    <div class="row us-dataPersonal-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                Votar la oferta
            </h3>
            <hr/>

            <p>
                Da tu valoraci칩n de la compra que has realizado eligiendo de una a 5 estellas, siendo una la menor valoraci칩n
                y 5 la mayor valoraci칩n posible.
            </p>

            <p>
                Indica el estado del producto o servicio disfrutado, si el vendedor ha sido amable y comunicativo,
                si recomendarias hacer negocios con este usuario y cualquier otra cosa que creas que sea importante que sepan los dem치s usuarios.
            </p>

     {{ title }} <br>
     {{ description }} <br>
     {{ asset(urlImage,'img') }} <br>
     <input id="rating-input"
            class="rating rating-loading"
            data-show-clear="false"
            data-show-caption="true"
            data-step="1"
            data-language="es"
            type="number" />

            <div class="off-form-comment">
                <div class="input-group">
                    <textarea class="form-control custom-control"
                              rows="3"
                              style="resize:none">

                    </textarea>

                    <span id="sendValoration" class="input-group-addon btn btn-primary" disabled>
                        Enviar
                    </span>
                </div>
            </div>
        </div>
    </div>


    
{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}

    <script src="{{ asset('js/starRating/star-rating.js') }}"></script>
    <script src="{{ asset('js/starRating/star-rating_locale_es.js') }}"></script>

    <script>
        $(document).ready( function(){
     
           $('#rating-input').rating({
              min: 0,
              max: 5,
              size: 'lg',
              showClear: false
           });


            $(document).on('change','#rating-input', activeDesactiveSend);
            $(document).on('keyup','#comment', activeDesactiveSend);
            $(document).on('click','#sendValoration',sendValoration);

            function activeDesactiveSend(){

                if($('#rating-input').val() > 0 && $('#comment').val()!=''){

                    $('#sendValoration').attr('disabled',false);
                }else{

                    $('#sendValoration').attr('disabled',true);
                }

            }

            function sendValoration() {

                var rating = $('#rating-input').val();
                var idOffer = {{ app.request.attributes.get('idOffer') }};
                var comment = $('#comment').val();
                var data = {};
                data["rating"] = rating;
                data["idOffer"] = idOffer;
                data["comment"] = comment;


                $.ajax({
                    type: "POST",
                    url: "{{ url('user_ajax_valorationOffer') }}",
                    data: data,
                    success: function(data)
                    {
                        location.href='{{ path('user_profiler_purchases') }}';
                    },
                    error: function()             
                    {
                        console.log('error');
         
                    }
                });
            };

        });
    </script>
{% endblock %}
    
