{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/offer.html.twig' as offers %}

{% block title %}
    Ofertas
{% endblock %}

{% block alertProfile %}
    
    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
            {{ alerts.alert('alert-success', flash_message, null) }}
        {% endfor %} 

        {% for flash_message in app.session.flashbag.get('messageFail') %}
            {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

   
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}
    <h2>LISTA OFERTA DISFRUTADAS</h2>
    
    {% for purchase in purchases %}
        
        {% set urlValoration = '' %}
        {% if purchase.valorated is not empty %}
            {% set urlValoration = path('user_profiler_purchasesValoration',{idOffer: purchase.offer_id}) %}
        {% endif %}

        {{ offers.offUserDisfrutadas('', purchase.offer_photo ,purchase.title, purchase.created_date, 
            purchase.description, 'leer', urlValoration, 
            'Valorar', '#PDF', 'PDF') }}
    {% endfor %}
    
{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}
    
    <script src="path/to/js/star-rating.js" type="text/javascript"></script>
 
    <!-- optionally if you need to use a theme, then include the theme file as mentioned below -->
    <script src="path/to/themes/krajee-svg/theme.js"></script>
       
{% endblock %}
    
