{% import '::macros/alert.html.twig' as alerts%}
{% import '::macros/script.html.twig' as scripts %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {#<!-- The above 3 meta tags *must* come first in the head; any other head #}
        {#content must come *after* these tags -->#}
        <title>WWW | {% block title %}{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
        
        <link rel="shortcut icon" href="{{ asset('img/favicons/favicon.ico') }}" />
        
        {% block javascriptsHeader %}
            <script src="{{ asset('js/modernizr.js') }}" 
            type="text/javascript"></script>
        {% endblock %}

    </head>
    <body>
    {#<script type="text/javascript" src="{{ asset('js/loading/please-wait.js') }}"></script>#}
    {#<script type="text/javascript">#}
        {#window.loading_screen = window.pleaseWait({#}
            {#logo: "{{ asset('img/Logo_www-2.png') }}",#}
            {#backgroundColor: '#fff',#}
            {#loadingHtml: '<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>'#}
        {#});#}
    {#</script>#}

    {#<div id="pickRadio"></div>#}

    {% block header %}
        {{ include('header/header.html.twig') }}
    {% endblock %}  
        
    {% block nav %}
        {{ include('nav/menuMobile.html.twig') }}
        {% block zoneMobile %}
            
        {% endblock %}
        {{ include('nav/menuMobileEnd.html.twig') }}
    {% endblock %}

    <div class="container cd-main-content cd-main-content-special">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="blockAlert">

                {% block alert %}
                    
                {% endblock %}  
                
            </div>
        </div>
    </div>

    {% block body %}
    {% endblock %}     

    {% block footer %}
        {{ include('footer/footer.html.twig') }}
    {% endblock %}   


    {% block filtroMovil %}
    {% endblock %}
    
    {% block popupBlock %}
    {% endblock %}

    {% block javascriptsFooter %}
        {#<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->#}
        <script src="{{ asset('js/jquery-3.1.1.min.js') }}" type="text/javascript"></script>

        {#<!-- Latest compiled and minified JavaScript -->#}
        <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>

        {#<!-- MegaMenu js -->#}
        <script src="{{ asset('js/cbpHorizontalMenu.min.js') }}" type="text/javascript"></script>
        <script>
            $(function() {
                cbpHorizontalMenu.init();
            });
        </script>

        {#<!-- Mobile Menu js -->#}
        <script src="{{ asset('js/menuMovil.js') }}" type="text/javascript"></script>
        
        <script type="text/javascript">
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').focus();
            });
        </script>
        
        <script src="{{ asset('js/materialize.min.js') }}" type="text/javascript"></script>

        <script type="text/javascript" src="{{ asset('js/jquery.cookie.js') }}"></script>

        <script type="text/javascript" id="cookieinfo"
                src="//cookieinfoscript.com/js/cookieinfo.min.js"
                data-bg="#333"
                data-fg="#fff"
                data-link="#f60"
                data-divlink="#fff"
                data-divlinkbg="#f60"
                data-message="Este sitio web utiliza cookies para mejorar la experiencia del usuario. Al utilizar nuestro
                sitio web, usted acepta todas las cookies de acuerdo con nuestra Política de Cookies."
                data-linkmsg="Más información"
                data-moreinfo="https://www.whatwantweb.com/cookies"
                data-close-text="Acepto">
        </script>



        {#<script type="text/javascript">#}
            {#$(document).ready(function(){#}

                {#$('#pickRadio').click(function() {#}
                    {#if($.cookie('radio_open') != '1') {#}
                        {#//show popup here#}
                        {#window.open('http://www.whatwantradio.com/web/app.php', '_blank');#}
                        {#$('#pickRadio').css('display','none');#}
                        {#var date = new Date();#}
                        {#date.setTime(date.getTime() + (120 * 60 * 1000));#}
                        {#$.cookie('radio_open', '1', { expires: date});#}
                    {#}#}
                {#});#}
            {#});#}
        {#</script>#}

        {#<script type="text/javascript">#}
            {#$(document).ready(function(){#}
                {#if($.cookie('radio_open') == 1) {#}
                    {#$('#pickRadio').css('display','none');#}
                {#}#}
            {#});#}
        {#</script>#}
    {% endblock %}

    {#<script type="text/javascript">#}
        {#window.loading_screen.finish();#}
    {#</script>#}

    </body>
</html>
