{% macro bigElement(hrefBlog, srcImg, fecha, etiquetas, comentarios, likes, 
    title, text) %}
{#<!-- IMAGEN -->#}
<div class="row row-col-image-post">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
         col-image-post">
        <div class="hovereffect">
            <a href="{{ hrefBlog }}">
                <img class="img-responsive" 
                     src="{{ srcImg|e }}" alt=""/>

                <div class="overlay "></div>
            </a>
                     
                     
        </div>
                     
                     
    </div>
                     
                     
</div>

{#<!-- FECHA Y VOTOS -->#}
<div class="row row-post-big separacion-inferior separacion-superior 
     row-date-big">
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
        <span class="date-post">{{ fecha|date('d M')|e }}</span>
        
        
        <span class="date-post">|</span>  
        
        
        {% for eti in etiquetas %}
            <a class="voto-corazon date-post" href="#ETIQUETA">
                <span>{{ eti|e|capitalize }}</span>
            </a>
        {% endfor %}
        
        
    </div>

    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 voto-post">
        <a class="comentario-post" href="{{ hrefBlog|e }}">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            
            
            <span>{{ comentarios|e }}</span>
            
            
        </a>

            
        <span>|</span>

        
        <a class="voto-corazon" href="{{ hrefBlog|e }}">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            
            
            <span>{{ likes|e }}</span>
            
            
        </a>
            
            
    </div>
            
            
</div>

{#<!-- TITULO -->#}
<div class="row row-post-big row-title-big">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="titulo-post">
            <a class="titulo-post" href="{{ hrefBlog|e }}">
                 {{ title|e }}
            </a>
            
            
        </h3>
            
            
    </div>
            
            
</div>

{#<!-- CUERPO -->#}
<div class="row row-post-big row-body-big">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>
            Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
            Aenean sollicitudin, lorem quis bibendum auctor, nisi 
            elit ipsum, nec sagittis sem nibh id elit. Duis sed odio
            sit amet nibh vulputate cursus a sit amet mauris. Morbi 
            accumsan ipsum velit. Nam nec tellus a odio tincidunt 
            auctor a ornare odio. Sed non mauris vitae erat 
            consequat auctor eu in elit. Aenean sollicitudin, lorem 
            quis bibendum auctor, nisi elit consequat ipsum, nec 
            sagittis sem. Duis sed odio sit amet nibh vulputate 
            cursus a sit amet mauris. Morbi accumsan ipsum velit.
        </p>
        
        
    </div>
    
    
</div>

{#<!-- LEER -->#}
<div class="row row-post-big separacion-superior separacion-inferior 
     row-boton-big">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
         leer-post-grande separacion-inferior">
        <a class="boton-leer-post" href="{{ hrefBlog|e }}">
            <span class=""> Leer más </span>
            
            
        </a>
            
            
    </div>
            
            
</div>
{% endmacro %}

    
    

{% macro smallElement(hrefBlog, fecha, etiquetas, comentarios, likes, 
    title, text, lg, md, sm, xs) %}
    <div class="col-lg-{{ lg|default(6)|e }} col-md-{{ md|default(6)|e }} 
         col-sm-{{ sm|default(12)|e }} col-xs-{{ xs|default(12)|e }} post-peque">
    {#<!-- FECHA Y VOTOS -->#}
    <div class="row row-post separacion-inferior 
        separacion-superior row-date-peque">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <span class="date-post-peque">{{ fecha|date('d M')|e }}</span>
            

            <span class="date-post-peque">|</span>
            
            {% for eti in etiquetas %}
                <a class="voto-corazon date-post-peque" href="#ETIQUETA">
                    <span>{{ eti|e|capitalize }}</span>
                </a>
            {% endfor %}
            
            
        </div>
        

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 voto-post">
            <a class="comentario-post" href="{{ hrefBlog|e }}">
                <span class="glyphicon glyphicon-comment" aria-hidden="true">
                    
                </span>
                
                
                <span>{{ comentarios|e }}</span>
                
                
            </a>

            
            <span>|</span>

            
            <a class="voto-corazon" href="{{ hrefBlog|e }}">
                <span class="glyphicon glyphicon-heart" aria-hidden="true">
                    
                </span>
                
                
                <span>{{ likes|e }}</span>
                
                
            </a>
            
            
        </div>
        
        
    </div>

    <div class="row row-post row-title-peque">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="titulo-post-peque">
                <a class="titulo-post-peque" href="{{ hrefBlog|e }}">
                    {{ title|e }}
                </a>


            </h3>


        </div>


    </div>
    

   {#<!-- CUERPO -->#}
   <div class="row row-post row-body-peque">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>
                Lorem Ipsum. Proin gravida nibh vel velit auctor 
                aliquet. Aenean sollicitudin, lorem quis 
                bibendum auctor, nisi elit ipsum, nec sagittis 
                sem nibh id elit. 
            </p>


        </div>
       
       
   </div>
   

   {#<!-- LEER -->#}
   <div class="row row-post separacion-superior separacion-inferior 
        row-boton-peque">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
             leer-post separacion-inferior">
            <a class="boton-leer-post" href="{{ hrefBlog|e }}">
                <span class=""> Leer más </span>
                
                
            </a>
            
            
        </div>
       
       
    </div>
   
   
</div>
{% endmacro %}