{% macro filterTrade(method, action, categories, service) %}
    {% import '::macros/filterElement.html.twig' as filtersElements %}
    <form class="filt-form"
          method="{{ method|e }}"
          action="{{ action|e }}">
        {#<div class="form-group">
            <label for="exampleInputEmail1">
                ¿Qué esta usted buscando?
            </label>
            <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="¿Qué esta usted buscando?">
        </div>#}

        {{ filtersElements.filterInput('object', 'object', '¿Qué esta usted buscando?',
        'text', 'form-control objetoTrade') }}

        {{ filtersElements.filterInput('city', 'city', 'Ciudad',
        'text', 'form-control ciudadTrade') }}

        {% if service != 3 %}
            <h5 class="filt-top">Precio</h5>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    {{ filtersElements.filterInput('minPrice', 'minPrice', 'Min',
                    'text', 'form-control minTrade') }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    {{ filtersElements.filterInput('maxPrice', 'maxPrice', 'Max',
                    'text', 'form-control maxTrade') }}
                </div>
            </div>
        {% endif %}

        <h5 class="filt-top">Categorias</h5>
        <div class="row">
            {% for cat in categories %}
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    {{ filtersElements.filterCheckBox('category[]', cat.name,
                    'checkTrade' ~ cat.id, cat.id) }}
                </div>
            {% endfor %}
        </div>

        {{ filtersElements.filterButton('boton', 'submit', 'Buscar') }}
    </form>
{% endmacro %}

{# Dejo el servicio por si acaso se necesitase #}
{% macro filterCar(method, action, service) %}

    {% import '::macros/filterElement.html.twig' as filtersElements %}

    <form class="filt-form"
          method="{{ method|e }}"
          action="{{ action|e }}">

        {{ filtersElements.filterInput('fromPlace', 'fromPlace', 'De',
        'text', 'form-control fil-from') }}

        {{ filtersElements.filterInput('toPlace', 'toPlace', 'A',
        'text', 'form-control fil-to') }}

        {{ filtersElements.filterInputDate('date', 'date', 'Fecha Destino',
        'date', 'form-control datepicker', "now", "now" ) }}

        {{ filtersElements.filterButton('boton', 'submit', 'Buscar') }}
    </form>
{% endmacro %}

{% macro filterHouse(method, action, service) %}

    {% import '::macros/filterElement.html.twig' as filtersElements %}

    <form class="filt-form"
          method="{{ method|e }}"
          action="{{ action|e }}">

        {{ filtersElements.filterInput('destiny', 'destini', 'Destino',
        'text', 'form-control fil-from') }}

        {{ filtersElements.filterInput('capacity', 'capacity', 'Huéspedes',
        'number', 'form-control objetoTrade','inputCapacity', 1) }}

        {% if service != 8 and service != 9 %}
            <h5 class="filt-top">Precio (€/día)</h5>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    {{ filtersElements.filterInput('minPrice', 'minPrice', 'Min',
                    'number', 'form-control minTrade','minPrice',0) }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    {{ filtersElements.filterInput('maxPrice', 'maxPrice', 'Max',
                    'number', 'form-control maxTrade','maxPrice',0) }}
                </div>
            </div>

            {{ filtersElements.filterInputDate('date', 'date', 'Fecha entrada',
            'date', 'form-control datepicker', "now", "now" ) }}

            {{ filtersElements.filterInputDate('date', 'date', 'Fecha salida',
            'date', 'form-control datepicker', "now", "now" ) }}

        {% endif %}

        {{ filtersElements.filterButton('boton', 'submit', 'Buscar') }}

    </form>
{% endmacro %}


{% macro filterTradeScript(count) %}
<script>

    $(document).ready(function(){
        $(".objetoTrade").keyup(function(){
            $(".objetoTrade").val($(this).val());
        });
        
        
        $(".ciudadTrade").keyup(function(){
            $(".ciudadTrade").val($(this).val());
        });
        
        
        $(".minTrade").keyup(function(){
            $(".minTrade").val($(this).val());
        });
        
        
        $(".maxTrade").keyup(function(){
            $(".maxTrade").val($(this).val());
        });
        
        {#{% for i in 0..count %}#}

        $("[class*=checkTrade]").click(function(){

            var numCheck = $(this).val();

            if(!$(this).prop('checked')) {
                $(".checkTrade" + numCheck).prop('checked', false);
            }else{
                $(".checkTrade" + numCheck).prop('checked', true);
            }
        });
        {#{% endfor%}#}
        
    });
</script>
{% endmacro %}


{% macro filterCarScript() %}
    <script>
        $(document).ready(function(){
            $(".fil-from").keyup(function(){
                $(".fil-from").val($(this).val());
            });


            $(".fil-to").keyup(function(){
                $(".fil-to").val($(this).val());
            });


            $(".datepicker").keyup(function(){
                $(".datepicker").val($(this).val());
            });

        });
    </script>
{% endmacro %}