{% macro house(hrefHouse, srcHouse, licenceNumber, titleHouse, address, capacidad, descripcion, hrefEdit, dataEdit, titleEdit,
hrefDelete, dataDelete, titleDelete) %}
    <div class="us-car-element element_{{ dataDelete }}">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="us-car-image-marco">
                            <a href="{{ hrefHouse|e }}">
                                <img class="img-responsive img-car-list" src="{{ srcHouse|e }}">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 us-car-matricula">
                        <span>{{ licenceNumber|e }}</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a href="{{ hrefHouse|e }}">
                            <h3>{{ titleHouse|capitalize|e }}</h3>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 us-car-modelo">
                        <p>{{ address|e }}</p>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 us-car-asientos">
                        <p>
                            {{ capacidad }}<i class="fa fa-users"></i>
                            {#{% if capacidad == 1%}#}
                                {#asiento#}
                            {#{% else %}#}
                                {#capacidad#}
                            {#{% endif %}#}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p>{{ descripcion }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a href="{{ hrefEdit|e }}" class="btn btn-default us-mess-btn"
                           data-id="{{ dataEdit|e }}"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           title="{{ titleEdit|e }}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>

                        <a href="{{ hrefDelete|e }}" class="btn btn-default us-mess-btn deleteCar"
                           data-id="{{ dataDelete|e }}"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           title="{{ titleDelete|e }}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endmacro %}

{% macro atriHouRen(text, icon, number, lg, md, sm, xs) %}
    <div class="row col-lg-{{lg}} col-md-{{md}} col-sm-{{sm}} col-xs-{{xs}} off-col-other-date">
        <i class="fa {{ icon|e }} off-icon-prin" aria-hidden="true"></i>

        <span class="off-target-prin-text">
            {{ text|e|capitalize }}
            <span class="off-target-prin">
                {{ number }}
            </span>

        </span>
    </div>

{% endmacro %}

{% macro atriOffer(dato, icono) %}
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 off-col-other-date-sec">
        <i class="fa
       {#{ icono }#}
       {% if icono == 0 %}
            fa-times-circle off-icon-secund-no
       {% else %}
            fa-check-circle off-icon-secund-ok
       {% endif %}
       " aria-hidden="true"></i>

       <span class="off-target-secon">
           {{ dato|e|capitalize }}
       </span>

    </div>
{% endmacro %}