{#{  }#}

{% macro popup(identificador, title, body, footer) %}
<div class="modal fade" id="{{ identificador|e }}" role="dialog">
    <div class="modal-dialog">
        {#<!-- Modal content-->#}
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                
                
                <h4 class="modal-title">
                    {{ title|e }} 
                </h4>
                
                
            </div>
                
                
            <div class="modal-body">
                {{ body|raw }}
            </div>
            
            
            <div class="modal-footer">
                {{ footer }}
            </div>
            
            
        </div>
      
    </div>
            
            
</div>
            

{% endmacro %}

{% macro popupWithButtons(identificador, title, body, hrefAccept,iconButtonAccept, tooltipAccept, titleButtonAccept,
                          hrefCancel, iconButtonCancel,tooltipCancel, titleButtonCancel) %}

    <div class="modal fade" id="{{ identificador|e }}" role="dialog">
        <div class="modal-dialog">
            {#<!-- Modal content-->#}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>


                    <h4 class="modal-title">
                        {{ title|e }}
                    </h4>


                </div>


                <div class="modal-body textCenter">
                    <p>{{  body|raw }}</p>

                    <div class="separacion-superior">
                        <a href="#{{ hrefAccept }}" class="btn btn-default us-mess-btn" id="{{ hrefAccept }}"
                           data-toggle="tooltip"
                           data-tooltip="true"
                           data-placement="bottom"
                           title="{{ tooltipAccept|e|capitalize }}">

                            {% if titleButtonAccept is not empty  %}
                                {{ titleButtonAccept }}
                            {% endif %}

                            {% if iconButtonAccept is not empty %}
                                <i class="{{ iconButtonAccept }}" aria-hidden="true"></i>
                            {% endif %}
                        </a>

                        <a href="#{{ hrefCancel }}" class="btn btn-default us-mess-btn" id="{{ hrefCancel }}"
                           data-toggle="tooltip"
                           data-tooltip = "true"
                           data-placement="bottom"
                           title="{{ tooltipCancel|e|capitalize }}">

                            {% if titleButtonCancel is not empty  %}
                                {{ titleButtonCancel }}
                            {% endif %}

                            {% if iconButtonCancel is not empty %}
                                <i class="{{ iconButtonCancel }}" aria-hidden="true"></i>
                            {% endif %}
                        </a>
                    </div>

                </div>


            </div>

        </div>


    </div>


{% endmacro %}