{% macro element(hrefOffer, srcImg, dia, origen, destino, plazasLibres, 
    hrefUser, srcImgUser, nameUser, price, vote ) %}
    
    {% import 'macros/user.html.twig' as users %}
    {% import 'macros/star.html.twig' as rating %}

<!-- ELEMENTO LISTA -->
<div class="row sha-offer-list">
    <!-- VEHICULO -->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-sha-car">
        <a href="{{ hrefOffer }}">
            <img class="img-responsive sha-img" 
                 src="{{ srcImg|e }}" alt="">
        </a>
    </div>
    <!-- FIN VEHICULO -->

    
    <!-- DATOS -->
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <!-- DATOS GENERICOS Y USUARIO -->
        <div class="row row-sha-gen-date">
            <!-- DATOS GENERICOS -->
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-sha-generico">
                <!-- FECHA SALIDA --> 
                <div class="row">
                    <h4>
                        <a href="#" class="sha-date">
                            {{ dia|date('l d F - H:i') }}
                        </a>
                        
                        
                        <a href="#" class="sha-date-mobile">
                            {{ dia|date('d M') }}
                            <span class="sha-date-sep-mob">-</span> 
                            {{ dia|date('H:i') }}
                        </a>
                        
                        
                    </h4>
                        
                        
                </div>
                <!-- FIN FECHA SALIDA -->

                
                <!-- ORIGEN - DESTINO --> 
                <div class="row row-sha-info-list">
                    <span class="">
                        {{ origen|e|capitalize }} - {{ destino|e|capitalize }}
                    </span>
                    
                    
                </div>
                <!-- FIN ORIGEN - DESTINO --> 

                
                <!-- PLAZAS DISPONIBLES --> 
                {#<div class="row row-sha-info-list">#}
                    {#<span class="">#}
                        {#{{ plazasLibres|e }} plazas libres#}
                    {#</span>#}
                    {##}
                    {##}
                {#</div>#}
                <!-- FIN PLAZAS DISPONIBLES --> 

                
            </div>
            <!-- FIN DATOS GENERICOS -->

            
            <!-- USUARIO -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-sha-user">
                {{ users.userList(hrefUser, srcImgUser, nameUser) }}
                
                
            </div>
            <!-- FIN USUARIO -->

            
        </div>
        <!-- FIN DATOS GENERICOS Y USUARIO -->

        
        <!-- VALORACIONES Y PRECIO -->
        <div class="row row-sha-price">
            <!-- VALORACION USUARIO -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {{ rating.staticRating(vote|number_format) }}

            </div>
            <!-- FIN VALORACION USUARIO -->

            
            <!-- PRECIO PLAZA -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 
                 col-sha-price">
                <span class="sha-price">
                    {{ price|e|number_format(2, '.') }}€/plaza
                </span>
                
                
            </div>
            <!-- FIN PRECIO PLAZA -->
            

        </div>
        <!-- FIN VALORACIONES Y PRECIO -->
        
        
        <!-- DATOS MOVIL -->
        <div class="row row-sha-mobil">
            <!-- USUARIO: IMAGEN Y NOMBRE -->
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                {{ users.userList(hrefUser, srcImgUser, nameUser) }}
                
                
            </div>
            <!-- FIN USUARIO: IMAGEN Y NOMBRE -->
            
            
            <!-- VOTACION Y DINERO -->
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-sha-vot-mob">
                <!-- VALORACION -->
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        {{ rating.staticRating(vote) }}

                    </div>

                </div>
                <!-- FIN VALORACION -->
                
                
                <!-- PRECIO -->
                <div class="row row-sha-price-mob">
                    <span class="sha-price">
                        {{ price|e|number_format(2, '.') }}€/plaza
                    </span>
                    
                    
                </div>
                <!-- FIN PRECIO -->
                
                
            </div>
            <!-- FIN VOTACION Y DINERO -->
            
            
        </div>
        <!-- FIN DATOS MOVIL -->
        

    </div>
    <!-- FIN DATOS -->
    
    
</div>

<!-- FIN ELEMENTO LISTA -->
{% endmacro %}

