{% macro element(hrefOffer, srcImg, dia, origen, destino, plazasLibres, 
    hrefUser, srcImgUser, nameUser, price, vote, service ) %}
    
    {% import 'macros/user.html.twig' as users %}
    {% import 'macros/star.html.twig' as rating %}
<div class="row sha-offer-list">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-sha-car">
        <a href="{{ hrefOffer }}">
            <img class="img-responsive sha-img"
                 src="{{ srcImg|e }}" alt="">
        </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-sha-rest">
        <div class="row row-sha-gen-date">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-sha-generico">
                <div class="row">
                    <h4>
                        <a href="{{ hrefOffer }}" class="sha-date">
                            {#{{ dia|date('l d F - H:i') }}#}
                            {{ dia|localizeddate('full', 'none', app.request.locale, null, "EEEE dd MMM HH:mm")|capitalize }}
                        </a>
                        
                        <a href="{{ hrefOffer }}" class="sha-date-mobile">
                            {#{{ dia|date('d M') }}#}
                            {{ dia|localizeddate('full', 'none', app.request.locale, null, "dd MMM") }}
                            <span class="sha-date-sep-mob">-</span> 
                            {#{{ dia|date('H:i') }}#}
                            {{ dia|localizeddate('full', 'none', app.request.locale, null, "HH:mm") }}

                        </a>
                    </h4>
                </div>

                <div class="row row-sha-info-list">
                    <span class="">
                        {{ origen|e|capitalize }} - {{ destino|e|capitalize }}
                    </span>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-sha-user">
                {{ users.userList(hrefUser, srcImgUser, nameUser) }}
            </div>
        </div>

        <div class="row row-sha-price">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {#<p class="sha-valoracion">Valoraciones</p>#}
                {{ rating.staticRating(vote|number_format) }}
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 
                 col-sha-price">
                <span class="sha-price">
                    {% if service == 4 %}
                        {{ price|e|number_format(2, '.') }}€/plaza
                    {% elseif service == 5 %}
                        Desde {{ price|e|number_format(2, '.') }}€/paquete
                    {% endif %}
                </span>
            </div>
        </div>

        <div class="row row-sha-mobil">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-sha-us-mob">
                {{ users.userList(hrefUser, srcImgUser, nameUser) }}
            </div>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-sha-vot-mob">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p class="sha-valoracion">Valoraciones</p>
                        {{ rating.staticRating(vote) }}
                    </div>
                </div>

                <div class="row row-sha-price-mob">
                    <span class="sha-price">
                        {% if service == 4 %}
                            {{ price|e|number_format(2, '.') }}€/plaza
                        {% elseif service == 5 %}
                            Desde {{ price|e|number_format(2, '.') }}€/paquete
                        {% endif %}
                    </span>
                </div>

            </div>
        </div>
    </div>

</div>
{% endmacro %}

