{% macro userList(href, src, nombre) %}
<!-- IMAGEN USUARIO -->
<div class="row">
    <a href="{{ href|default('#')|e }}">
        <img class="center-block img-circle 
            img-responsive us-perfil-list" 
            src="{{ src|e|default(asset('img/userDefault.jpg')) }}" 
            alt="img-perfil-{{ nombre|e }}">
    </a>
            
            
</div>
<!-- FIN IMAGEN USUARIO -->


<!-- NOMBRE USUARIO -->
<div class="row row-hre-user-name">
    <a href="{{ href|default('#')|e }}" class="hre-user-name-grid">
        {{ nombre|e }}
    </a>
    
    
</div>
<!-- FIN NOMBRE USUARIO -->
{% endmacro %}




{% macro userOffer(href, src, nombre) %}

{% endmacro %}