{% macro userList(href, src, nombre) %}
<!-- IMAGEN USUARIO -->
<div class="row">
    <a href="{{ href|default('#')|e }}">
        <img class="center-block img-circle 
            img-responsive us-perfil-list" 
            src="{{ src|e|default(asset('img/userDefault.jpg')) }}" 
            alt="img-perfil-{{ nombre|e }}">
    </a>
            
            
</div>
<!-- FIN IMAGEN USUARIO -->


<!-- NOMBRE USUARIO -->
<div class="row row-hre-user-name">
    <a href="{{ href|default('#')|e }}" class="hre-user-name-grid">
        {{ nombre|e }}
    </a>
    
    
</div>
<!-- FIN NOMBRE USUARIO -->
{% endmacro %}




{% macro userOffer(href, src, nombre) %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="us-perfil-list center-block">
                <a class="off-user-image" href="{{ href|e }}">
                    <img class=" img-circle img-responsive"
                         src="{{ src|e }}"
                         alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="row row-us-name">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a class="off-user-name" href="{{ href|e }}" >
                {{ nombre|e }}
            </a>
        </div>
    </div>
{% endmacro %}



{% macro userComments(href, src, nombre, fecha, number) %}
<!-- IMAGEN USUARIO -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="us-perfil-list center-block">
            <a href="{{ href|default('#')|e }}">
                <img class="img-responsive"
                     src="{{ src|e|default(asset('img/userDefault.jpg')) }}"
                     alt="img-perfil-{{ nombre|e }}">
            </a>
        </div>
    </div>   
</div>
<!-- FIN IMAGEN USUARIO -->


<!-- NOMBRE USUARIO -->
<div class="row row-hre-user-name">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="{{ href|default('#')|e }}" class="hre-user-name-grid">
            {{ nombre|e|default('User Name') }}
        </a>
    
        
    </div>
</div>
<!-- FIN NOMBRE USUARIO -->


<!-- FECHA CREACION -->
<div class="row us-date-comments">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span>{{ fecha|date('d/m/Y H:i') }}</span>        
    </div>
</div>
<!-- FIN FECHA CREACION  -->


<!-- NUMERO COMENTARIO -->
<div class="row us-number-comments">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span>{{ number + 1 }}</span>      
    </div>
</div>
<!-- FIN FECHA CREACION  -->
{% endmacro %}





{% macro userAddress(defecto, idUsuario, nombre, calle, codigoPostal, region, ciudad, pais, hrefEditar, dataIdBorrar) %}
    <div class="
        {% if defecto %}
            us-address-target2
        {% else %}
            us-address-target
        {% endif %}containerAddress_{{ idUsuario|e }}">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <h4>
                    {% if defecto %}
                        <i class="fa fa-home" aria-hidden="true"></i>
                    {% endif %}
                    {{ nombre|e|capitalize }}
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>{{ calle|e }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>{{ codigoPostal|e }} -
                    {{ region|e|capitalize }},
                    {{ ciudad|e|capitalize }}
                    {{ pais|e|upper }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a href="{{ hrefEditar|e }}"
                   class="btn-default btn editAddress">
                    Editar
                </a>

                <button data-id="{{ dataIdBorrar|e }}"
                    class="btn-default btn deleteAddress">
                    Borrar
                </button>
            </div>
        </div>
    </div>
{% endmacro %}





{% macro userInscr(href, src, nombre, estrellas, valoraciones, escribe, formMessage, pesoPaqueteMin, pesoPaqueteMax) %}
    {% import 'macros/star.html.twig' as est %}

    <div class="user-inscrip">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="us-perfil-list center-block">
                    <a href="{{ href|default('#')|e }}">
                        <img class="img-responsive"
                             src="{{ asset(src, 'img')|default(asset('img/userDefault.jpg', 'img'))|e }}"
                             alt="img-perfil-{{ nombre|e }}">
                    </a>
                </div>
            </div>
        </div>


        <div class="row row-hre-user-name">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a href="{{ href|default('#')|e }}" class="hre-user-name-grid">
                    {{ nombre|e|default('User Name') }}
                </a>
            </div>
        </div>


        <div class="row text-center row-star">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{ est.staticRating(estrellas|e) }}
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center us-val">
                {% if valoraciones == 1 %}
                    {{ valoraciones|e }} valoración
                {% else %}
                    {{ valoraciones|e }} valoraciones
                {% endif %}
            </div>
        </div>

        {% if pesoPaqueteMin is not null and pesoPaqueteMax is not null %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center us-val">
                    Bulto de {{ pesoPaqueteMin }} - {{ pesoPaqueteMax }} kg
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <button class="btn-default btn off-btn-write butonWriteUser"
                        data-toggle="modal"
                        data-target="#writeUser"
                        data-name="{{ nombre }}">
                    Escríbele
                </button>
            </div>
        </div>
    </div>

{% endmacro %}

