{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/script.html.twig' as codMenu %}

{% block title %}
    Banco
{% endblock %}

{% block alertProfile %}
    
    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
            {{ alerts.alert('alert-success', flash_message, null) }}
        {% endfor %} 

        {% for flash_message in app.session.flashbag.get('messageFail') %}
            {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

   
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}
    <div class="row us-dataPersonal-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                Cambiar Datos Bancarios
            </h3>
            <hr/>

            <p class="texto-info">
                Recuerde que debe incluir el IBAN y un formato similar al siguiente: ESxxBBBBOOOODDCCCCCCCCCC. <br>
            </p>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {{form(form)}}
                </div>
            </div>

            <p class="texto-info2">
                * Este número de cuenta se utilizará única y exclusivamente para realizar los reembolsos de sus
                transacciones.
            </p>

            <p class="texto-info2">
                * What Want Web S.L. no verificará ningún número de cuenta corriente.
            </p>

            <p class="texto-info2">
                * What Want Web S.L. no se hará responsable si el número de cuenta indicado no existe o es incorrecto.
            </p>
        </div>
    </div>
    
{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}

    {{ codMenu.scriptUserMenu('.us-dataPersonal-row') }}
       
{% endblock %}
    
