{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/script.html.twig' as codMenu %}

{% block title %}
    Banco
{% endblock %}

{% block alertProfile %}
    
    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
            {{ alerts.alert('alert-success', flash_message, null) }}
        {% endfor %} 

        {% for flash_message in app.session.flashbag.get('messageFail') %}
            {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

   
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}
    <div class="row us-dataPersonal-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                Cambiar Datos Bancarios
            </h3>
            <hr/>

            <p class="texto-info">
                Recuerde que el formato debe ser su IBAN que debe tener un formato similar a este, ESxxBBBBOOOODDCCCCCCCCCC. <br>
                Siendo BBBB la entidad, OOOO la oficina, DD el dígito de control y CCCC el número de cuenta.
            </p>

            {{form(form)}}
        </div>
    </div>
    
{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}

    {{ codMenu.scriptUserMenu('.us-dataPersonal-row') }}
       
{% endblock %}
    
