{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/script.html.twig' as codMenu %}

{% block title %}
    Email
{% endblock %}

{% block alertProfile %}
    
    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
            {{ alerts.alert('alert-success', flash_message, null) }}
        {% endfor %} 

        {% for flash_message in app.session.flashbag.get('messageFail') %}
            {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

    {{ form_errors(form) }}
   
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}


    <div class="row us-dataPersonal-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                Cambiar Email
            </h3>
            <hr/>

            {{ form_start(form) }}
            <label class="control-label">
                Email Actual
            </label>
            <p>
                {{ user.email }}
            </p>
            {{ form_row(form.email) }}
            <p>
                Para confirmar finalmente que es usted quien cambia el email debe ingresar su contraseña para confirmarlo.
            </p>
            {{ form_row(form.passwordEnClaro) }}
            {{ form_row(form._token) }}
            {{ form_row(form.saveEmail)}}
        </div>
    </div>
{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}
    {{ codMenu.scriptUserMenu('.us-dataPersonal-row') }}
{% endblock %}
    
