{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/message.html.twig' as message %}
{% import 'macros/offer.html.twig' as offers %}
{% import 'macros/script.html.twig' as codMenu %}

{% block stylesheets %}
    {{ parent() }}


{% endblock %}

{% block title %}
    Mi Cuenta
{% endblock %}

{% block alertProfile %}
    
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}

{% endblock %}


{% block bodyProfile %}
    <div class="row us-dataPersonal-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                Mis datos personales
                
            </h3>
            <hr/>

            <div class="row us-row-header-public">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="us-pro-pub-marco">
                        <img class="img-responsive us-pro-public-img"
                             src="{{ asset(usuario.photo.url|default('web/img/userDefault.jpg'),'img') }}"/>
                    </div>
                </div>


                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h2>{{ usuario.username }}</h2>
                    <div class="row off-row-rating">
                        <div class="col-lg-12">
                    <span class="off-vote">
                        {#<!-- VALORACIONES -->#}
                        <input id=""
                               class="valoration rating rating-loading"
                               data-show-clear="false"
                               data-show-caption="false"
                               data-display-only="true"
                               type="number"
                               step="1"
                               value="{{ usuario.avgScore }}" />

                        {#<!-- FIN VALORACIONES -->#}

                    </span>
                        </div>
                    </div>
                </div>
            </div>

            {% if usuario.name != '' and usuario.surname != '' %}
            <div class="row separacion-superior separacion-inferior us-datos-personales">
                <div class="col-lg-12">
                    <span>Nombre:</span> {{ usuario.name }} {{ usuario.surname }}
                </div>
            </div>
            {% endif %}

            <div class="row us-datos-personales">
                {% if usuario.birthdate != '' %}
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 separacion-inferior">
                    <span>Edad:</span> {{ ('now'|date('Y') - usuario.birthdate|date('Y') - 1) }}
                </div>
                {% endif %}

                {% if usuario.sex != '' %}
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 separacion-inferior">
                    <span>Sexo:</span>
                    {% if usuario.sex == 'f' %}
                        Feminino
                    {% elseif usuario.sex == 'm' %}
                        Masculino
                    {% endif %}
                </div>
                {% endif %}
            </div>

            <div class="row us-datos-personales">
                {% if usuario.email != '' %}
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 separacion-inferior">
                    <span>Email:</span> {{ usuario.email }}
                </div>
                {% endif %}

                {% if usuario.phone %}
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 separacion-inferior">
                    <span>Teléfono:</span> {{ usuario.prefix }} {{ usuario.phone }}
                </div>
                {% endif %}
            </div>
 
            {% if usuario.defaultaddress is not null %}
            <div class="row us-datos-personales form-group">
                <div class="col-lg-12">
                    <span>Dirección por defecto:</span>
                    <div class="us-dir-public">
                        {{ usuario.defaultaddress.street }} <br>
                        {{ usuario.defaultaddress.zipCode }} - {{ usuario.defaultaddress.region }}
                        ({{ usuario.defaultaddress.city }})
                    </div>

                </div>
            </div>

            {% endif %}
            <div class="row us-datos-personales">
                <div class="col-lg-12">
                    <label class="control-label">¡Enlace para invitar a tus amigos!</label>
                    <div class="input-group input-especial">
                        <input type="text" class="form-control"
                               value="{{ 'https://whatwantweb.com/user/register/'~usuario.linkInvitation }}"
                               placeholder="{{ 'https://whatwantweb.com/user/register/'~usuario.linkInvitation }}"
                               id="copy-input" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-copy" type="button" id="copy-button"
                                    data-toggle="tooltip" data-placement="button" data-clipboard-action="copy" data-clipboard-target="#copy-input"
                                    title="Copiar">
                                <i class="fa fa-files-o" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}

    {{ codMenu.scriptUserMenu('.us-dataPersonal-row') }}

    <script type="text/javascript">
        $(document).ready(function(){
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        });
    </script>


    <script src="{{ asset('js/starRating/star-rating.js') }}"></script>

    <script>
        $(document).ready( function(){

            $('.valoration').rating({
                displayOnly: true,
            });
        });
    </script>
    
    <script type="text/javascript" src="{{ asset('js/clipboard.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var clipboard = new Clipboard('.btn-copy');

            clipboard.on('success', function(e) {
                console.info('Action:', e.action);
                console.info('Text:', e.text);
                console.info('Trigger:', e.trigger);

                e.clearSelection();
            });

            clipboard.on('error', function(e) {
                console.error('Action:', e.action);
                console.error('Trigger:', e.trigger);
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            // Initialize the tooltip.
            $('#copy-button').tooltip();

            // When the copy button is clicked, select the value of the text box, attempt
            // to execute the copy command, and trigger event to update tooltip message
            // to indicate whether the text was successfully copied.
            $('#copy-button').bind('click', function() {
                var input = document.querySelector('#copy-input');
                input.setSelectionRange(0, input.value.length + 1);
                try {
                    var success = document.execCommand('copy');
                    if (success) {
                        $('#copy-button').trigger('copied', ['Copiado!']);
                    } else {
                        $('#copy-button').trigger('copied', ['Copia con Ctrl-c']);
                    }
                } catch (err) {
                    $('#copy-button').trigger('copied', ['Copia con Ctrl-c']);
                }
            });

            // Handler for updating the tooltip message.
            $('#copy-button').bind('copied', function(event, message) {
                $(this).attr('title', message)
                        .tooltip('fixTitle')
                        .tooltip('show')
                        .attr('title', "Copy to Clipboard")
                        .tooltip('fixTitle');
            });
        });
    </script>
{% endblock %}
    
