{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/message.html.twig' as message %}
{% import 'macros/offer.html.twig' as offers %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.print.css') }}" />
{% endblock %}

{% block title %}
    Profile
{% endblock %}

{% block alert %}
    
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}

{% endblock %}


{% block bodyProfile %}
    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
    
    <h2>LISTA OFERTA</h2>
    {% for i in 0..4 %}
        {{ offers.offUser('#oferta', '' ,'Title Offer', 
            include('macros/text.html.twig'), 'leer', '#editar', 
            'editar', '#borrar', 'borrar') }}
    {% endfor %}
    
    <h2>MENSAJES RECIBIDO ABIERTO</h2>
    {{ message.messElementReceivedOpen('Usuario', "now",
        'Title Message', include('macros/text.html.twig'),
        'id', '#borrar', 'borrar', '#contestar', 'contestar') }}
    
    <h2>MENSAJES ENVIADO ABIERTO</h2>
    {{ message.messElementSentOpen('Usuario', "now",
        'Title Message', include('macros/text.html.twig'),
        'id', '#borrar', 'borrar') }}
    
    <h2>MENSAJES RECIBIDOS</h2>
    {% for i in 0..2 %}
        
        {{ message.messElementReceivedNot('Usuario', "now",
            'Title Message'~i, include('macros/text.html.twig'),
            'id', 'leer', '#borrar', 'borrar') }}
            
        {{ message.messElementReceived('Usuario', "now",
            'Title Message'~i, include('macros/text.html.twig'),
            'id', 'leer', '#borrar', 'borrar') }}
    {% endfor %}
    
    <h2>MENSAJES ENVIADOS</h2>
    {% for i in 0..4 %}
        
        {{ message.messElementSent('Usuario', "now",
            'Title Message'~i, include('macros/text.html.twig'),
            'id', 'leer', '#borrar', 'borrar') }}
    {% endfor %}
{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        });
    </script>
    
{#    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-2.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-ui.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/moment/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/fullcalendar-lang-all.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>
    
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}
    