{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/message.html.twig' as message %}
{% import 'macros/offer.html.twig' as offers %}

{% block title %}
    Profile
{% endblock %}

{% block alert %}
    
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}
    <div class="row us-dataPersonal-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                Mis datos personales
            </h3>
            <hr/>

            <div class="row us-row-header-public">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="us-pro-pub-marco">
                        <img class="img-responsive us-pro-public-img"
                             src="{{ asset(usuario.photo.url|default('web/img/userDefault.jpg'),'img') }}"/>
                    </div>
                </div>


                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h2>{{ usuario.username }}</h2>
                    <div class="row off-row-rating">
                        <div class="col-lg-12">
                    <span class="off-vote">
                        <!-- VALORACIONES -->
                        <input id=""
                               class="valoration rating rating-loading"
                               data-show-clear="false"
                               data-show-caption="false"
                               data-display-only="true"
                               type="number"
                               step="1"
                               value="{#{{ usuario.avg_score }}#}" />

                        <!-- FIN VALORACIONES -->

                    </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row separacion-superior separacion-inferior us-datos-personales">
                <div class="col-lg-12">
                    <span>Nombre completo:</span> {{ usuario.name }} {{ usuario.surname }}
                </div>
            </div>

            <div class="row us-datos-personales">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 separacion-inferior">
                    <span>Edad:</span> {{ ('now'|date('Y') - usuario.birthdate|date('Y') - 1) }}
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 separacion-inferior">
                    <span>Sexo:</span>
                    {% if usuario.sex == 'f' %}
                        Feminino
                    {% elseif usuario.sex == 'm' %}
                        Masculino
                    {% endif %}
                </div>
            </div>

            <div class="row us-datos-personales">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 separacion-inferior">
                    <span>Email:</span> {{ usuario.email }}
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 separacion-inferior">
                    <span>Teléfono:</span> {{ usuario.prefix }} {{ usuario.phone }}
                </div>
            </div>

            <div class="row us-datos-personales">
                <div class="col-lg-12">
                    <span>Dirección por defecto:</span>
                    <div class="us-dir-public">
                        {{ usuario.defaultaddress.street }} <br>
                        {{ usuario.defaultaddress.zipCode }} - {{ usuario.defaultaddress.region }}
                        ({{ usuario.defaultaddress.city }})
                    </div>

                </div>
            </div>


        </div>
    </div>
{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        });
    </script>
{% endblock %}
    
