{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}


{% block title %}
    Teléfono
{% endblock %}

{% block alert %}
    
    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
            {{ alerts.alert('alert-success', flash_message, null) }}
        {% endfor %} 

        {% for flash_message in app.session.flashbag.get('messageFail') %}
            {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

{#    {{ form_errors(form) }}#}
   
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}
    {#{{dump(app.user)}}#}
    {% if app.user.phone is not empty %}
        Tlfn: {{app.user.prefix}} &nbsp; {{ app.user.phone }}   <br> 
    
        {% if app.user.smsConfirmed %}
            <a href="{{path('user_profileChangePhone')}}" id="changePhone" data="confirm" > Cambiar tlfn </a>
            <br>
            {% if phones is not empty %}
                <a href="{{path('user_profileConfirmPhone')}}">Introducir código de confirmación</a>
                * No verá el el tlfn nuevo hasta que lo confirmes
            {% endif %}    
        {% else %}
            <a href="">Confirmar tlfn</a>
        {% endif %}    
    
    {% endif %}    
    
{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}
    
    <script type="text/javascript">
        $(document).ready(function () {
            
            $(document).on('click','#changePhone',alertChangePhone);
            
            function alertChangePhone(e){
                e.stopPropagation();
                alert("El teléfono actual está confirmado,al cambiarlo deberá de confirmar el tlfn nuevo");
            }
        });
    </script>    
{% endblock %}
    
