{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}


{% block title %}
    Teléfono
{% endblock %}

{% block alert %}
    
    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
            {{ alerts.alert('alert-success', flash_message, null) }}
        {% endfor %} 

        {% for flash_message in app.session.flashbag.get('messageFail') %}
            {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

{#    {{ form_errors(form) }}#}
   
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}
    <div class="row us-dataPersonal-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                Cambiar Teléfono
            </h3>
            <hr/>
            {#{{dump(app.user)}}#}
            {% if app.user.phone is not empty %}
                <label class="control-label">Teléfono</label>
                <p>
                    {{app.user.prefix}} &nbsp; {{ app.user.phone }}
                </p>

                {% if app.user.smsConfirmed %}
                    <a class="btn btn-default us-btn-phoneProfile" href="{{ path('user_profileChangePhone') }}"
                       id="changePhone"
                       data="confirm" >
                        Cambiar teléfono
                    </a>

                    {% if phones is not empty %}
                        <a href="{{path('user_profileConfirmPhone')}}">
                            Introducir código de confirmación
                        </a>

                        * No verá el tlfn nuevo hasta que lo confirme
                    {% endif %}

                {% else %}
                    <a class="btn btn-default us-btn-phoneProfile" href="#">
                        Confirmar teléfono
                    </a>
                {% endif %}

            {% endif %}
        </div>
    </div>

{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}
    
    <script type="text/javascript">
        $(document).ready(function () {
            
            $(document).on('click','#changePhone',alertChangePhone);
            
            function alertChangePhone(e){
                e.stopPropagation();
                alert("El teléfono actual está confirmado,al cambiarlo deberá de confirmar el tlfn nuevo");
            }
        });
    </script>    
{% endblock %}
    
