{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}


{% block title %}
    Direcciones
{% endblock %}

{% block alertProfile %}
    
    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
            {{ alerts.alert('alert-success', flash_message, null) }}
        {% endfor %} 

        {% for flash_message in app.session.flashbag.get('messageFail') %}
            {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

   
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}

    <div class="row us-dataPersonal-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <h3>Editar dirección</h3>
            <hr>

            {{ form_start(form)}}
            {{ form_row(form.name) }}
            {{ form_row(form.isDefault) }}
            {{ form_row(form.country) }}
            {{ form_row(form.city) }}
            {{ form_row(form.street) }}
            {{ form_row(form.zipCode) }}
            {#<div class="form-group">#}
                {{ form_label(form.prefix) }}
                <div class="user-register-phone">
                    {{ form_widget(form.prefix) }}
                    {{ form_widget(form.phone) }}
                </div>
            {#</div>#}
            {{ form_row(form._token) }}
            {#<div class="row">#}
                {{ form_row(form.editAddress) }}
            {#</div>#}

        </div>
    </div>
    
{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}

{% endblock %}
    
