{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/message.html.twig' as message %}
{% import 'macros/offer.html.twig' as offers %}

{% block title %}
    Profile
{% endblock %}

{% block alert %}
    
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}
    {{ form_start(form) }}
    {{ form_row(form._token) }}
    {{ form_row(form.unsubscribe)}}
    {#<h2> 
        Darse de baja en WhatWantWeb
    </h2>
    <div class="form-group">
        <label for="comment">Indíquenos el motivo de su baja.</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
    <button type="submit" id="" 
            name="" 
            class="btn-default btn">
        Baja
    </button>#}
{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}
{% endblock %}
    

