<!-- ELEMENTO-->
 <div class="col-tra-elem col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
    
    <!-- BODY -->
    <div class="tra-cont-elem">
        {#{dump(trade.offer.photos.0.url)}#}
            <!-- IMAGEN -->
            <div class="row row-tra-mar">
                <a href="#ARTICULO">
                    <img class="img-responsive tra-grid-img" 
                        src="{{ trade.offer.photos.0.url }}"
                        alt="">
                </a>
            </div>
            <!-- FIN IMAGEN -->


            <!-- TITLE-->
            <div class="row row-tra-title-grid">
                <h4>
                    <a href="#ARTICULO" class="tra-title-elem">
                        {{trade.offer.title }}
                    </a>
                </h4>
            </div>
            <!-- FIN TITLE -->


            <!-- CATEGORIAS -->
            <div class="row row-tra-cat-grid">
               
                <a href="#CATEGORIA" class="tra-cat-grid">
                    <span class="">{{ trade.category.name}} </span>
                </a>
               
            </div>
            <!-- FIN CATEGORIAS -->


            <!-- USER Y PRECIO -->
            <div class="row row-tra-upr-grid">
                
                <!-- USER -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-tra-user"
                     data-href='url://link-for-first-row/'>

                   <!-- IMAGEN USUARIO -->
                   <div class="row row-tra-grid-user-img">
                        <a href="#USUARIO">
                            <img class="center-block img-circle 
                                img-responsive" 
                                src="{{ trade.offer.userAdmin.photo.url }}" 
                                width="50" alt="">
                        </a>
                   </div>
                   <!-- FIN IMAGEN USUARIO -->

                   <!-- NOMBRE USUARIO -->
                   <div class="row row-tra-grid-name">
                       <a href="#USUARIO">{{ trade.offer.userAdmin.username }}</a>
                   </div>
                   <!-- FIN NOMBRE USUARIO -->

                </div>
                <!-- FIN USER -->


                <!-- PRECIO -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 
                    col-tra-grid-price">
                    
                    <span class="tra-price">
                        {{trade.price}}€
                    </span>
                </div>
                <!-- FIN PRECIO -->


            </div>
            <!-- FIN USER Y PRECIO -->
        
        
    </div>
    <!-- BODY -->
    
     
 </div>
<!-- FIN ELEMENTO-->
