{% extends '::base.html.twig' %}
{% import 'macros/offer.html.twig' as offers %}
{% import 'macros/user.html.twig' as usuarios %}
{% import 'macros/star.html.twig' as estrella %}

{% block header %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Inscripciones</h2>
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 us-my-off-sep">
                {{ offers.offUserInscrip('#', 'web/img/placeholder.png', 'Título Oferta', include('macros/text.html.twig')) }}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a href="#" class="btn btn-default btn-normal">
                    Escribe a todos
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row row-user-col">
                    {% set limite = random(10) %}
                    {% for i in 0..limite %}
                        <div class="col-lg-3 col-md-3 col-sm-4 col-user-ins">
                            {{ usuarios.userInscr('#', 'web/img/placeholder.png', 'Usuario', random(5), random(99), '#') }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}

    {{ include('nav/menuScript.html.twig') }}
    {{ estrella.staticRatingJS() }}

{% endblock %}

{% block footer %}
    {{ include('footer/sponsorFooter.html.twig') }}
    {{ parent() }}
{% endblock %}