{% extends '::base.html.twig' %}
{% import 'macros/offer.html.twig' as offers %}
{% import 'macros/user.html.twig' as usuarios %}
{% import 'macros/star.html.twig' as estrella %}
{% import 'macros/popup.html.twig' as popups %}

{% set to = app.session.get('username') %}
{% for inscription in offer.offer.inscriptions %}
    {% set to = to ~ ',' ~ inscription.username%}
{% endfor %}

{% block header %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}



{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Inscripciones</h2>
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 us-my-off-sep">
                {{ offers.offUserInscrip('#', asset(offer.offer.photos.0.url, 'img'), offer.offer.title,
                   offer.offer.description) }}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn-default btn off-btn-write butonWriteUser"
                        data-toggle="modal"
                        data-target="#writeUser"
                        data-name="{{ to }}">
                    Escribe a todos
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row row-user-col">

                    {% for inscription in offer.offer.inscriptions %}

                        <div class="col-lg-3 col-md-3 col-sm-4 col-user-ins">
                            {{ usuarios.userInscr(path('user_public_profile',{username:inscription.username}),
                                asset(inscription.user_photo,'img'), inscription.username,
                                inscription.avg_score, 5, '##',formMessage) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block popupBlock %}



    {% set title = 'Enviar mensaje a todos' %}
    {{ popups.popup('writeUser', title, include('offer/offPrivateMessage.html.twig') ) }}

{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}

    {{ include('nav/menuScript.html.twig') }}
    {{ estrella.staticRatingJS() }}

    <script>
        $(document).ready(function (){ console.log("hola");
            $(document).on('click','.butonWriteUser', changeUsername);

            var to = "{{ to }}";

            function changeUsername(e){
                e.stopPropagation();

                var username = $(this).attr('data-name');

                $('#mensajeTo').val(username);
            }
        });
    </script>

{% endblock %}

{% block footer %}
    {{ include('footer/sponsorFooter.html.twig') }}
    {{ parent() }}
{% endblock %}