{% extends '::base.html.twig' %}
{% import 'macros/offer.html.twig' as offers %}
{% import 'macros/user.html.twig' as usuarios %}
{% import 'macros/star.html.twig' as estrella %}
{% import 'macros/popup.html.twig' as popups %}

{% set to = app.session.get('username') %}
{% set hasInscriptions = false %}

{% for inscription in offer.offer.inscriptions %}
    {# Debe estar en estado 3 para poder enviarle los mensajes #}
    {% if inscription.status == 3 %}

        {% set hasInscriptions = true %}
        {# compruebo que el nombre del usuario no esté ya dentro del array 'to' #}
        {% if inscription.username not in to %}
            {% set to = to ~ ',' ~ inscription.username %}
        {% endif %}
    {% endif %}
{% endfor %}

{% block header %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}


{% block alert %}

    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
        {{ alerts.alert('alert-success', flash_message, null) }}
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('messageFail') %}
        {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

{% endblock %}

{% block body %}

    <div class="container cd-main-content cont-inscri">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Inscripciones</h2>
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 us-my-off-sep">
                {{ offers.offUserInscrip('#', asset(offer.offer.photos.0.url, 'img'), offer.offer.title,
                   offer.offer.description) }}
            </div>
        </div>

        {# Si la oferta no tiene inscritos #}
        {% if not hasInscriptions %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>Aún no tienes a gente inscrita, seguro que pronto comprará alguien tu servicio.</p>
                </div>
            </div>

        {# Si la oferta tiene inscritos #}
        {% else %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn-default btn off-btn-write butonWriteUser"
                            data-toggle="modal"
                            data-target="#writeUser"
                            data-name="{{ to }}">
                        Escribe a todos
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row row-user-col">
                        {% for inscription in offer.offer.inscriptions %}
                        {#{{ dump(inscription) }}#}
                            {# Compruebo que en la lista de inscritos el inscrito sea oficial, que haya pagado (status == 3) #}
                            {% if inscription.status == 3 %}
                                {% if offer.offer.service.id == 5 %}
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-user-ins">
                                        {{ usuarios.userInscr(path('user_public_profile',{username:inscription.username}),
                                        asset(inscription.user_photo,'img'), inscription.username,
                                        inscription.avg_score, inscription.valoration_num, '##',formMessage,inscription.user_id,
                                        inscription.id, inscription.courier.weight_min, inscription.courier.weight_max) }}
                                {% else %}
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-user-ins">
                                        {{ usuarios.userInscr(path('user_public_profile',{username:inscription.username}),
                                        asset(inscription.user_photo,'img'), inscription.username,
                                        inscription.id, inscription.avg_score, inscription.valoration_num, '##',formMessage,inscription.user_id) }}
                                {% endif %}
                                    </div>

                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
        {% endif %}
    </div>

{% endblock %}

{% block popupBlock %}

    {{ popups.popup('cancelUser', 'Cancelar Inscrito',include('offer/formCancelOffer.html.twig') ) }}

    {% set title = 'Enviar mensaje a todos' %}
    {{ popups.popup('writeUser', title, include('offer/offPrivateMessage.html.twig') ) }}

{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}

    {{ include('nav/menuScript.html.twig') }}
    {{ estrella.staticRatingJS() }}

    <script>
        $(document).ready(function (){

            var to = "{{ to }}";
            var userId, inscriptionId;

            $(document).on('keyup', '#cancelation_concept',activeSendForm);
            $(document).on('click', '#cancelation_sendForm',cancelUserOffer);
            $(document).on('click', '#cancelation_cancelSend', function(e){
                                                                    $('#cancelUser .close').click()
                                                                });
            $(document).on('click', '.butonCancel', function(e){
                                                        userId = $(this).data('id');
                                                        inscriptionId = $(this).data('inscription')});

            $(document).on('click','.butonWriteUser', changeUsername);

            function changeUsername(e){
                e.stopPropagation();

                var username = $(this).attr('data-name');

                $('#mensajeTo').val(username);
            }

            function activeSendForm(e){

                var text = $('#cancelation_concept').val().replace(/\s+/g,' ').trim();

                if(text.length >= 30){
                    $('#cancelation_sendForm').attr('disabled',false);
                }else{
                    $('#cancelation_sendForm').attr('disabled',true);
                }
            }

            function cancelUserOffer(e){
                e.preventDefault();

                var concept = $('#cancelation_concept').val();
                var user_id = userId;
                var offer_id = {{ app.request.get('idOffer') }}

                var data = { 'concept': concept,
                             'user_id': user_id,
                             'offer_id': offer_id,
                             'inscription_id': inscriptionId  }

                $.ajax({
                    type: "POST",
                    url: '{{ path('ajax_cancelInscription') }}',
                    data: data,
                    success: function(data) {

                        location.reload();

                    },
                    error: function()
                    {
                        $('.contentAlert').html("<div class='alert "+
                                "alert-warning alert-dismissible' role='alert'>"+
                                "<button type='button' class='close' "+
                                "data-dismiss='alert' aria-label='Close'>"+
                                "<span aria-hidden='true'>×</span>"+
                                "</button><strong></strong>"+
                                "Ha ocurrido un error, por favor inténtelo más tarde</div>");

                    }
                });
            }
        });
    </script>

{% endblock %}

{% block footer %}
    {{ include('footer/sponsorFooter.html.twig') }}
    {{ parent() }}
{% endblock %}