{% extends '::base.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{#{ BLOQUES -->     offerImage 
                    offerUser
                    offerTitle
                    offerPrice
                    offerVote
                    offerDescription
                    offerVariableData
                    offerRelacionadas
                    offerComments
                    offerPublicidad
                    offerDestacadas 
                    offerOtherData 
}#}

{% block body %}
<div class="container-fluid cd-main-content off-container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {% block offerImage %} {% endblock %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12
                             off-col-rrss">
                            {{ include('rrss/rrss.html.twig') }}
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-off-prin">
                    <div class="row ">
                        <div class="col-lg-12">
                            <h2>
                                {% block offerTitle %} {% endblock %}
                            </h2>

                            <span class="off-date">
                                {% block offerDate %} {% endblock %}
                            </span>

                            <hr/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="off-middle">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center off-middle-hijo">
                                {% block offerUser %} {% endblock %}
                                {% block offerVote %} {% endblock %}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 off-middle-hijo text-center">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 separacion-inferior">
                                        <span class="off-price">
                                            {% block offerPrice %} {% endblock %}
                                        </span>
                                    </div>

                                    {% if is_granted('create_msg_offer', offer.offer) %}
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-center">
                                                <button class="btn-default btn off-btn-write"
                                                        data-toggle="modal"
                                                        data-target="#writeUser">
                                                    Enviar mensaje
                                                </button>
                                            </div>

                                        </div>
                                    {%endif%}

                                    {# BOTON INSCRITOS A LA ESPERA A QUE SE CREE EL CONDICIONAL PARA QUE APAREZCA SOLO
                                        CUANDO LA OFERTA TE PERTENECE #}
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-center">
                                            <a href="#" class="btn-default btn off-btn-write">
                                                Inscritos
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row separacion-inferior">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12
                             off-description-normal">
                            {% block offerDescription %} {% endblock %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {% if is_granted('select_offer', offer.offer) %}

                                {# comprueba que no es tu propia oferta, el servicio no es de trueque y hay plaza s libres #}
                                {% if offer.offer.userAdmin.id != app.session.get('id') and service != 3
                                      and offer.offer.holders-offer.offer.inscriptions|length > 0%}

                                    {{form_start(formSubscribe)}}
                                    {{form_widget(formSubscribe.subscribeButton,
                                    { 'attr': {'class': 'btn-default btn-off-buy'},
                                        'label':'Comprar' })}}
                                    {{form_end(formSubscribe)}}
                                {% endif %}

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
                             col-off-var-data">
                            {% block offerVariableData %} {% endblock %}
                        </div>
                    </div>

                    <div class="row row-tra-base">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12
                             col-off-rela">
                            {% block offerRelacionadas %} {% endblock %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {#{% if formComment is defined %}#}
                            <h4>COMENTARIOS</h4>
                            <hr>
                            {% if is_granted('ROLE_USER') %}
                                {{ form_start(formComment) }}
                                <div class="off-form-comment">
                                    <div class="input-group">
                                        {{ form_widget(formComment.comment, { 'attr': { 'class': 'custom-control',
                                                'rows': '3', 'style': 'resize:none' } }) }}

                                        <span class="input-group-btn">
                                            {{ form_widget(formComment.newComment, { 'attr': { 'class': 'btn btn-primary off-com-btn' } }) }}
                                        </span>

                                    </div>
                                </div>
                                {{ form_end(formComment) }}
                            {%endif%}
                            {% block offerComments %} {% endblock %}
                            {#{% endif %}#}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% block offerPublicidad %} {% endblock %}
                </div>
            </div>

            {#<div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% block offerDestacadas %} {% endblock %}
                </div>
            </div>#}

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12
                     col-off-other-data">
                    {% block offerOtherData %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascriptsFooter %}
{{ parent() }}    

{{ include('nav/menuScript.html.twig') }}

{{ include('owlCarousel/owlCarouselScript.html.twig') }}

{{ include('lightbox/lightboxScript.html.twig') }}

{{ include('rrss/rrssScript.html.twig') }}

{% endblock %}

{% block footer %}
    {{ include('footer/sponsorFooter.html.twig') }}
    {{ parent() }}
{% endblock %} 