{% extends '::base.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{#{ BLOQUES -->     offerImage 
                    offerUser
                    offerTitle
                    offerPrice
                    offerVote
                    offerDescription
                    offerVariableData
                    offerRelacionadas
                    offerComments
                    offerPublicidad
                    offerDestacadas 
                    offerOtherData 
}#}

{% block body %}
<!-- BODY OFFER -->
<div class="container-fluid cd-main-content off-container">
    <div class="row">
        <!-- PRINCIPAL -->
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <!-- FILA PRINCIPAL -->
            <div class="row">
                <!-- IMAGENES Y USUARIO -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <!-- IMAGENES -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {% block offerImage %} {% endblock %}
                        </div>
                        
                        
                    </div>
                    <!-- FIN IMAGENES -->
                    
                    
                    <!-- RRSS OFFER -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12
                             off-col-rrss">
                            {{ include('rrss/rrss.html.twig') }}

                            
                        </div>
                    </div>
                    <!-- FIN RRSS OFFER -->
                    
                    
                </div>
                <!-- FILA IMAGENES Y USUARIO -->
                
                
                <!-- DATOS PRINCIPALES -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <!-- TITLE OFFER -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12
                             col-off-title">
                            <h2> {% block offerTitle %} {% endblock %} </h2>
                            <hr>
                        </div>
                    </div>
                    <!-- FIN TITLE OFFER -->
                    
                    
                    <!-- PRICE AND VOTE OFFER -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <span class="off-date"> 
                                        {% block offerDate %} {% endblock %} 
                                    </span>
                                </div>
                            </div>
                            
                            
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <span class="off-price"> 
                                        {% block offerPrice %} {% endblock %} 
                                    </span>
                                </div>
                            </div>
                            
                            
                        </div>
                            
                        
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            {% block offerUser %} {% endblock %}
                            
                            
                            <div class="row off-row-rating">
                                <span class="off-vote"> 
                                    {% block offerVote %} {% endblock %} 
                                </span>
                            </div>
                                
                            {% if is_granted('create_msg_offer', trade) %}      
                                <div class="row">
                                    <button class="btn-default btn off-btn-write"
                                        data-toggle="modal" 
                                        data-target="#writeUser">
                                        Escribeme
                                    </button>
                                </div>
                            {%endif%}
                        </div>
                    </div>
                    <!-- FIN PRICE AND VOTE OFFER -->
                    
                    
                    <!-- DATE -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        </div>
                    </div>
                    <!-- FIN DATE -->
                    
                    
                    <!-- DESCRIPTION OFFER -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
                             off-description-normal">
                            {% block offerDescription %} {% endblock %}
                        </div>
                    </div>
                    <!-- FIN DESCRIPTION OFFER -->   
                    
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                         {% if is_granted('select_offer', trade) %}                            
                            {{form_start(formSubscribe)}}
                            {{form_widget(formSubscribe.subscribeButton, 
                                { 'attr': {'class': 'btn-default btn-off-buy'},
                                  'label':'Comprar' })}}
                            {{form_end(formSubscribe)}} 
                            {#<button type="submit" class="btn btn-default 
                                btn-off-buy">
                               Comprar
                            </button>#}

                         {% endif %}                            
                        </div>
                    </div>
                    
                    
                    <!-- BUY OFFER AND USER -->
                    {#<div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button type="submit" class="btn btn-default 
                                btn-off-buy">
                               Comprar
                            </button>
                        </div>
                        
                        
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {% block offerUser %} {% endblock %}
                            
                            
                            <div class="row off-row-rating">
                                <span class="off-vote"> 
                                    {% block offerVote %} {% endblock %} 
                                </span>
                            </div>
                                
                                
                            <div class="row">
                                <button class="btn-default btn off-btn-write"
                                    data-toggle="modal" 
                                    data-target="#writeUser">
                                    Escribeme
                                </button>
                            </div>
                        </div>
                        
                        
                    </div>#}
                    <!-- FIN BUY OFFER AND USER -->
                    
                    
                </div>
                <!-- FILA DATOS PRINCIPALES -->
                
                
            </div>
            <!-- FIN FILA PRINCIPAL -->
            
            
            <!-- FILA SECUNDARIA -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- DATOS VARIABLES SERVICIO -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
                             col-off-var-data">
                            {% block offerVariableData %} {% endblock %}
                        </div>
                    </div>
                    <!-- FIN DATOS VARIABLES SERVICIO -->
                    
                    
                    <!-- OFERTAS RELACIONADAS -->
                    <div class="row row-tra-base">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12
                             col-off-rela">
                            {% block offerRelacionadas %} {% endblock %}
                        </div>
                    </div>
                    <!-- FIN OFERTAS RELACIONADAS -->
                    
                    
                    <!-- COMENTARIOS -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {% block offerComments %} {% endblock %}
                        </div>
                    </div>
                    <!-- FIN COMENTARIOS -->
                    
                    
                </div>
                
                
            </div>
            <!-- FIN FILA SECUNDARIA -->
            
            
        </div>
        <!-- FIN PRINCIPAL -->
        
        
        <!-- SECUNDARIO -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <!-- PUBLICIDAD -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% block offerPublicidad %} {% endblock %}
                </div>
            </div>
            <!-- FIN PUBLICIDAD -->
            
            
            <!-- OFERTAS DESTACADAS -->
            {#<div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% block offerDestacadas %} {% endblock %}
                </div>
            </div>#}
            <!-- FIN OFERTAS DESTACADAS -->
            
            
            <!-- OTROS DATOS -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12
                     col-off-other-data">
                    {% block offerOtherData %} {% endblock %}
                </div>
            </div>
            <!-- FIN OTROS DATOS -->
            
            
        </div>
        <!-- FIN SECUNDARIO -->
        
        
    </div>
    
    
</div>
<!-- FIN BODY OFFER -->
{% endblock %}

{% block javascriptsFooter %}
{{ parent() }}    

{{ include('nav/menuScript.html.twig') }}

{{ include('owlCarousel/owlCarouselScript.html.twig') }}

{{ include('lightbox/lightboxScript.html.twig') }}

{{ include('rrss/rrssScript.html.twig') }}

{% endblock %}

{% block footer %}
    {{ include('footer/sponsorFooter.html.twig') }}
    {{ parent() }}
{% endblock %} 