{% extends '::offer/layoutOffer.html.twig' %}
{% import '::macros/offer.html.twig' as offers %}

{#{ BLOQUES -->     offerImage 
                    offerUser
                    offerTitle
                    offerPrice
                    offerVote
                    offerDescription
                    offerVariableData
                    offerRelacionadas
                    offerComments
                    offerPublicidad
                    offerDestacadas 
                    offerOtherData 
}#}



{% block offerImage %}
    <div id="off-img-big" class="owl-carousel">
        {% set imgGallery = []  %}
        
        {% for i in 0..6 %}
            
            {% set imageOff = random([asset('img/seat.jpg'), 
                asset('img/articulo1.jpg'), 
                asset('img/macbook.png'),
                asset('img/alquilerTuristico3.jpg')]) %}


            {% set imgGallery = imgGallery|merge([imageOff] ) %}
            <div class="item">
                <div class="off-img-marco-grande">
                    <a href="{{ imageOff }}" 
                        data-lightbox="offer-item">
                        
                        <img class="img-responsive off-img-expo" 
                            src="{{ imageOff }}" 
                            alt="">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="off-img-small" class="owl-carousel">
        {% for i in 0..6 %}
        <div class="item off-item-dime">
            <div class="off-img-marco-peque">
                <img class="img-responsive off-img-slid" 
                    src="{{ imgGallery[i] }}" 
                    alt="">
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}


{% block offerUser %} 
    <!-- IMAGEN USUARIO -->
    <div class="row row-off-user-name">
        <a class="off-user-image" href="#USUARIO">
            <img class=" img-circle img-responsive" 
                src="{{ asset('img/usuario1.jpg') }}" 
                width="50" alt="">
        </a>
                    
        <a class="off-user-name" href="#USUARIO">Paco J</a>
        
    </div>
    <!-- FIN NOMBRE USUARIO -->
{% endblock %}


{% block offerTitle %}
    {{ random(['Titulo objeto en venta', 
            'Aleatorio para que el texto sea diferentes', 
            'Yo soy corto', 
            'Soy un titulo para ver que aparece', 
            'Te ha tocado la loteria!!']) }}
{% endblock %}


{% block offerPrice %} 
    {{ random(999) }} €
{% endblock %}


{% block offerVote %} 
    <!-- VALORACIONES -->
    <div class="rating">
        <span>☆</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
    </div>
    <!-- FIN VALORACIONES -->
{% endblock %}


{% block offerDate %} 
    {{ 'now'|date('d/m/Y') }}
{% endblock %} 


{% block offerDescription %}
    <p>
        Lorem fistrum hasta luego Lucas te voy a borrar el cerito tiene musho 
        peligro benemeritaar por la gloria de mi madre al ataquerl diodenoo. 
        Diodeno amatomaa pecador diodeno sexuarl. No te digo trigo por no 
        llamarte Rodrigor fistro papaar papaar se calle ustée. La caidita ese 
        pedazo de de la pradera sexuarl ese que llega tiene musho peligro 
        diodenoo ese pedazo de tiene musho peligro. Pecador jarl te voy a 
        borrar el cerito se calle ustée diodeno a gramenawer va usté muy 
        cargadoo la caidita qué dise usteer. No te digo trigo por no llamarte 
        Rodrigor está la cosa muy malar ahorarr condemor sexuarl. Apetecan a wan 
        ese hombree ese pedazo de qué dise usteer tiene musho peligro jarl tiene 
        musho peligro jarl. Qué dise usteer pecador mamaar apetecan la caidita. 
    </p>
{% endblock %}


{% block offerVariableData %}
    
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
            <!-- DATOS IMPORTATNES DEL SERVICIO -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>
                        Alojamiento
                    </h4>
                    <hr>
                </div>
            </div>

            <div class="row off-row-date-prin">
                <!-- CAPACIDAD -->
                {{ offers.atriHouRen('capacidad', 'fa-users', random(15), 
                    3, 6, 6, 6) }}
                <!-- FIN CAPACIDAD -->


                <!-- BAÑOS -->
                {{ offers.atriHouRen('baños', 'fa-bath', random(15), 
                    3, 6, 6, 6) }}
                <!-- FIN BAÑOS -->


                <!-- DORMITORIOS -->
                {{ offers.atriHouRen('dormitorios', 'fa-home', random(15), 
                    3, 6, 6, 6) }}
                <!-- FIN DORMITORIOS -->


                <!-- CAMAS -->
                {{ offers.atriHouRen('camas', 'fa-bed', random(15), 
                    3, 6, 6, 6) }}
                <!-- FIN CAMAS -->


            </div>
            <!-- FIN DATOS IMPORTATNES DEL SERVICIO -->
        </div>
        
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <!-- LLEGADA Y SALIDA -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>
                        Horario
                    </h4>
                    <hr>
                </div>
            </div>

            <div class="row off-row-date-prin">
                <!-- LLEGADA -->
                {{ offers.atriHouRen('llegada', 'fa-sign-in', '16:00', 
                    6, 6, 6, 6) }}
                <!-- FIN LLEGADA -->


                <!-- SALIDA -->
                {{ offers.atriHouRen('salida', 'fa-sign-out', '12:00', 
                    6, 6, 6, 6) }}
                <!-- FIN SALIDA -->


            </div>
            <!-- FIN LLEGADA Y SALIDA -->
        </div>
    </div>
    
    
    <!-- SERVICIOS -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>
                Servicios
            </h4>
            <hr>
        </div>
    </div>
    
    
    {% set datos = ['Acceso 24h', 'Acceso discapacitados', 'Internet', 'Wifi', 
        'Jacuzzi', 'Aire acondicionado', 'Lavadora', 'Parking gratuito', 
        'Apto para familias y niños', 'Perchas', 'Piscina', 'Plancha', 
        'Calefacción', 'Champu', 'Portero', 'Salón privado', 'Chimenea interior', 
        'Secador de pelo', 'Cocina', 'Secadora', 'Desayuno', 'Ascensor', 
        'Telefonillo / Timbre', 'Elementos básicos', 'Tv', 'Tv por satélite', 
        'Gimnasio', 'Zona para trabajar con portátiles', 'Necesario coche'] %}
        
    {% set col = 0 %}
    
    {% for dato in datos|sort %}
        {% if col == 0 %}
            <div class="row off-row-date-second">
        {% endif %}
        
        
        <!-- DATO -->
        {{ offers.atriOffer(dato) }}
        <!-- DATO -->
                
                
        {% if col < 3 %}
            {% set col = 1 + col %}
        {% else %}
            {% set col = 0 %}
             </div>
        {% endif %}
            
   
    {% endfor %}
    
    {#{ SE REALIZA COMPROBACIÓN PARA CERRAR EL ROW }#}
    {% if col != 0 %}
        </div>
    {% endif %}
    
    <!-- SERVICIOS -->
    
    
    <!-- NORMAS -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>
                Normas
            </h4>
            <hr>
        </div>
    </div>
    
    
    {% set datos = ['Fumar', 'Mascotas', 'Fiestas', 'Eventos'] %}
        
    {% set col = 0 %}
    
    {% for dato in datos|sort %}
        {% if col == 0 %}
            <div class="row off-row-date-second">
        {% endif %}
        
        
        <!-- DATO -->
        {{ offers.atriOffer(dato) }}
        <!-- DATO -->
                
                
        {% if col < 3 %}
            {% set col = 1 + col %}
        {% else %}
            {% set col = 0 %}
             </div>
        {% endif %}
            
   
    {% endfor %}
    
    {#{ SE REALIZA COMPROBACIÓN PARA CERRAR EL ROW }#}
    {% if col != 0 %}
        </div>
    {% endif %}
    
    <!-- NORMAS -->
    
    
    <!-- SEGURIDAD -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>
                Seguridad
            </h4>
            <hr>
        </div>
    </div>
    
    
    {% set datos = ['Detector de humo', 'Detector de monóxido de carbono', 
        'Ficha de instrucciones de seguridad', 'Extintor de incendios',
        'Botiquín', 'Pestillo en la puerta del dormitorio'] %}
        
    {% set col = 0 %}
    
    {% for dato in datos|sort %}
        {% if col == 0 %}
            <div class="row off-row-date-second">
        {% endif %}
        
        
        <!-- DATO -->
        {{ offers.atriOffer(dato) }}
        <!-- DATO -->
                
                
        {% if col < 3 %}
            {% set col = 1 + col %}
        {% else %}
            {% set col = 0 %}
             </div>
        {% endif %}
            
   
    {% endfor %}
    
    {#{ SE REALIZA COMPROBACIÓN PARA CERRAR EL ROW }#}
    {% if col != 0 %}
        </div>
    {% endif %}
    
    <!-- SEGURIDAD -->
    
    
{% endblock %}


{% block offerRelacionadas %} 
    {% for i in 0..2 %}
        {#{ include('services/lists/tradeList.html.twig') }#}
    {% endfor %}
{% endblock %}


{% block offerComments %}
    <p>COMENTARIOS</p>
{% endblock %}


{% block offerPublicidad %}
    <h3>
        Publicidad
    </h3>
    <hr>
    <img src="{{ asset('img/publicidad.jpg') }}" 
        class="img-responsive center-block"
        alt="publicidad">
{% endblock %}


{% block offerDestacadas %} 
    <p>DESTACADOS</p>
{% endblock %}


{% block offerOtherData %} 
    <h3>
        Recompensa por tu compra <span class="off-special">¡Gratis!</span>
    </h3>
    <hr>
    <p>
        Lorem fistrum hasta luego Lucas te voy a borrar el cerito tiene musho 
        peligro benemeritaar por la gloria de mi madre al ataquerl diodenoo. 
        Diodeno amatomaa pecador diodeno sexuarl. 
    </p>
{% endblock %}