{% extends '::offer/layoutOffer.html.twig' %}
{% import '::macros/offer.html.twig' as offers %}
{% import '::macros/star.html.twig' as rating %}
{% import 'macros/popup.html.twig' as popups %}
{% import 'macros/message.html.twig' as comentarios %}
{% import 'macros/user.html.twig' as users %}

{#{ BLOQUES -->     offerImage 
                    offerUser
                    offerTitle
                    offerPrice
                    offerVote
                    offerDate
                    offerDescription
                    offerVariableData
                    offerRelacionadas
                    offerComments
                    offerPublicidad
                    offerDestacadas 
                    offerOtherData 
}#}


{% if service == 4 %}
    {% set titleService = 'Coche compartido' %}

{% elseif service == 5 %}
    {% set titleService = 'Paquetería' %}

{% endif %}


{% block title %}
    {{titleService}} {{ offer.fromPlace}}-{{ offer.toPlace }}
{% endblock %}



{% block offerImage %}
    <div id="off-img-big" class="owl-carousel">
        {% set imgGallery = []  %}
        
        {% for photo in offer.car.photos %}

            {% set arrayAux = photo.url|split('.') %}
            {% set url = arrayAux[0]~'_720.'~arrayAux[1] %}

            <div class="item">
                <div class="off-img-marco-grande">
                    <a href="{{ asset(photo.url, 'img') }}"
                        data-lightbox="offer-item">
                        
                        <img class="img-responsive off-img-expo" 
                            src="{{ asset(url, 'img') }}"
                            alt="">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="off-img-small" class="owl-carousel">
        {% for photo in offer.car.photos %}
            {% set arrayAux = photo.url|split('.') %}
            {% set url = arrayAux[0]~'_250.'~arrayAux[1] %}

            <div class="item off-item-dime">
                <div class="off-img-marco-peque">
                    <img class="img-responsive off-img-slid"
                        src="{{ asset(url, 'img') }}"
                        alt="">
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}


{% block offerUser %}
    {{ users.userOffer(
        path('user_public_profile',{username: offer.offer.userAdmin.username} ),
        offer.offer.userAdmin.photo.url,
        offer.offer.userAdmin.username)
    }}

{% endblock %}

{% block popupBlock %}
    {% set title = 'Enviar mensaje a ' ~ offer.offer.userAdmin.username %}
    {{ popups.popup('writeUser', title, include('offer/offPrivateMessage.html.twig') ) }}
{% endblock %}


{% block offerTitle %}
    {{ offer.fromPlace}}
    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    {{ offer.toPlace }}
{% endblock %}


{% block offerPrice %}

    {% if service == 5 %}
        {{ priceMin }}€

    {% elseif service == 4 %}
        {{ offer.price|number_format(2, ',') }}€
    {% endif %}
{% endblock %}


{% block offerVote %}
    {{ rating.staticRating(offer.offer.userAdmin.avgScore) }}
{% endblock %}


{% block offerDate %}

    {{ offer.date.date|date('d/m/Y') }} {{ ' a las '  }} {{ offer.date.date|date('H:i')  }}
{% endblock %} 


{% block offerDescription %}
    {{ offers.atriShaCar('salida', 'fa-sign-out', offer.fromPlace) }}

    {{ offers.atriShaCar('destino', 'fa-map-marker', offer.toPlace) }}
    
    {% set fecha = offer.date.date|date('d/m/Y')%}
    {% set hora = offer.date.date|date('H:i')%}
    {{ offers.atriShaCar('fecha', 'fa-calendar-check-o',
        fecha ~ ' a las ' ~ hora) }}

    {{ offers.atriShaCar('vehículo', 'fa-car', offer.car.model.brand.name ~' '~ offer.car.model.name,
        'off-row-tra-last') }}

    {{ offers.atriShaCar( service == 4 ? 'plazas disponibles' : 'número de paquetes', 'fa-airplane-seat', offer.offer.holders - offer.offer.inscriptions|length) }}


{% endblock %}


{% block offerVariableData %}

    {% if service == 4 %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    Caracteristicas Viaje
                </h4>
                <hr>
            </div>
        </div>

        {% set datos =  [
                            {title: "Fumar", status: offer.car.smoke|number_format},
                            {title: "Mascotas", status: offer.car.animals|number_format},
                            {title: "Música", status: offer.car.music|number_format},
                            {title: "Conversar", status: offer.car.talk|number_format},
                            {title: "Dos atrás", status: offer.backTwo|number_format}
                        ]
        %}

        
        {% set col = 0 %}

        {% for dato in datos|sort %}

            {% if col == 0 %}
                <div class="row off-row-date-second">
            {% endif %}


            {#<!-- DATO -->#}
            {{ offers.atriOffer(dato.title,dato.status) }}
            {#<!-- DATO -->#}


            {% if col < 3 %}
                {% set col = 1 + col %}
            {% else %}
                {% set col = 0 %}
                 </div>
            {% endif %}


        {% endfor %}

        {#{ SE REALIZA COMPROBACIÓN PARA CERRAR EL ROW }#}
        {% if col != 0 %}
            </div>
        {% endif %}

    {% endif %}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>
                {{ offer.offer.title }}
            </h4>
            <hr>
        </div>
        
        
    </div>
    
    
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>
                {{ offer.offer.description }}
            </p>

        </div>
    </div>

{% endblock %}


{% block offerRelacionadas %} 
    {% for i in 0..2 %}
        {#{ include('services/lists/tradeList.html.twig') }#}
    {% endfor %}
{% endblock %}


{% block offerComments %}

        {% if offer.offer.comments is empty %}

            <div class="row separacion-inferior">
                <div class="col-lg-12">
                    {% if offer.offer.expired %}
                        <h4>No hay comentarios</h4>

                    {% else %}
                        <h4>
                            Aún no hay comentarios
                        </h4>
                        <p>
                            ¡Se el primero en comentar!
                        </p>
                    {% endif %}

                </div>
            </div>

        {% else %}

            {% set numPage = pagination.currentPageNumber %}
            {% if numPage == 1 %}
                {% set i = 0 %}
            {% else %}
                {% set i = numComment *(numPage-1) %}
            {% endif %}

            {% for comment in pagination%}

                {{ comentarios.messComentarioPublico(
                path('user_public_profile', {username: comment.user.username} ),
                comment.user.photo,
                comment.user.username,
                comment.createdDate,
                i,
                comment.comment)
                }}

                {% set i = i+1 %}
            {% endfor %}

            {% if pagination is not null %}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            {% endif %}

        {% endif %}


{% endblock %}


{% block offerPublicidad %}
    <h3>
        Publicidad
    </h3>
    <hr>
    <img src="{{ asset('img/publicidad.jpg') }}" 
        class="img-responsive center-block"
        alt="publicidad">
{% endblock %}


{% block offerDestacadas %} 
    <p>DESTACADOS</p>

    {{ offer.offer.comment }}
{% endblock %}


{% block offerOtherData %} 
    <h3>
        Recompensa por tu compra <span class="off-special">¡Gratis!</span>
    </h3>
    <hr>
    <p>
        {{ include('macros/text.html.twig') }}
    </p>
{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}
    {{ rating.staticRatingJS() }}
{% endblock %}