{% extends '::offer/layoutOffer.html.twig' %}
{% import 'macros/popup.html.twig' as popups %}
{% import 'macros/sidebar.html.twig' as sidebars %}
{% import 'macros/user.html.twig' as users %}

{#{ BLOQUES -->     offerImage 
                    offerUser
                    offerTitle
                    offerPrice
                    offerVote
                    offerDescription
                    offerVariableData
                    offerRelacionadas
                    offerComments
                    offerPublicidad
                    offerDestacadas 
                    offerOtherData 
}#}



{% block offerImage %} 
    <div id="off-img-big" class="owl-carousel">
        {#% set imgGallery = []  %#}
        {#{dump(trade)}#}
        {#% for i in 0..6 %}
            
            {% set imageOff = random([asset('img/seat.jpg'), 
                asset('img/articulo1.jpg'), 
                asset('img/macbook.png'),
                asset('img/alquilerTuristico3.jpg')]) %}


            {% set imgGallery = imgGallery|merge([imageOff] ) %#}
            <div class="item">
                <div class="off-img-marco-grande">
                    <a href="{{trade.offer.photos.0.url }}" 
                        data-lightbox="offer-item">
                        
                        <img class="img-responsive off-img-expo" 
                            src="{{ trade.offer.photos.0.url }}" 
                            alt="">
                    </a>
                </div>
            </div>
        {#% endfor %#}
    </div>

    <div id="off-img-small" class="owl-carousel">
        {% for photo in trade.offer.photos %}
        <div class="item off-item-dime">
            <div class="off-img-marco-peque">
                <img class="img-responsive off-img-slid" 
                    src="{{ asset(photo.url) }}" 
                    alt="">
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}


{% block offerUser %} 
    <!-- IMAGEN USUARIO -->
    <div class="row row-off-user-name">
        <a class="off-user-image" href="#USUARIO">
            <img class=" img-circle img-responsive" 
                src="{{ asset(trade.offer.userAdmin.photo.url) }}" 
                width="50" alt="">
        </a>
                    
        <a class="off-user-name" href="#USUARIO">{{trade.offer.userAdmin.username}}</a>
        
    </div>
    <!-- FIN NOMBRE USUARIO -->
{% endblock %}


{% block offerTitle %}
    {{ trade.offer.title }}
{% endblock %}


{% block offerPrice %} 
    {{ trade.price }} €
{% endblock %}


{% block offerVote %} 
    <!-- VALORACIONES -->
    <div class="rating">
        <span>☆</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
    </div>
    <!-- FIN VALORACIONES -->
{% endblock %}


{% block offerDate %} 
    {{ trade.offer.modifiedDate|date('d/m/Y') }}
{% endblock %} 


{% block offerDescription %}
    <p>
        {{ trade.offer.description }} 
    </p>
{% endblock %}


{% block offerVariableData %}
    
{% endblock %}


{% block offerRelacionadas %} 
    {% for i in 0..2 %}
        {#{ include('services/lists/tradeList.html.twig') }#}
    {% endfor %}
{% endblock %}


{% block offerComments %}
    <h4>COMENTARIOS</h4>
    <hr>
    
    <div class="off-form-comment">
        <div class="input-group">
            <textarea class="form-control custom-control" 
                rows="3" 
                style="resize:none">
                    
            </textarea>     
            
            <span class="input-group-addon btn btn-primary">
                Enviar
            </span>
        </div>
    </div>
    
    {% for i in 0..10 %}
    <div class="off-comment-target">
        <div class="row">        
            <div class="col-lg-2 col-md-4 col-sm-3 col-xs-4">
                {{ users.userComments('#','','User Name','',i) }}
            </div>


            <div class="col-lg-10 col-md-8 col-sm-9 col-xs-8 off-col-comment">
                <p>{{ include('macros/text.html.twig') }}</p>
            </div>
        </div>
            
            
    </div>
    {% endfor %}
    
{% endblock %}


{% block offerPublicidad %}
    <h3>
        Publicidad
    </h3>
    <hr>
    <img src="{{ asset('img/publicidad.jpg') }}" 
        class="img-responsive center-block"
        alt="publicidad">
{% endblock %}


{% block offerDestacadas %} 
    <p>DESTACADOS</p>
{% endblock %}


{% block offerOtherData %} 
    <h3>
        Recompensa por tu compra <span class="off-special">¡Gratis!</span>
    </h3>
    <hr>
    <p>
        Lorem fistrum hasta luego Lucas te voy a borrar el cerito tiene musho 
        peligro benemeritaar por la gloria de mi madre al ataquerl diodenoo. 
        Diodeno amatomaa pecador diodeno sexuarl. 
    </p>
{% endblock %}

{% block popupBlock %}
    {{ popups.popup('writeUser', 'Enviar Mensaje a ...', 
        sidebars.sidebarElementDemo()) }}
{% endblock %}