{% extends '::offer/layoutOffer.html.twig' %}

{#{ BLOQUES -->     offerImage 
                    offerUser
                    offerTitle
                    offerPrice
                    offerVote
                    offerDescription
                    offerVariableData
                    offerRelacionadas
                    offerComments
                    offerPublicidad
                    offerDestacadas 
                    offerOtherData 
}#}

{% block offerImage %}
    

<div class="off-img-marco-grande">
    <a class="example-image-link" 
         href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" 
         data-lightbox="example-set" 
         data-title="Click the right half of the image to move forward.">
        <img class="img-responsive off-img-expo" 
            src=""
            alt=""
            data-lightbox="offer-item"/>
    </a>
</div>


<div class="owl-carousel owl-theme">
    
    {% for i in 0..6 %}
    <div class="owl-item off-item-dime">
        <h4>{{ i }}</h4>
        <div class="off-img-marco-peque ">
            <img class="img-responsive off-img-slid off-img-slid{{i}}" 
                src="
                {{ random([asset('img/seat.jpg'), 
                       asset('img/articulo1.jpg'), 
                       asset('img/macbook.png'),
                       asset('img/alquilerTuristico3.jpg')]) }} 
                " alt="">
        </div>
    </div>
    {% endfor %}
    
</div>
{% endblock %}


{% block offerUser %} 
    <!-- IMAGEN USUARIO -->
    <div class="row row-tra-grid-user-img">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="#USUARIO">
                <img class="center-block img-circle 
                    img-responsive" 
                    src="{{ asset('img/usuario1.jpg') }}" 
                    width="50" alt="">
            </a>
        </div>
                    
                    
    </div>
    <!-- FIN IMAGEN USUARIO -->
    
    
    <!-- NOMBRE USUARIO -->
    <div class="row row-tra-grid-name">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="#USUARIO">Paco J</a>
        </div>
        
        
    </div>
    <!-- FIN NOMBRE USUARIO -->
{% endblock %}


{% block offerTitle %}
    {{ random(['Titulo objeto en venta', 
            'Aleatorio para que el texto sea diferentes', 
            'Yo soy corto', 
            'Soy un titulo para ver que aparece', 
            'Te ha tocado la loteria!!']) }}
{% endblock %}


{% block offerPrice %} 
    {{ random(999) }} €
{% endblock %}


{% block offerVote %} 
    <!-- VALORACIONES -->
    <div class="rating">
        <span>☆</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
    </div>
    <!-- FIN VALORACIONES -->
{% endblock %}


{% block offerDescription %}
    <p>
        Lorem fistrum hasta luego Lucas te voy a borrar el cerito tiene musho 
        peligro benemeritaar por la gloria de mi madre al ataquerl diodenoo. 
        Diodeno amatomaa pecador diodeno sexuarl. No te digo trigo por no 
        llamarte Rodrigor fistro papaar papaar se calle ustée. La caidita ese 
        pedazo de de la pradera sexuarl ese que llega tiene musho peligro 
        diodenoo ese pedazo de tiene musho peligro. Pecador jarl te voy a 
        borrar el cerito se calle ustée diodeno a gramenawer va usté muy 
        cargadoo la caidita qué dise usteer. No te digo trigo por no llamarte 
        Rodrigor está la cosa muy malar ahorarr condemor sexuarl. Apetecan a wan 
        ese hombree ese pedazo de qué dise usteer tiene musho peligro jarl tiene 
        musho peligro jarl. Qué dise usteer pecador mamaar apetecan la caidita. 
    </p>
{% endblock %}


{% block offerVariableData %}
    <p>
        Lorem fistrum hasta luego Lucas te voy a borrar el cerito tiene musho 
        peligro benemeritaar por la gloria de mi madre al ataquerl diodenoo. 
        Diodeno amatomaa pecador diodeno sexuarl. No te digo trigo por no 
        llamarte Rodrigor fistro papaar papaar se calle ustée. La caidita ese 
        pedazo de de la pradera sexuarl ese que llega tiene musho peligro 
        diodenoo ese pedazo de tiene musho peligro. Pecador jarl te voy a 
        borrar el cerito se calle ustée diodeno a gramenawer va usté muy 
        cargadoo la caidita qué dise usteer. No te digo trigo por no llamarte 
        Rodrigor está la cosa muy malar ahorarr condemor sexuarl. Apetecan a wan 
        ese hombree ese pedazo de qué dise usteer tiene musho peligro jarl tiene 
        musho peligro jarl. Qué dise usteer pecador mamaar apetecan la caidita. 
    </p>
{% endblock %}


{% block offerRelacionadas %} 
    {% for i in 0..2 %}
        {{ include('services/lists/tradeList.html.twig') }}
    {% endfor %}
{% endblock %}


{% block offerComments %}
    <p>COMENTARIOS</p>
{% endblock %}


{% block offerPublicidad %}
    <p>PUBLICIDAD</p>
{% endblock %}


{% block offerDestacadas %} 
    <p>DESTACADOS</p>
{% endblock %}


{% block offerOtherData %} 
    <p>OTROS DATOS DE LA WEB</p>
{% endblock %}