{% extends '::offer/layoutOffer.html.twig' %}
{% import 'macros/popup.html.twig' as popups %}
{% import 'macros/user.html.twig' as users %}
{% import 'macros/message.html.twig' as comentarios %}

{% block stylesheets %}
    {{parent()}}

    {#<link href="{{asset("css/styles/starRating/star-rating.css")}}" media="all" rel="stylesheet" type="text/css" />#}

{% endblock %}

{#{ BLOQUES -->     offerImage 
                    offerUser
                    offerTitle
                    offerPrice
                    offerVote
                    offerDescription
                    offerVariableData
                    offerRelacionadas
                    offerComments
                    offerPublicidad
                    offerDestacadas 
                    offerOtherData 
}#}


{% block alert %}

    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
        {{ alerts.alert('alert-success', flash_message, null) }}
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('messageFail') %}
        {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}


{% endblock %}

{% block offerImage %}
    <div id="off-img-big" class="owl-carousel">
        {% for photo in offer.offer.photos %}
            <div class="item">
                <div class="off-img-marco-grande">
                    <a href="{{asset(photo.url,'img') }}"
                        data-lightbox="offer-item">

                        <img class="img-responsive off-img-expo"
                            src="{{ asset(photo.url,'img') }}"
                            alt="">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="off-img-small" class="owl-carousel">
       {% for photo in offer.offer.photos %}
        <div class="item off-item-dime">
            <div class="off-img-marco-peque">
                <img class="img-responsive off-img-slid"
                    src="{{ asset(photo.url,'img') }}"
                    alt="">
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}


{% block offerUser %}

    {{ users.userOffer(
        path('user_public_profile',{username: offer.offer.userAdmin.username} ),
        offer.offer.userAdmin.photo.url,
        offer.offer.userAdmin.username)
    }}
    <!-- FIN NOMBRE USUARIO -->
{% endblock %}


{% block offerTitle %}
    {{ offer.offer.title }}
{% endblock %}


{% block offerPrice %}
    {% if service != 3 %}
        {{ offer.price|number_format(2, ',') }} €
    {% endif %}
{% endblock %}


{% block offerVote %}
    <input id="rating-input"
           class="rating rating-loading"
           data-show-clear="false"
           data-show-caption="false"
           data-display-only="true"
           data-step="1"
           type="number"
           value="{{ offer.offer.userAdmin.avgScore }}"
    />
{% endblock %}


{% block offerDate %} 
    ({{ offer.offer.modifiedDate|date('d/m/Y') }})
{% endblock %} 


{% block offerDescription %}
    <p>
        {{ offer.offer.description }}
    </p>
{% endblock %}


{% block offerVariableData %}
    
{% endblock %}


{% block offerRelacionadas %} 
    {% for i in 0..2 %}
        {#{ include('services/lists/offerList.html.twig') }#}
    {% endfor %}
{% endblock %}


{% block offerComments %}

    {% if offer.offer.comments is empty %}

        <div class="row separacion-inferior">
            <div class="col-lg-12">
                <h4>
                    Aún no hay comentarios
                </h4>
                <p>
                    ¡Se el primero en comentar!
                </p>
            </div>
        </div>

    {% else %}


        {% set numPage = pagination.currentPageNumber %}
        {% if numPage == 1 %}
            {% set i = 0 %}
        {% else %}
            {% set i = numComment *(numPage-1) %}
        {% endif %}

        {% for comment in pagination %}

            {{ comentarios.messComentarioPublico(
                path('user_public_profile', {username: offer.offer.userAdmin.username} ),
                asset(comment.user.photo,'img'),
                comment.user.username,
                comment.createdDate,
                i,
                comment.comment)
            }}

            {% set i = i+1 %}
        {% endfor %}

        {% if pagination is not null %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}

    {% endif %}
    
{% endblock %}


{% block offerPublicidad %}
    <h3>
        Publicidad
    </h3>
    <hr>
    <img src="{{ asset('img/publicidad.jpg','img') }}"
        class="img-responsive center-block"
        alt="publicidad">
{% endblock %}


{% block offerDestacadas %} 
    <p>DESTACADOS</p>
{% endblock %}


{% block offerOtherData %} 
    <h3>
        Recompensa por tu compra <span class="off-special">¡Gratis!</span>
    </h3>
    <hr>
    <p>
        Lorem fistrum hasta luego Lucas te voy a borrar el cerito tiene musho 
        peligro benemeritaar por la gloria de mi madre al ataquerl diodenoo. 
        Diodeno amatomaa pecador diodeno sexuarl. 
    </p>
{% endblock %}

{% block popupBlock %}
    {% set title = 'Enviar mensaje a ' ~ offer.offer.userAdmin.username %}
    {{ popups.popup('writeUser', title, include('offer/offPrivateMessage.html.twig') ) }}
{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}

    <script src="{{ asset('js/starRating/star-rating.js') }}"></script>

    <script>
        $(document).ready( function(){

            $('#rating-input').rating({
                min: 0,
                max: 5,
                size: 'lg',
                showClear: false
            });

        });
    </script>
{% endblock %}