{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/script.html.twig' as codMenu %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}


{% block title %}
    Ofertas
{% endblock %}

{% block alertProfile %}

    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
        {{ alerts.alert('alert-success', flash_message, null) }}
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('messageFail') %}
        {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

    {{ form_errors(form) }}
{% endblock %}


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}

    <div class="row us-dataPersonal-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                Editando oferta de intercambio de habitación
            </h3>
            <hr/>

            {{ form_start(form) }}
            {{ form_row(form.offer.title) }}
            {{ form_row(form.offer.description) }}
            {{ form_row(form.offer.id) }}
            {{ form_row(form.country) }}
            {{ form_row(form.city) }}
            {{ form_row(form.offer.holders, {'label': 'Capacidad'}) }}
            {{ form_row(form.imgBedroom) }}
            {{ form_row(form._token) }}

            {{ form_row(form.saveOffer) }}

        </div>
    </div>

{% endblock %}


{% block javascriptsFooter %}
    {{ parent() }}

    {{ codMenu.scriptUserMenu('.us-dataPersonal-row') }}
    <script src="{{ asset('js/plugins/canvas-to-blob.min.js') }}"
            type="text/javascript"></script>
    {#<!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.#}
         This must be loaded before fileinput.min.js -->
    <script src="{{ asset('js/plugins/sortable.js') }}"
            type="text/javascript"></script>
    {#<!-- purify.min.js is only needed if you wish to purify HTML content in your preview for HTML files.#}
         This must be loaded before fileinput.min.js -->
    <script src="{{ asset('js/plugins/purify.min.js') }}"
            type="text/javascript"></script>


    {% set arrayUrl = "" %}
    {% set arrayCaption = "" %}

    {% for photo in offer.offer.photos %}

        {% set arrayUrl = arrayUrl~"'"~asset(photo.url,'img')~"'," %}
        {% set arrayCaption = arrayCaption~"{caption: '', width: '120px', showZoom: false, key: "~photo.id|number_format~" ,extra: {idOffer: "~offer.offer.id~" }}," %}

    {% endfor %}

    {#<!-- the main fileinput plugin file -->#}
    <script src="{{ asset('js/fileinput.js') }}"></script>
    <script src="{{ asset('js/locales/es.js') }}"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            $('.file-loading').fileinput({
                initialPreview: [
                    {{arrayUrl|raw}}
                ],
                initialPreviewConfig: [
                    {{arrayCaption|raw}}
                ],
                initialPreviewAsData: true,
                overwriteInitial: false,
                maxFileSize: 3072,
                showRemove: false,
                showUpload: false,
                showZoom: false,
                initialCaption: '',
                maxFileCount: 5,
                minFileCount: 1,
                validateInitialCount:true,
                deleteUrl: "{{ url('user_ajax_deleteImageOffer') }}",
                allowedFileExtensions: ["jpg", "jpeg", "png"],
                language: "es",
            });
        });

    </script>


{% endblock %}

