{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/coche.html.twig' as coches %}
{% import 'macros/script.html.twig' as codMenu %}


{% block title %}
    Casas
{% endblock %}

{% block alertProfile %}

    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
        {{ alerts.alert('alert-success', flash_message, null) }}
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('messageFail') %}
        {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}


{% endblock %}


{% block javascriptsHeader %}

    {{ parent() }}

{% endblock %}


{% block bodyProfile %}

    <div class="row us-dataPersonal-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                Casas
            </h3>
            <hr/>
{#  Necesito que el botón de borrar que lleva la clase deleteCar se llame deleteHouse y en el script cuando se llama a la función deleteHouse cambiar deleteCar por deleteHouse
    Tal y como está ahora mismo funciona borrar perfectamente y muestra el mensaje flash en su sitio
#}
            {% for house in arrayHouses %}
                {{ coches.coche(path('user_profile_showHouse', {idHouse: house.id}), asset(house.photos.0.url|default('web/img/placeholder.jpg'),'img'), house.address.country.country,
                house.title, house.address.street, 0, house.description,
                path('user_profile_editHouse', {idHouse: house.id} ), 'dataEdit', 'titleEdit',
                '#', house.id, 'Delete house') }}
            {% endfor %}
        </div>
    </div>


{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}
    {{ codMenu.scriptUserMenu('.us-dataPersonal-row') }}

    <script>

        $(document).ready(function(){
            $(document).on('click', '.deleteCar', deleteHouse);

            function deleteHouse(e){
                e.preventDefault();

                var idHouse = $(this).attr('data-id');
                var data = {};
                var url = "{{ url('user_ajax_deleteHouse') }}";
                var container = ".element_"+idHouse;

                data['id'] = idHouse;

                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,

                    success: function(data)
                    {
                        if(data['result'] === 'ok'){
                            $(container).remove();
                            $('.contentAlert').html("<div class='alert "+
                                    "alert-success alert-dismissible' role='alert'>"+
                                    "<button type='button' class='close' "+
                                    "data-dismiss='alert' aria-label='Close'>"+
                                    "<span aria-hidden='true'>×</span>"+
                                    "</button><strong></strong>"+
                                    data['message']+"</div>");

                        }else{
                            $('.contentAlert').html("<div class='alert "+
                                    "alert-warning alert-dismissible' role='alert'>"+
                                    "<button type='button' class='close' "+
                                    "data-dismiss='alert' aria-label='Close'>"+
                                    "<span aria-hidden='true'>×</span>"+
                                    "</button><strong></strong>"+
                                    data['message']+"</div>");

                        }

                    },
                    error: function()
                    {
                        $('.contentAlert').html("<div class='alert "+
                                "alert-warning alert-dismissible' role='alert'>"+
                                "<button type='button' class='close' "+
                                "data-dismiss='alert' aria-label='Close'>"+
                                "<span aria-hidden='true'>×</span>"+
                                "</button><strong></strong>"+
                                "Ha ocurrido un error, por favor vuelva a intentarlo</div>");

                    }
                });
            }
        });

    </script>


{% endblock %}

