{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/script.html.twig' as codMenu %}


{% block title %}
    Casas
{% endblock %}

{% block alertProfile %}

    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
        {{ alerts.alert('alert-success', flash_message, null) }}
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('messageFail') %}
        {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

{% endblock %}


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}
    <div class="row us-dataPersonal-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                Casa
            </h3>
            <hr/>

            {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                {{ form_row(form.address.country) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                {{ form_row(form.address.city) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                {{ form_row(form.address.street) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                {{ form_row(form.address.zipCode) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                {{ form_row(form.capacity) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                {{ form_row(form.bedrooms) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                {{ form_row(form.beds) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                {{ form_row(form.bathrooms) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.licenseNumber) }}
                    {{ form_widget(form.licenseNumber) }}
                    <span>* El número de licencia es obligatorio para las ofertas de alquiler turístico y casa compartida </span>

                </div>
                {#{{ form_row(form.licenseNumber) }}#}

                {{ form_row(form.imgHouse) }}

            </div>

            {% set cont = 0 %}

            {% for key, attr in arrayAttr %}
                {% if cont == 0 %}
                    <div class="row">
                {% endif %}

                    <div class="col-lg-4">
                        {% set cont = cont +1 %}
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group">
                                <h4> {{ key|capitalize }}</h4>

                                {% for data in attr %}
                                    {{ form_row(attribute(form, data.attr),{'label': data.label|capitalize}) }}
                                {% endfor %}

                            </div>
                        {% if cont == 3 %}
                            {% set cont = 0 %}

                         </div>
                        {% endif %}
                    </div>

            {% endfor %}
            <div class="row col-lg-12">
                {{ form_row(form._token) }}
                {{ form_row(form.saveNewHouse) }}
            </div>
        </div>
    </div>


{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}
    {{ codMenu.scriptUserMenu('.us-dataPersonal-row') }}

    {#<!-- the main fileinput plugin file -->#}
    <script src="{{ asset('js/fileinput.js') }}"></script>
    <script src="{{ asset('js/locales/es.js') }}"></script>

    <script type="text/javascript">

        {% set arrayUrl = "" %}
        {% set arrayCaption = "" %}

        {% for h in house.photos %}

        {% set arrayUrl = arrayUrl~"'"~asset(h.url,'img')~"'," %}
        {% set arrayCaption = arrayCaption~"{caption: '', width: '120px', showZoom: false, key: "~h.id|number_format~" ,extra: {id: "~house.id~" }}," %}

        {% endfor %}


        $(document).ready(function(){

            $(".file-loading").fileinput({
                initialPreview: [
                    {{arrayUrl|raw}}
                ],
                initialPreviewConfig: [
                    {{arrayCaption|raw}}
                ],
                initialPreviewAsData: true,
                overwriteInitial: false,
                maxFileSize: 3072,
                showRemove: false,
                showUpload: false,
                showZoom: false,
                initialCaption: '',
                language: "es",
                allowedFileExtensions: ["jpg", "jpeg", "png"],
                minFileCount:1,
                maxFileCount: 50,
                validateInitialCount: true,
                deleteUrl: "{{ url('user_ajax_deleteImgHouse') }}",
                uploadExtraData: {
                    idHouse: "{{ house is not null ? house.id:"" }}",
                }
            });
        });
    </script>

{% endblock %}

