{% extends '::services/layoutService.html.twig' %}
{% import 'macros/popup.html.twig' as popups %}
{% import 'macros/sidebar.html.twig' as sidebars %}
{% import 'macros/star.html.twig' as rating %}
{% import 'macros/houseRentsList.html.twig' as houses %}
{% import 'macros/filter.html.twig' as filters %}

{#{% set service = 6 %}#}
{% if service == 6 %}
    {% set pathFilter = path('serHouseRents') %}
    {% set routingOffer = 'offHouseRents' %}
    {% set routingNewOffer = 'building_newOfferHouseRent' %}
    {% set titleService = 'Alquiler turístico' %}

{% elseif service == 7 %}
    {% set pathFilter = path('serHouseRents') %}
    {% set routingOffer = 'house_offerShareHouse' %}
    {% set routingNewOffer = 'house_newOfferShareHouse' %}
    {% set titleService = 'Bed & Breakfast' %}

{% elseif service == 8 %}
    {% set pathFilter = path('serHouseRents') %}
    {% set routingOffer = 'house_offerHouseSwap' %}
    {% set routingNewOffer = 'house_newOfferHouseSwap' %}
    {% set titleService = 'Intercambio casa' %}

{% elseif service == 9 %}
    {% set pathFilter = path('serHouseRents') %}
    {% set routingOffer = 'house_offerBedroomSwap' %}
    {% set routingNewOffer = 'house_newOfferBedroomSwap' %}
    {% set titleService = 'Intercambio habitación' %}

{% endif %}

{% block title %}
    {{ titleService }}
{% endblock %}

{% block cssParallax %}
    {% if service == 6 %}
        hre-parallax
    {% elseif service == 7 %}
        sh-house-parallax
    {% elseif service == 8 %}
        sw-house-parallax
    {% elseif service == 9 %}
        sw-room-parallax
    {% endif %}
{% endblock %}

{% block cssTitleParallax %}
    {% if service == 6 %}
        hre-header-title
    {% elseif service == 7 %}
        sh-header-title
    {% elseif service == 8 %}
        sw-header-title
    {% elseif service == 9 %}
        hre-header-title
    {% endif %}
{% endblock %}

{% block serviceTitle %} 
    {{ titleService }}
{% endblock %}

{% block serviceSubTitle %}  
    {#{ include('services/subTitles/shareCarSubTitle.html.twig') }#}
{% endblock %}

{% block alertService %}

    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
        {{ alerts.alert('alert-success', flash_message, null) }}
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('messageFail') %}
        {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

{% endblock %}

{% block serviceFilters %}
    {#{{ include('services/filters/houseRentFilters.html.twig') }}#}
    {{ filters.filterHouse('get', pathFilter , service) }}
{% endblock %}
            
{% block serviceList %}
    {% for offer in pagination %}
        {#{ include('services/lists/houseRentsList.html.twig') }#}

        {# Cambiar para mostrar solo una imagen y no 3#}
        {% set imgSmall1 = random([asset('img/alquilerTuristico1.jpg'), asset('img/alquilerTuristico2.jpg'), asset('img/alquilerTuristico3.jpg'), asset('img/alquilerTuristico4.jpg'), asset('img/alquilerTuristico5.jpg'), asset('img/alquilerTuristico6.jpg')]) %}

        {% set imgSmall2 = random([asset('img/alquilerTuristico1.jpg'), asset('img/alquilerTuristico2.jpg'), asset('img/alquilerTuristico3.jpg'), asset('img/alquilerTuristico4.jpg'), asset('img/alquilerTuristico5.jpg'), asset('img/alquilerTuristico6.jpg')]) %}

        {{ houses.element(path(routingOffer,{idOffer: offer.offer_id}), asset(offer.house_photo,'img'), imgSmall1, imgSmall2, offer.title,
            offer.capacity, offer.bedrooms, offer.bathrooms, path('user_public_profile',{username: offer.username}), offer.user_photo,
            offer.username, offer.price, offer.avg_score, service ) }}
    {% endfor %}

    {% if pagination is not null %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}

{% endblock %}

{% block filtroMovilBody %}
    {{ include('services/filters/shareCarFilter.html.twig') }}
{% endblock %}

{% block serviceSidebar %}
    {{ include('services/sidebar/ocio.html.twig') }}
    {{ include('services/sidebar/ocioMovil.html.twig') }}
{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}
    {#{{ include('services/sidebar/ocioScript.html.twig') }}#}
    {#{{ include('services/sidebar/ocioMovilScript.html.twig') }}#}
    {{ rating.staticRatingJS() }}
{% endblock %}

{% block popupBlock %}
    {{ popups.popup('sid-restaurante', 'Restaurante', 
        sidebars.sidebarElementDemo('',include(':services/sidebar:restauranteText.html.twig'))) }}
        
    {{ popups.popup('sid-ocio', 'Ocio', 
        sidebars.sidebarElementDemo('',include(':services/sidebar:ocioText.html.twig'))) }}
        
    {{ popups.popup('sid-tiendas', 'Tiendas', 
        sidebars.sidebarElementDemo('', include(':services/sidebar:tiendasText.html.twig'))) }}
{% endblock %}
