{% extends '::services/layoutService.html.twig' %}
{% import '::macros/shareCarList.html.twig' as shares %}
{% import 'macros/star.html.twig' as rating %}
{% import 'macros/filter.html.twig' as filters %}

{% set pathFilter = path('serShareCar') %}
{% set routingOffer = 'offShareCar' %}
{% set routingNewOffer = 'car_shareCarNew' %}
{% set service = 4 %}

{% block title %}
    Coche compartido
{% endblock %}

{% block cssParallax %}
sha-parallax
{% endblock %}

{% block cssTitleParallax %}
sha-header-title
{% endblock %}

{% block serviceTitle %} 
    Coche compartido
{% endblock %}

{% block serviceSubTitle %}  
    {{ include('services/subTitles/shareCarSubTitle.html.twig') }}
{% endblock %}

{% block serviceFilters %}
    {{ filters.filterCar('get',pathFilter , service) }}
{% endblock %}
            
{% block serviceList %}

    {% for offer in pagination %}
        {#{ include('services/lists/shareCarList.html.twig') }#}

        {{ shares.element(
            path('offShareCar', {idOffer: offer.offer.id}),
            asset(offer.car.photos.0.url,'img'),
            offer.date,
            offer.fromPlace,
            offer.toPlace,
            offer.offer.title,
            path('user_public_profile',{username:offer.offer.userAdmin.username}),
            asset(offer.offer.userAdmin.photo.url,'img'),
            offer.offer.userAdmin.username,
            offer.price,
            offer.offer.userAdmin.avgScore) }}
    {% endfor %}
    <!-- Modal -->

    {% if pagination is not null %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    {% endif %}

{% endblock %}

{% block filtroMovilBody %}
    {{ filters.filterCar('get',pathFilter , service) }}
{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}

    <script src=" {{ asset('js/masonry.pkgd.min.js') }}"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            var e = $(".row-tra-base");
            e.length > 0 && e.masonry({
                // options
                columnWidth: '.col-tra-elem',
                itemSelector: '.col-tra-elem',
                //percentPosition: true,
                transitionDuration: 0.2,
                isFitWidth: true,
                gutter: 20
            });


        });
    </script>


    {{ rating.staticRatingJS() }}
{% endblock %}


