{% extends '::services/layoutService.html.twig' %}
{% import '::macros/tradeList.html.twig' as trades %}
{% import '::macros/filter.html.twig' as filters %}

{% block title %}
    Trade
{% endblock %}

{% block cssParallax %}
tra-parallax
{% endblock %}

{% block cssTitleParallax %}
sha-header-title
{% endblock %}

{% block serviceTitle %} 
    Trade
{% endblock %}

{% block serviceSubTitle %}  
    {#{ include('services/subTitles/shareCarSubTitle.html.twig') }#}
{% endblock %}

{% block serviceFilters %} 
    {#{{ include('services/filters/shareCarFilter.html.twig') }}#}
    {{ filters.filterTrade('get',path('service_listTrade'),categories) }}
{% endblock %}
            
{% block serviceList %}
    <div class="row row-tra-base" id="tra-cont-base">
    {% for trade in arrayTrades %}
        {#{ include('services/lists/tradeList.html.twig') }#}
        
        {% set url = path('service_trade' , {offer: 'offer' ,idOffer: trade.id}) %}
        
        {{ trades.element(url, trade.offer.photos.0.url, trade.offer.title, trade.category.name, '#CATEGORIA', 
            '#USER', trade.offer.userAdmin.photo.url, trade.offer.userAdmin.username , trade.price) }}
    {% endfor %}
    </div>
{% endblock %}

{% block filtroMovilBody %}
{#    {{ include('services/filters/shareCarFilter.html.twig') }}#}
    {{ filters.filterTrade('get',path('service_listTrade'),categories) }}
{% endblock %}

{% block serviceSidebar %}
    
{% endblock %}

{% block javascriptsFooter %}
{{ parent() }}

<script src=" {{ asset('js/masonry.pkgd.min.js') }}"></script>
<script type="text/javascript">
    
    $(document).ready(function(){
        var e = $(".row-tra-base");
        e.length > 0 && e.masonry({
            // options
            columnWidth: '.col-tra-elem',
            itemSelector: '.col-tra-elem',
            //percentPosition: true,
            transitionDuration: 0.2,
            isFitWidth: true,
            gutter: 20
        });
        
        
    });
    
    /*var e = $(".row-tra-base");
    e.length > 0 && (e.masonry({
        transitionDuration: 0,
        itemSelector: ".col-tra-elem",
        columnWidth: ".col-tra-elem",
        gutter: 20,
        percentPosition: true,
    });*/
    
</script>

{#{{ include('services/filters/filterTradeScript.html.twig') }}#}
{{ filters.filterTradeScript(categories|length) }}

{% endblock %}

