{% extends '::services/layoutService.html.twig' %}
{% import '::macros/tradeList.html.twig' as trades %}

{% block title %}
    Trade
{% endblock %}

{% block cssParallax %}
tra-parallax
{% endblock %}

{% block cssTitleParallax %}
sha-header-title
{% endblock %}

{% block serviceTitle %} 
    Trade
{% endblock %}

{% block serviceSubTitle %}  
    {#{ include('services/subTitles/shareCarSubTitle.html.twig') }#}
{% endblock %}

{% block serviceFilters %} 
    {{ include('services/filters/shareCarFilter.html.twig') }}
{% endblock %}
            
{% block serviceList %}
    <div class="row row-tra-base" >
    {% for i in 0..22 %}
        {#{ include('services/lists/tradeList.html.twig') }#}
        
        {% set img = random([asset('img/seat.jpg'), asset('img/articulo1.jpg'), asset('img/macbook.png'), asset('img/alquilerTuristico3.jpg')]) %}
        {% set title = random(['Titulo objeto en venta', 'Aleatorio para que el texto sea diferentes', 'Yo soy corto', 'Soy un titulo para ver que aparece', 'Te ha tocado la loteria!!']) %}
        
        {{ trades.element('#TRADE', img, title, 'categoria', '#CATEGORIA', 
            '#USER', asset('img/usuario1.jpg'), 'Paco J', random(999)) }}
    {% endfor %}
    </div>
{% endblock %}

{% block filtroMovilBody %}
    {{ include('services/filters/shareCarFilter.html.twig') }}
{% endblock %}

{% block serviceSidebar %}
    
{% endblock %}

{% block javascriptsFooter %}
{{ parent() }}

<script src=" {{ asset('js/masonry.pkgd.min.js') }}"></script>
<script type="text/javascript">
    $('.row-tra-base').masonry({
    // options
    columnWidth: '.col-tra-elem',
    itemSelector: '.col-tra-elem',
    percentPosition: true,
    transitionDuration: 0.0
  });
</script>
{% endblock %}

