{% extends '::base.html.twig' %}

{% block nav %}
    {{ parent() }}
    {{ include('nav/menuImages.html.twig') }}
{% endblock %}

{% block body %}
    <div class="cd-main-content">
        {{ include('homepage/franja.html.twig') }}
        {{ include('homepage/publicidadSponsor.html.twig') }}
        {{ include('homepage/packs.html.twig') }}
        {{ include('homepage/blog.html.twig') }}
    </div>

{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready( function() {
            $('#myCarousel').carousel({
                interval:   4000
                });

                var clickEvent = false;
                $('#myCarousel').on('click', '.nav a', function() {
                    clickEvent = true;
                    $('.nav li').removeClass('active');
                    $(this).parent().addClass('active');		
                }).on('slid.bs.carousel', function(e) {
                    if(!clickEvent) {
                        var count = $('.nav').children().length -1;
                        var current = $('.nav li.active');
                        current.removeClass('active').next().addClass('active');
                        var id = parseInt(current.data('slide-to'));
                        if(count == id) {
                            $('.nav li').first().addClass('active');	
                        }
                    }
                    clickEvent = false;
                });
        });
    </script>
{% endblock %}