<footer class="section section-primary cd-main-content"> 
    <div class="container separacion-inferior">
        <div class="row">
            {#<!-- PRIMERA COLUMNA -->#}
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 footer-text 
                 col-footer">
                <div class="row footer-title">
                    <h4>INFORMACIÓN</h4>
                    <hr class="hr-footer">
                </div>

                <div class="row footer-elementos">
                    <a class="" 
                       href="{{ path('aboutUs') }}">
                        Sobre nosotros
                    </a>
                </div>

                <div class="row footer-elementos">
                    <a class="" href="#">Servicios</a>
                </div>

                <div class="row footer-elementos">
                    <a class="" href="{{ path('privacyPolicy') }}">
                        Política de privacidad
                    </a>
                </div>

                <div class="row footer-elementos">
                    <a class="" 
                       href="{{ path('siteMap') }}">
                        Mapa del sitio
                    </a>
                </div>

                <div class="row footer-elementos">
                    <a class="" href="{{ path('termsConditions') }}">
                        Términos y Condiciones
                    </a>
                </div>

                <div class="row footer-elementos">
                    <a class="" 
                       href="{{ path('orders') }}">
                        Pedidos
                    </a>
                </div>

                <div class="row footer-elementos">
                    <a class="" 
                       href="{{ path('devolutions') }}">
                        Devoluciones
                    </a>
                </div>

                <div class="row footer-elementos">
                    <a class="" 
                       href="{{ path('contact') }}">
                        Contacta con nosotros
                    </a>
                </div>


            </div>
            {#<!-- FIN PRIMERA COLUMNA -->#}

            {#<!-- SEGUNDA COLUMNA -->#}
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-footer">
                <div class="row footer-title">
                    <h4>DISFRUTANOS</h4>
                    <hr class="hr-footer">
                </div>

                <div class="row footer-elementos">
                    <a class="" 
                       href="{{ path('shipping') }}">
                        Envios
                    </a>
                </div>

                <div class="row footer-elementos">
                    <a class="" href="#">Asegure los servicios</a>
                </div>

                <div class="row footer-elementos">
                    <a class="" href="#">Envios internacionales</a>
                </div>

                <div class="row footer-elementos">
                    <a class="" href="#">Afiliados</a>
                </div>

                <div class="row footer-elementos">
                    <a class="" href="#">Ventas del grupo WWW?</a>
                </div>
            </div>
            {#<!-- FIN SEGUNDA COLUMNA -->#}

            {#<!-- TERCERA COLUMNA -->#}
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-footer">
                <div class="row footer-title">
                    <h4>MI CUENTA</h4>
                    <hr class="hr-footer">
                </div>

                <div class="row footer-elementos">
                    <a class="" href="#">Registrate</a>
                </div>

                <div class="row footer-elementos">
                    <a class="" href="#">Ver el carro</a>
                </div>

                <div class="row footer-elementos">
                    <a class="" href="#">Mi lista de deseos</a>
                </div>

                <div class="row footer-elementos">
                    <a class="" href="#">Seguir mi pedido</a>
                </div>

                <div class="row footer-elementos">
                    <a class="" href="#">Ayuda</a>
                </div>
            </div>
            {#<!-- FIN TERCERA COLUMNA -->#}

            {#<!-- CUARTA COLUMNA -->#}
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-6 col-footer-sub 
                col-footer">
                <div class="row footer-title">
                    <h4>WHAT WANT WEB</h4>
                    <hr class="hr-footer">
                </div>

                <div class="row footer-elementos">
                    <p> Avenida Fernando de los Rios, Nº11 Oficina 3
                        <br>
                        18100 - Armilla (Granada)
                        España
                        <br><br>
                        Tel.: 958 04 90 52
                        <br>
                        Email: info@whatwantweb.com
                    </p>
                </div>

                <div class="row footer-elementos text-center">
                    <a class="fa fa-facebook iconos-footer" href="https://www.facebook.com/Whatwantweb-696877993803416/"></a>
                    <a class="fa fa-twitter iconos-footer" href="https://twitter.com/whatwantweb"></a>
                    <a class="fa fa-youtube-play iconos-footer" href="https://www.youtube.com/channel/UCaF0BgP9VmqO4SEa2Gihdcw"></a>
                    {#<a class="fa fa-snapchat-ghost iconos-footer" href="#"></a>#}
                    <a class="fa fa-linkedin iconos-footer" href="https://es.linkedin.com/in/whatwantweb-whatwantweb-169010125"></a>
                    <a class="fa fa-flickr iconos-footer" href="https://www.flickr.com/photos/142367374@N07/?"></a>
                </div>
            </div>
            {#<!-- FIN CUARTA COLUMNA -->#}
        </div>
    </div>

    {#<!-- FIRMA WEB -->#}
    <div class="container-fluid signature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 leer-post">
                    <img class="img-responsive img-signature" 
                         src="{{ asset('img/footer.png') }}"> 
                    <span class="signature-text">
                        © 2017. &nbsp;&nbsp; Todos los derechos reservados.
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>