{% extends '::base.html.twig' %}


{% block header %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block title %}
    Registro en WhatWantWeb
{% endblock %}
       
{% block body %}
{#<!-- TITULO REGISTRO -->#}
<div class="container cd-main-content">
    <h1>Registro</h1>
    <hr>
</div>
{#<!-- FIN TITULO REGISTRO -->#}
  
  {% block alert %}
        
        {% for flash_message in app.session.flashbag.get('messageSuccess') %}
           {{  alerts.alert('alert-success', flash_message, null) }}
        {% endfor %}

        {% for flash_message in app.session.flashbag.get('messageFail') %}
            {{  alerts.alert('alert-warning', flash_message, null) }}
        {% endfor %}
   {% endblock %}
    
{#<!-- CUERPO FORMULARIO -->#}
<div class="container cd-main-content">

{{ form_start(formulario) }}
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        {#<!-- FILA USUARIO NOMBRE Y TELEFONO -->#}
        <div class="row">
            {#<!-- USUARIO NOMBRE -->#}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {{ form_row(formulario.username) }}
            </div>
            {#<!-- FIN USUARIO NOMBRE -->#}


            {#<!-- USUARIO TELEFONO -->#}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {{ form_label(formulario.prefix) }}
                <div class="user-register-phone"> 
                {{ form_widget(formulario.prefix) }}
                {{ form_widget(formulario.phone) }}
                </div>
            </div>
            {#<!-- FIN USUARIO TELEFONO -->#}


        </div>
        {#<!-- FIN FILA USUARIO NOMBRE Y TELEFONO -->#}


        {#<!-- FILA USUARIO EMAIL Y PASS -->#}
        <div class="row">
            {#<!-- USUARIO PASS -->#}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {{ form_row(formulario.password) }}
                <div>
                    <em><b>*La contraseña debe contener mínimo 8 caracteres entre números y letras.</b></em>
                </div>
            </div>

            {#<!-- FIN USUARIO PASS -->#}


            {#<!-- USUARIO EMAIL -->#}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {{ form_row(formulario.email) }}
            </div>
            {#<!-- FIN USUARIO EMAIL -->#}


        </div>
        {#<!-- FIN FILA USUARIO EMAIL Y PASS -->#}

        {{ form_row(formulario.isEnterprise) }}
        {{ form_row(formulario.nif) }}

        {#<!-- FILA USUARIO FECHA NACIMIENTO -->#}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
                 us-birthdate-align">
                {{ form_row(formulario.birthdate) }}
            </div>
        </div>
        {#<!-- FIN FILA USUARIO FECHA NACIMIENTO -->#}


        {#<!-- FILA USUARIO HOBBIES -->#}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>
                    Selecciona 3 preferencias que se identifique con tus gustos
                    y aficiones.
                </h3>
                
                <hr>
                {% set imageHobby = "" %}
                {% set i = 0 %}

                {% for hobby in hobbies %}

                    {#{% if hobby.photo is defined %}#}
                        {#{% set imageHobby = 'background:url("https://www.whatwantweb.com/'~hobby.photo.url~'")' %}#}
                    {#{% endif %}#}
                    <div class="us-check-group-element col-lg-3 col-md-3 
                         col-sm-4 col-xs-6">
                        <label class="us-image-checkbox center-block" 
                            title="{{ hobby.name | capitalize}}">

                            {#<img class="img-responsive img-circle center-block#}
                                 {#us-register-img-hob"#}
                                 {#src="{{ asset('img/hobbies/ciencia.jpg') }}" />#}

                            <img class="img-responsive img-circle center-block
                                 us-register-img-hob"
                                 src="{{ asset(hobby.photo) }}" />

                            <input style="{{ imageHobby }}" 
                                   type="checkbox" 
                                   name="hobbies_{{i}}" 
                                   value="{{hobby.id}}">
                        </label>
                        <span class="us-register-text-hobby"> 
                            {{ hobby.name | capitalize}} 
                        </span>
                    </div>
                    {% set i = i+1%}
                {%endfor%}
            </div>
        </div>
        {#<!-- FIN FILA USUARIO HOBBIES -->#}
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 us-label-terms">
                {{ form_errors(formulario.acepto) }}
                {{ form_widget(formulario.acepto) }}
                <span><a href= "https://www.whatwantweb.com/termsConditions" target="_blank">Acepto los términos y condiciones</a></span>
            </div>
        </div>
                
                
      {#  <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="us-terms">
                    {{ include('macros/termsConditions.html.twig') }}
                    {{ include('macros/privacy.html.twig') }}
                </div>
            </div>
        </div>
                #}
                
        {#<!-- FILA USUARIO CAPTCHA -->#}
        <div class="row">
            <div class="us-register-captcha center-block">
                {#{{ form_row(formulario.captcha) }}#}
                <div class="g-recaptcha" data-sitekey="6LcHuSEUAAAAAGpk4s2QNLWHqhDVFE10QlbLqFSr"></div>
            </div>
        </div>
        {#<!-- FIN FILA USUARIO CAPTCHA -->#}


        {#<!-- FILA USUARIO CAPTCHA Y BOTON -->#}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 us-save-register">
                {{ form_row(formulario._token) }}
                {{ form_row(formulario.guardar) }}
            </div>
        </div>
        {#<!-- FIN FILA USUARIO CAPTCHA Y BOTON -->#}


    </div>


</div>
{#<!-- FIN CUERPO FORMULARIO -->#}

{#{{ form_end(formulario) }}#}

{% endblock %}



{% block javascriptsFooter %}
{{ parent() }}    
{{ include('nav/menuScript.html.twig') }}
    {# Add reCAPTCHA api provided by website #}
    <script src='https://www.google.com/recaptcha/api.js'></script>

<script type="text/javascript">
    
   
    jQuery(function ($) {
        var range = 3;
        var cont = 0; 
        // init the state from the input
        $(".us-image-checkbox").each(function () {
            if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
                $(this).addClass('us-image-checkbox-checked');
                //alert('Select maximum ' + cont + ' technologies!');
                
            }
            else {
                $(this).removeClass('us-image-checkbox-checked');
                //alert('Select maximum ' + cont + ' technologies!');
                cont = 0;
            }
        });

        // sync the state to the input
        $(".us-image-checkbox").on("click", function (e) {
            if ($(this).hasClass('us-image-checkbox-checked')) {
                $('.us-image-checkbox').removeClass('us-image-all-select');
                $(this).removeClass('us-image-checkbox-checked');
                $(this).find('input[type="checkbox"]').first().removeAttr("checked");
                cont--;
                //alert('2Select maximum ' + cont + ' technologies!');
            }
            else {
                if(cont < range){
                    $(this).addClass('us-image-checkbox-checked');
                    $(this).find('input[type="checkbox"]').first().attr("checked", "checked");
                    cont++;
                    //alert('1Select maximum ' + cont + ' technologies!');
                }
                
                if(cont == range){
                    $('.us-image-checkbox').not('.us-image-checkbox-checked').addClass('us-image-all-select');
                    //alert('FULLLSelect maximum ' + cont + ' technologies!');
                }
                
            }
            
            /*if(cont == range){
                $(this).addClass('us-image-all-select');
                $(this).find('input[type="checkbox"]').first().attr("checked", "checked");
                    
            }*/

            e.preventDefault();
        });
    });
</script>
    
<script>
    $(document).ready(function(){ 
        $(document).on('click','#registroUsuario_isEnterprise',mostrarOcultarCIF);
        
        function mostrarOcultarCIF(){
            
            if($('#registroUsuario_isEnterprise').prop('checked')){
                $('.registroUsuario_nif').css('display','block');
                $('#registroUsuario_nif').attr('required','required');
            }else{
               $('.registroUsuario_nif').css('display','none'); 
            }
        }
        
        if($('#registroUsuario_isEnterprise').prop('checked')){
            $('.registroUsuario_nif').css('display','block');
            $('#registroUsuario_nif').attr('required','required');
        }
        
    });
</script>
{% endblock %}
