{% extends '::base.html.twig' %}


{% block header %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block body %}
    <!-- TITULO REGISTRO -->
    <div class="container cd-main-content">
        <h1>Registro</h1>
        <hr>
    </div>
    <!-- FIN TITULO REGISTRO -->

    {% block alert %}

        {% for flash_message in app.session.flashbag.get('messageSuccess') %}
            {{  alerts.alert('alert-success', flash_message, null) }}
        {% endfor %}

        {% for flash_message in app.session.flashbag.get('messageFail') %}
            {{  alerts.alert('alert-warning', flash_message, null) }}
        {% endfor %}
    {% endblock %}

    <!-- CUERPO FORMULARIO -->
    <div class="container cd-main-content">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <h3>Registro realizado con éxito</h3>

            <p>
                Ya casi ha terminado. Se le ha envíado un email de confirmación, para poder completar el registro debe
                de confirma su email, le recordamos que en ocasiones el correo puede acabar en su bandeja de correo no
                deseado
            </p>
        </div>


    </div>

{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}
    {{ include('nav/menuScript.html.twig') }}

{% endblock %}
