{% extends '::base.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}
       
{% block body %}
    <!-- TITULO REGISTRO -->
    <div class="container cd-main-content">
        <h1>Register</h1>
        <hr>
    </div>
    <!-- FIN TITULO REGISTRO -->
    
    
    <!-- CUERPO FORMULARIO -->
    <div class="container cd-main-content">
        <!-- FILA USUARIO NOMBRE Y TELEFONO -->
        <div class="row">
            <!-- USUARIO NOMBRE -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                
            </div>
            <!-- FIN USUARIO NOMBRE -->
            
            <!-- USUARIO TELEFONO -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            </div>
            <!-- FIN USUARIO TELEFONO -->
            
            
        </div>
        <!-- FIN FILA USUARIO NOMBRE Y TELEFONO -->
        
        
        <!-- FILA USUARIO EMAIL Y PASS -->
        <!-- FIN FILA USUARIO EMAIL Y PASS -->
        
        
        <!-- FILA USUARIO FECHA NACIMIENTO -->
        <!-- FIN FILA USUARIO FECHA NACIMIENTO -->
        
        
        <!-- FILA USUARIO HOBBIES -->
        <!-- FIN FILA USUARIO HOBBIES -->
        
        
        <!-- FILA USUARIO CAPTCHA Y BOTON -->
        <!-- FIN FILA USUARIO CAPTCHA Y BOTON -->
        
        
    </div>
    <!-- FIN CUERPO FORMULARIO -->
    
    {{ form_start(formulario, {'action':path('user_register'),'attr':{'onsubmit':'return validaRegistro()'}}) }}

        {{ form_rest(formulario) }}
        <div class="hobbies">

            {% set imageHobby = "" %}
            {% set i = 0 %}

            {% for hobby in hobbies %}

                {% if hobby.photo is defined %}
                        {% set imageHobby = 'background:url("http://www.whatwantweb.com/'~hobby.photo.url~'")' %}
                {% endif %}

                <input style="{{ imageHobby }}" type="checkbox" name="hobbies_{{i}}" value="{{hobby.id}}">
                {{ hobby.name | capitalize}}
                <br>
                {% set i = i+1%}
            {%endfor%}
        </div>
    {{ form_end(formulario) }}

{% endblock %}