
<div>
    <a href="{{ path('serHouseRents') }}">
        <h4>
            <i class="fa fa-home pull-left">

            </i>
            Alquiler turistico
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('serHouseRents') }}">
        <h4>
            <i class="fa fa-exchange pull-left ">

            </i>
            Intercambio habitación entre estudiantes
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('serHouseRents') }}">
        <h4>
            <i class="fa fa-home pull-left">

            </i>
            Alquiler habitaciones
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('serHouseRents') }}">
        <h4>
            <i class="fa fa-exchange pull-left">

            </i>
            Intercambio de casa
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('serHouseRents') }}">
        <h4>
            <i class="fa fa-envira pull-left">

            </i>
            Camping
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('serHouseRents') }}">
        <h4>
            <i class="fa fa-tree pull-left">

            </i>
            Casas rurales, castillos y cuevas
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('serHouseRents') }}">
        <h4>
            <i class="fa fa-search pull-left">

            </i>
            Compra/Venta Casa
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('house_lisShareHouse') }}">
        <h4>
            <i class="fa fa-signing pull-left">

            </i>
            Casa compartida
        </h4>
    </a>
</div>
