
<div>
    <a href="{{ path('service_listClothes') }}">
        <h4>
            <i class="fa fa-child pull-left">

            </i>
            Ropa
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('service_listTrade') }}">
         <h4>
             <i class="fa fa-money pull-left">

             </i>
             Compra/Venta
         </h4>
    </a>
</div>

{#<div>#}
    {#<a href="{{ path('service_listTrade') }}">#}
        {#<h4>#}
            {#<i class="fa fa-building-o pull-left">#}

            {#</i>#}
            {#Link empresa#}
        {#</h4>#}
    {#</a>#}
{#</div>#}

<div>
    <a href="{{ path('service_listBarter') }}">
        <h4>
            <i class="fa fa-refresh pull-left">

            </i>
            Trueque
        </h4>
    </a>
</div>

<div>
    <a href="{#{ path('service_listTrade') }#}#Proximamente">
        <h4>
            <i class="fa {#fa-ship#} fa-question pull-left">

            </i>
            {#Alquiler barcos#}
            Próximamente
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('service_listTrade') }}">
        <h4>
            <i class="fa fa-ticket pull-left">

            </i>
            Entradas ocio
        </h4>
    </a>
</div>

<div>
    <a href="{#{ path('service_listTrade') }#}#Proximamente">
        <h4>
            <i class="fa {#fa-wifi#} fa-question pull-left">

            </i>
            {#Wifi gratis#}
            Próximamente
        </h4>
    </a>
</div>

<div>
    <a href="{#{ path('service_listTrade') }#}#Proximamente">
        <h4>
            <i class="fa {#fa-mobile#} fa-question pull-left">

            </i>
            {#Cargar Móvil#}
            Próximamente
        </h4>
    </a>
</div>

<div>
    <a href="{#{ path('service_listTrade') }#}#Proximamente">
        <h4>
            <i class="fa {#fa-address-book-o#} fa-question pull-left">

            </i>
            {#Comprar Ropa Nueva#}
            Próximamente
        </h4>
    </a>
</div>
