
<div>
    <a href="{{ path('serTrade') }}">
        <h4>
            <i class="fa fa-child pull-left">

            </i>
            Ropa
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('serTrade') }}">
         <h4>
             <i class="fa fa-money pull-left">

             </i>
             Compra-Venta general
         </h4>
    </a>
</div>

<div>
    <a href="{{ path('serTrade') }}">
        <h4>
            <i class="fa fa-building-o pull-left">

            </i>
            Link empresa
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('serTrade') }}">
        <h4>
            <i class="fa fa-refresh pull-left">

            </i>
            Trueque
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('serTrade') }}">
        <h4>
            <i class="fa fa-ship pull-left">

            </i>
            Alquiler barcos
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('serTrade') }}">
        <h4>
            <i class="fa fa-ticket pull-left">

            </i>
            Entradas ocio
        </h4>
    </a>
</div>
