{% extends '::base.html.twig' %}

{% block title %}
    Sobre Nosotros
{% endblock %}

{% block header %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block body %}
    <video class="aus-video" src="{{ asset('video/macbook.mp4') }}" 
        autoplay loop mute poster="{{ asset('img/macbook.png') }}">
    </video>
    
    {#<!-- TITULO -->#}
    <div class="container-fluid aus-cab cd-main-content">
        <h1>Sobre Nosotros</h1>

    </div>
    {#<!-- FIN TITULO -->#}
    
    
    {#<!-- NUESTROS VALORES -->#}
    <div class="container-fluid aus-bg cd-main-content">
        <div class="container aus-cont">
            <h2>
                Nuestros valores
            </h2>
            <hr>
            <p>
                Internet y las nuevas tecnologías han impulsado diferentes modelos de consumo alternativo, siendo uno
                de ellos el que conocemos como economía colaborativa. Nosotros creemos en este sistema de colaboración
                basado en prestar, alquilar, comprar o vender productos según las necesidades de los usuarios.
            </p>

            <p>
                La plataforma que ponemos a vuestra disposición os permite ayudar a una necesidad concreta no basada en
                el beneficio económico, ya que, como hemos mencionado, nos centramos en la cola-boración y ayuda mutua.
            </p>

            <p>
                Este sistema de economía ofrece precios módicos, contenidos o simbólicos. Presentamos una gama de
                posibilidades con las que posibilitar un ahorro de recursos fundamentales que favorecen a nuestro
                planeta, pudiendo también dar un segundo uso a muchos productos, así como la reutili-zación y la
                contribución al cuidado, la sostenibilidad  y beneficio medioambiental
            </p>
        </div>

        
    </div>
    {#<!-- FIN NUESTROS VALORES -->#}

    
    {#<!-- TEXTO E IMAGENES -->#}
    <div class="container-fluid cd-main-content">
        <div class="row">
            
            {#<!-- IMAGEN 1 -->#}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aus-img1">

            </div>
            {#<!-- FIN IMAGEN 1 -->#}

            {#<!-- QUE ES WWW -->#}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aus-text-ob">
                <h3>
                    ¿Qué es WhatWantWeb?
                </h3>
                <hr>
                <p>
                    Whatwantweb es una plataforma basada en el concepto de intercambiar y compartir bienes y ser-vicios,
                    creando nuevas formas de emprender y también un nuevo sentido de la propiedad. Nuestro sentido de la
                    propiedad ha cambiado, hemos pasado de una sociedad en la que sobra de todo a otra en la cual la
                    mayoría no puede disfrutar de lo que este siglo ofrece (bien sea por el abuso de precios o el mal
                    servicio), a menos que sea compartiéndolo. Esto supone una solución a la crisis económica y
                    financiera.
                </p>
            </div>
            {#<!-- FIN QUE ES WWW -->#}

            
        </div>


        <div class="row">
            {#<!-- NUESTROS OBJETIVOS -->#}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aus-text-ob">
                <h3>
                    Nuestros objetivos
                </h3>
                <hr>
                <p>
                    Nosotros queremos cambiar la forma de compartir, prestar, alquilar o vender; cambiar la mentalidad
                    de los ciudadanos en su manera de relacionarse social y económicamente, aunque esta idea es muy
                    antigua, el trueque es la modalidad de intercambio más antigua de la humanidad. También de pequeños
                    intercambiábamos cromos (los más valiosos o difíciles de conseguir los cambiábamos por varios
                    cromos de menor valor).
                </p>
            </div>
            {#<!-- FIN NUESTROS OBJETIVOS -->#}

            
            {#<!-- IMAGEN 2 -->#}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aus-img2">

            </div>
            {#<!-- FIN IMAGEN 2 -->#}

            
        </div>

        
    </div>
    {#<!-- FIN TEXTO E IMAGENES -->#}

    <div class="container-fluid aus-bg cd-main-content">
        <div class="container aus-cont aus-text-sup">
            <p>
                Normalmente, cuando adquirimos bienes o servicios a precio de mercado no nos cuestionamos dicho precio,
                el cual se marca para el beneficio de las grandes empresas, y de esta manera el disfrute o uso de
                determinados productos queda sólo para unos pocos.
            </p>

            <p>
                Aquí tenéis la oportunidad de todo ello en una sola plataforma, con diferentes posibilidades de crear y
                utilizar la economía o consumo colaborativo participando así con nuestros semejantes y siendo pioneros
                en un servicio de WhatsApp para que vuestras preguntas, incidencias o problemas se resuelvan en cuestión
                de minutos.
            </p>

            <p>
                Whatwantweb es una plataforma con multitud de posibilidades de economía colaborativa, contando con un
                servicio de WhatsApp para que todas tus incidencias se resuelvan en minutos. Entre sus Servicios más
                destacadas están: coche compartido, alquiler turístico, alquiler de vivienda compartida, alquiler de
                vivienda compartida para estudiantes, (todos estos servicios serán bonificadas con un 10% de tus gastos,
                los cuales se te ingresarán en una bolsa para que puedas tener estancias en viviendas gratuitamente).
            </p>

            <p>
                En los alquileres de apartamentos hallaras un calendario que te facilitamos los precios de cada día para
                que te resulte más fácil, ya que podrás alojarte en las fechas que mejor se ajusten a tu presupuesto o
                ampliar tu estancia al conocer los precios por día.
            </p>

            <p>
                También destacan los servicios de: el mercadillo de ropa, la venta de todo tipo de productos, así como la
                compra, y el trueque. Todo ello te ofrece la posibilidad de tener tu compra el mismo día de realizar la
                transacción, ya que viaja en nuestros coches compartidos y además los conductores podrán certificar el
                estado del producto para una posible reclamación o devolución gratuita.
            </p>

            <p>
                Por último, y no menos importante, ofrecemos el intercambio de casas, el intercambio de habita-ciones entre
                estudiantes, viajes sorpresa, pack de conciertos que incluye la vivienda turística y coche compartido,
                entradas de cines, teatros, conciertos, festivales, la posibilidad de poder comer en viviendas particulares
                con los menús de grandes chef y aprender idiomas con personas nativas mientras te tomas una cerveza. Para
                cualquier duda siempre puedes preguntar al otro usuario a través de nuestra mensajería interna.
            </p>

            <p>
                Para que se te haga más ameno la visita por la página, esta ira acompañada de una emisora de radio,
                whatwantradio.com, dirigida por un DJ reconocido mundialmente.
            </p>

            <p>
                Todos los meses se realizarán hasta 30 sorteos entre todos nuestros usuarios que hayan realizado alguna
                transacción, bien como propietarios o consumidores, para que disfruten de viajes gratuitos.
            <p>

                Si invitas hasta 50 amigos, podrás llevarte el 1% en metálico de todas las transacciones que cada uno de
                ellos realice.<br>

                En breve ampliaremos en 10 los servicios que actualmente están disponible, algunos de ellos son realmente
                sorprendentes.<br>

                Próximamente podrás utilizar todos estos servicios, ya que abrimos oficinas, en Francia, Italia, Portugal,
                Inglaterra, Escocia, Irlanda, Alemania y Bélgica.
            </p>
        </div>
    </div>
    
    
    {#<!-- NUESTRO EQUIPO -->#}
    <div class="container-fluid aus-bg cd-main-content">
        <div class="container aus-cont">
            <h2>
                Nuestro equipo
            </h2>
            <hr>
            
            {#<!-- UNA PERSONA -->#}
            <div class="row">
                {#<!-- PERSONA -->#}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 aus-col-peo1">
                    {#<!-- EFECTO -->#}
                    <div class="aus-efect-peo1">
                        {#<!-- IMAGEN PERSONA -->#}
                        {#<div class="aus-img-peo">#}
                            {#<img src="{{ asset('img/usuario1.jpg') }}" #}
                                 {#class="img-responsive img-circle #}
                                    {#aus-img-personal center-block" #}
                                 {#alt="person">#}
                        {#</div>#}
                        {#<!-- FIN IMAGEN PERSONA -->#}
                        
                        
                        {#<!-- TEXTO PERSONA -->#}
                        <div class="aus-text-peo">
                            <span class="aus-name">
                                Felix Estrada
                            </span>
                            <span class="aus-job">
                                CEO
                            </span>
                            <p>
                                No hay ninguna cosa seria que no pueda decirse con una sonrisa.
                            </p>
                            <a class="aus-email" href="mailto:felix.estrada@whatwantweb.com">
                                felix.estrada@whatwantweb.com
                            </a>
                        </div>
                        {#<!-- FIN TEXTO PERSONA -->#}
                        
                        
                    </div>
                    {#<!-- FIN EFECTO -->#}
                    
                    
                </div>
                {#<!-- FIN PERSONA -->#}
                
                
            </div>
            {#<!-- FIN UNA PERSONA -->#}
            
            
            {#<!-- TRES PERSONAS -->#}
            <div class="row">
                {#<!-- PERSONA -->#}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 aus-col-peo">
                    {#<!-- EFECTO -->#}
                    <div class="aus-efect-peo">
                        {#<!-- IMAGEN PERSONA -->#}
                        {#<div class="center-block aus-img-peo ">#}
                            {#<img src="{{ asset('img/usuario1.jpg') }}" #}
                                 {#class="img-responsive img-circle #}
                                    {#aus-img-personal center-block" #}
                                 {#alt="person">#}
                        {#</div>#}
                        {#<!-- FIN IMAGEN PERSONA -->#}
                        
                        
                        {#<!-- TEXTO PERSONA -->#}
                        <div class="aus-text-peo">
                            <span class="aus-name">
                                Rocio Espinosa
                            </span>
                            <span class="aus-job">
                                Web Developer
                            </span>
                            <p>
                                Texto personalizable, en el cual cada uno puede 
                                introducir lo que desee. Se recomienda que sea una frase
                                que le motive personalmente.
                            </p>
                            <a class="aus-email" href="mailto:rocio.espinosa@whatwantweb.com">
                                rocio.espinosa@whatwantweb.com
                            </a>
                        </div>
                        {#<!-- FIN TEXTO PERSONA -->#}
                        
                        
                    </div>
                    {#<!-- FIN EFECTO -->#}

                </div>
                {#<!-- FIN PERSONA -->#}
                
                {#<!-- PERSONA -->#}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 aus-col-peo">
                    {#<!-- EFECTO -->#}
                    <div class="aus-efect-peo">
                        {#<!-- IMAGEN PERSONA -->#}
                        {#<div class="aus-img-peo">#}
                            {#<img src="{{ asset('img/usuario1.jpg') }}" #}
                                 {#class="img-responsive img-circle #}
                                    {#aus-img-personal center-block" #}
                                 {#alt="person">#}
                        {#</div>#}
                        {#<!-- FIN IMAGEN PERSONA -->#}
                        
                        {#<!-- TEXTO PERSONA -->#}
                        <div class="aus-text-peo">
                            <span class="aus-name">
                                Julio Piñar
                            </span>
                            <span class="aus-job">
                                Web Developer
                            </span>
                            <p>
                                I've always been very confident in my immaturity.
                            </p>
                            <a class="aus-email" href="mailto:julio.pinar@whatwantweb.com">
                                julio.pinar@whatwantweb.com
                            </a>
                        </div>
                        {#<!-- FIN TEXTO PERSONA -->#}
                        
                    </div>
                    {#<!-- FIN EFECTO -->#}
                    
                </div>
                {#<!-- FIN PERSONA -->#}
                
                {#<!-- PERSONA -->#}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 aus-col-peo">
                    {#c<!-- EFECTO -->#}
                    <div class="aus-efect-peo">
                        {#<!-- IMAGEN PERSONA -->#}
                        {#<div class="aus-img-peo">#}
                            {#<img src="{{ asset('img/usuario1.jpg') }}" #}
                                 {#class="img-responsive img-circle #}
                                    {#aus-img-personal center-block" #}
                                 {#alt="person">#}
                        {#</div>#}
                        {#<!-- FIN IMAGEN PERSONA -->#}
                        
                        {#<!-- TEXTO PERSONA -->#}
                        <div class="aus-text-peo">
                            <span class="aus-name">
                                Angel Velazquez
                            </span>
                            <span class="aus-job">
                                Android Developer
                            </span>
                            <p>
                                El hemisferio izquierdo de nuestro cerebro es racional, el derecho pura emoción.
                                El izquierdo es el que analiza, el derecho solo siente; por suerte a veces se ponende
                                acuerdo.
                            </p>
                            <a class="aus-email" href="mailto:angel.velazquez@whatwantweb.com">
                                angel.velazquez@whatwantweb.com
                            </a>
                        </div>
                        {#<!-- FIN TEXTO PERSONA -->#}
                        
                    </div>
                    {#<!-- FIN EFECTO -->#}
                    
                </div>
                {#<!-- FIN PERSONA -->#}
                
            </div>
            {#<!-- FIN TRES PERSONAS -->#}
            
            {#<!-- TRES PERSONAS -->#}
            <div class="row">
                {#<!-- PERSONA -->#}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 aus-col-peo">
                    {#<!-- EFECTO -->#}
                    <div class="aus-efect-peo">
                        {#<!-- IMAGEN PERSONA -->#}
                        {#<div class="aus-img-peo">#}
                            {#<img src="{{ asset('img/usuario1.jpg') }}" #}
                                 {#class="img-responsive img-circle #}
                                    {#aus-img-personal center-block" #}
                                 {#alt="person">#}
                        {#</div>#}
                        {#<!-- FIN IMAGEN PERSONA -->#}
                        
                        {#<!-- TEXTO PERSONA -->#}
                        <div class="aus-text-peo">
                            <span class="aus-name">
                                Jose Alberto Megías
                            </span>
                            <span class="aus-job">
                                Web Developer
                            </span>
                            <p>
                                Escoge un trabajo que te guste y no tendrás que trabajar ni un sólo día de tu vida
                            </p>
                            <a class="aus-email" href="mailto:josealberto.megias@whatwantweb.com">
                                josealberto.megias@whatwantweb.com
                            </a>
                        </div>
                        {#<!-- FIN TEXTO PERSONA -->#}
                        
                    </div>
                    {#<!-- FIN EFECTO -->#}
                    
                </div>
                {#<!-- FIN PERSONA -->#}
                
                {#<!-- PERSONA -->#}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 aus-col-peo">
                    {#<!-- EFECTO -->#}
                    <div class="aus-efect-peo">
                        {#<!-- IMAGEN PERSONA -->#}
                        {#<div class="aus-img-peo">#}
                            {#<img src="{{ asset('img/usuario1.jpg') }}" #}
                                 {#class="img-responsive img-circle #}
                                    {#aus-img-personal center-block" #}
                                 {#alt="person">#}
                        {#</div>#}
                        {#<!-- FIN IMAGEN PERSONA -->#}
                        
                        {#<!-- TEXTO PERSONA -->#}
                        <div class="aus-text-peo">
                            <span class="aus-name">
                                Carlos Andrés Morón
                            </span>
                            <span class="aus-job">
                                Web Developer
                            </span>
                            <p>
                                El éxito consiste en vencer el temor al fracaso.
                            </p>
                            <a class="aus-email" href="mailto:carlos.moron@whatwantweb.com">
                                carlos.moron@whatwantweb.com
                            </a>
                        </div>
                        {#<!-- FIN TEXTO PERSONA -->#}
                        
                    </div>
                    {#<!-- FIN EFECTO -->#}
                    
                </div>
                {#<!-- FIN PERSONA -->#}
                
                {#<!-- PERSONA -->#}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 aus-col-peo">
                    {#<!-- EFECTO -->#}
                    <div class="aus-efect-peo">
                        {#<!-- IMAGEN PERSONA -->#}
                        {#<div class="aus-img-peo">#}
                            {#<img src="{{ asset('img/usuario1.jpg') }}" #}
                                 {#class="img-responsive img-circle #}
                                    {#aus-img-personal center-block" #}
                                 {#alt="person">#}
                        {#</div>#}
                        {#<!-- FIN IMAGEN PERSONA -->#}
                        
                        {#<!-- TEXTO PERSONA -->#}
                        <div class="aus-text-peo">
                            <span class="aus-name">
                                Daniel Barbeitos
                            </span>
                            <span class="aus-job">
                                Web Developer
                            </span>
                            <p>
                                Nadie te recuerda, solo recuerdan tu reputación.
                            </p>
                            <a class="aus-email" href="mailto:daniel.barbeitos@whatwantweb.com">
                                daniel.barbeitos@whatwantweb.com
                            </a>
                        </div>
                        {#<!-- FIN TEXTO PERSONA -->#}
                        
                    </div>
                    {#<!-- FIN EFECTO -->#}
                    
                </div>
                {#<!-- FIN PERSONA -->#}
                
            </div>
            {#<!-- FIN TRES PERSONAS -->#}
            
        </div>

    </div>
    {#<!-- FIN NUESTRO EQUIPO -->#}

    {#<!-- PATROCINADORES -->#}
    {#<div class="container-fluid aus-bg cd-main-content aus-bg2">#}
        {#<div class="container aus-bg3">#}
            {#<h2>#}
                {#Nuestros patrocinadores#}
            {#</h2>#}
            {#<hr>#}
        {#</div>#}
        {##}
        {#<!-- SPONSORS -->#}
        {#<div class="row">#}

            {#<!-- PRIMER SPONSOR -->#}
            {#<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aus-spon1">#}

            {#</div>#}

            {#<!-- PRIMER SPONSOR -->#}
            {#<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aus-spon2">#}

            {#</div>#}
        {##}
        {#</div>#}
        {#<div class="row">#}

            {#<!-- CUARTO SPONSOR -->#}
            {#<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aus-spon3">#}

            {#</div>#}

            {#<!-- TERCER SPONSOR -->#}
            {#<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aus-spon4">#}

            {#</div>#}


        {#</div>#}
        {#<!-- FIN SPONSORS -->#}
        {##}
    {#</div>#}
    {#<!-- FIN PATROCINADORES -->#}
    
    {#<!-- NUESTROS SERVICIOS -->#}
    <div class="container-fluid aus-bg cd-main-content aus-bg aus-servicios ">
        <div class="container">
            <div class="row aus-row-services">
                <h2>
                    Nuestros servicios complementarios
                </h2>
                <hr>
            </div>
            
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="#" class="">
                        <img src="{{ asset('img/wwb-750.jpg') }}" 
                            class="img-responsive
                               center-block" 
                            alt="other_services">
                    </a>
                </div>
                            
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="#" class="">
                        <img src="{{ asset('img/wwr-750.jpg') }}" 
                            class="img-responsive
                               center-block" 
                            alt="other_services">
                    </a>
                </div>
            </div>
        </div>
        
    </div>
    {#<!-- FIN NUESTROS SERVICIOS -->#}
    

{% endblock %}


{% block javascriptsFooter %}
{{ parent() }}    
{{ include('nav/menuScript.html.twig') }}
{% endblock %}