{% extends '::base.html.twig' %}

{% block title %}
    Trabaja con nosotros
{% endblock %}


{% block header %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block alert %}
    {% for flash_message in app.session.flashbag.get('messageFail') %}
        {{  alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
        {{  alerts.alert('alert-success', flash_message, null) }}
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="container">
	<h1>Trabaja con nosotros</h1>
        <hr>
    </div>


    {#<!-- TEXTO E IMAGENES -->#}
    <div class="container-fluid cd-main-content text-justify">
        <div class="row">

            {#<!-- IMAGEN 1 -->#}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aus-img3">

            </div>
            {#<!-- FIN IMAGEN 1 -->#}

            {#<!-- QUE ES WWW -->#}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aus-text-ob">
                <h3>
                    ¿Porqué trabajar con nosotros?
                </h3>
                <hr>
                <p>
                    Whatwantweb es una plataforma basada en el concepto de intercambiar y compartir bienes y servicios,
                    creando nuevas formas de emprender y también un nuevo sentido de la propiedad. Nuestro sentido de la
                    propiedad ha cambiado, hemos pasado de una sociedad en la que sobra de todo a otra en la cual la
                    mayoría no puede disfrutar de lo que este siglo ofrece (bien sea por el abuso de precios o el mal
                    servicio), a menos que sea compartiéndolo. Esto supone una solución a la crisis económica y
                    financiera.
                </p>
            </div>
            {#<!-- FIN QUE ES WWW -->#}


        </div>


        <div class="row">
            {#<!-- NUESTROS OBJETIVOS -->#}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aus-text-ob">
                <h3>
                    Nuestros objetivos
                </h3>
                <hr>
                <p>
                    Nosotros queremos cambiar la forma de compartir, prestar, alquilar o vender; cambiar la mentalidad
                    de los ciudadanos en su manera de relacionarse social y económicamente, aunque esta idea es muy
                    antigua, el trueque es la modalidad de intercambio más antigua de la humanidad. También de pequeños
                    intercambiábamos cromos (los más valiosos o difíciles de conseguir los cambiábamos por varios
                    cromos de menor valor).
                </p>
            </div>
            {#<!-- FIN NUESTROS OBJETIVOS -->#}


            {#<!-- IMAGEN 2 -->#}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aus-img4">

            </div>
            {#<!-- FIN IMAGEN 2 -->#}


        </div>


    </div>
    {#<!-- FIN TEXTO E IMAGENES -->#}


    <div class="container formulario">
        <h3 class="cnt-title3">
            Curriculum Vitae
        </h3>
        
        <form class="" action="{{ path('trabaja') }}" method="post">
            <fieldset>

            {#<!-- Text input-->#}
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                {{form_label(form.name)}}

                <div class="">
                    {{form_widget(form.name)}}
                </div>
            </div>

            {#<!-- Text input-->#}
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                {{form_label(form.email)}}

                <div class="">
                    {{form_widget(form.email)}}

                </div>
            </div>

            {#<!-- Text input-->#}
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                {{form_label(form.subject)}}

                <div class="">
                    {{form_widget(form.subject)}}

                </div>
            </div>

            {#<!-- Textarea -->#}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                {{form_label(form.message)}}

                <div class="">
                   {{form_widget(form.message, {'id':'message'})}}
                </div>
            </div>

                {#<!-- Text input-->#}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                    {{form_label(form.file)}}

                    <div class="">
                        {{form_widget(form.file)}}

                    </div>
                </div>

            {#<!-- Button -->#}
            <div class="form-group">
                <label class="control-label" for="send"></label>
                <div class="">
                   {{ form_widget(form.send) }}
                </div>
            </div>

            </fieldset>
        </form>
           
    </div>


{% endblock %}

{% block footer %}
    {{ include('footer/sponsorFooter.html.twig') }}
    {{ parent() }}
{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}
    {{ include('nav/menuScript.html.twig') }}
{% endblock %}