{% extends '::base.html.twig' %}
{% import 'macros/alert.html.twig' as alerts %}


{% block title %}
    Profile
{% endblock %}

{% block nav %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block alert %}
    
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
    {#<script src="{{ asset('js/plugins/canvas-to-blob.min.js') }}" 
        type="text/javascript"></script>
    <!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
         This must be loaded before fileinput.min.js -->
    <script src="{{ asset('js/plugins/sortable.js') }}" 
        type="text/javascript"></script>
    <!-- purify.min.js is only needed if you wish to purify HTML content in your preview for HTML files.
         This must be loaded before fileinput.min.js -->
    <script src="{{ asset('js/plugins/purify.min.js') }}" 
        type="text/javascript"></script>
    <!-- the main fileinput plugin file -->
    <script src="{{ asset('js/fileinput.min.js') }}"></script>

    <!-- optionally if you need translation for your language then include 
        locale file as mentioned below -->
    <script src="{{ asset('js/locales/es.js') }}"></script>#}
{% endblock %}
      



{% block body %}
<!-- TABULADOR DE PESTAÑAS -->
<div class="container-fluid cd-main-content us-profile-panel">
    <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" {{tabActive == 'personal' or tabActive is empty ? 'class="active"'}}>
                <a href="#personal" 
                   name="personal" 
                   id="sectionPersonal"
                   aria-controls="personal" 
                   role="tab" 
                   data-toggle="tab">
                   Personal
                </a>
            </li>

        <li role="presentation" {{tabActive == 'email' ? 'class="active"'}}>
            <a href="#email" 
               name="email" 
               id="sectionEmail"
               aria-controls="email" 
               role="tab" 
               data-toggle="tab">
               Email
            </a>
        </li>

        <li role="presentation" {{tabActive == 'password' ? 'class="active"'}}>
            <a href="#password" 
               name="password" 
               id="sectionPassword"
               aria-controls="password"
               role="tab" 
               data-toggle="tab">
                Contraseña
            </a>
        </li>

        <li role="presentation" {{tabActive == 'phone' ? 'class="active"'}}>
            <a href="#phone" 
               name="phone" 
               id="sectionTlfn"
               aria-controls="phone"
               role="tab" 
               data-toggle="tab">Teléfono</a>
        </li>

        <li role="presentation" {{tabActive == 'photo' ? 'class="active"'}}>
            <a href="#photo" 
               name="photo" 
               id="sectionPhoto"
               aria-controls="photo"
               role="tab" 
               data-toggle="tab">
                Foto
            </a>
        </li>

        <li role="presentation" {{tabActive == 'address' ? 'class="active"'}}>
            <a href="#address" 
               name="address" 
               id="sectionAddress"
               aria-controls="address"
               role="tab" 
               data-toggle="tab">
                Direcciones
            </a>
        </li>

        <li role="presentation" {{tabActive == 'bank' ? 'class="active"'}}>
            <a href="#bank" 
               name="bank" 
               id="sectionBank"
               aria-controls="bank"
               role="tab" 
               data-toggle="tab">
                Datos bancarios
            </a>
        </li>
        
        <li role="presentation" {{tabActive == 'myOffer' ? 'class= "active"' }}>
            <a href="#myOffer" 
               name="myOffer" 
               id="sectionMyOffer"
               aria-controls="myOffer"
               role="tab" 
               data-toggle="tab">
                Mis ofertas
            </a>
        </li>
        
        <li role="presentation" {{tabActive == 'myMessage' ? 'class= "active"' }}>
            <a href="#myMessage" 
               name="myMessage" 
               id="sectionMyMessage"
               aria-controls="myMessage"
               role="tab" 
               data-toggle="tab">
                Mis mensajes
            </a>
        </li>
        
    </ul>
    <!-- FIN TABULADOR DE PESTAÑAS -->
    
     <!-- ERRORES EN EL FORMULARIO DE USUARIO -->            
    <div class="container errorContainer">
        {% for flash_message in app.session.flashbag.get('messageSuccess') %}
            {{ alerts.alert('alert-success', flash_message, null) }}
        {% endfor %} 

        {% for flash_message in app.session.flashbag.get('messageFail') %}
            {{ alerts.alert('alert-warning', flash_message, null) }}
        {% endfor %}

        {{ form_errors(formPersonalData) }}
        {{ form_errors(formEmail) }}
        {{ form_errors(formPassword) }}
        {{ form_errors(formPhoto) }}
        {{ form_errors(formPhone) }}
        {{ form_errors(formBank) }}
        
    </div>
    <!-- FIN ERRORES EN EL FORMULARIO DE USUARIO -->  
    
    <div class="container">      
        <div class="tab-content">
            <!-- PERSONAL -->
            <div class="tab-pane 
                 {{tabActive == 'personal' or tabActive is empty ? 'active'}}" 
                 name="personal" id="personal">
                
                {{form_start(formPersonalData)}} 
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 us-col-pad">
                        {{ form_row(formPersonalData.username) }}
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 us-col-pad">
                            {{ form_row(formPersonalData.name) }}
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 us-col-pad">
                            {{ form_row(formPersonalData.surname) }}
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 us-col-pad">
                            {{ form_row(formPersonalData.sex) }}
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 us-col-pad">
                            {{ form_row(formPersonalData.birthdate) }}
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 us-col-pad">
                        {{ form_widget(formPersonalData.nif, { 'attr': {style:'display:none'} } )}}
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 us-col-pad">
    {#                    {{ form_row(formulario.linkInvitation) }}#}
                            <label class="control-label" 
                                   for="profileUser_email_first">
                                Enlace de invitación
                            </label>
                            <p>{{ usuario.linkInvitation }}</p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 us-col-pad">
                        {{ form_row(formPersonalData.savePersonalData) }}
                        </div>
                    </div>
                 {{form_end(formPersonalData)}}    
                    
            </div>
            <!-- FIN PERSONAL -->      
            
            <!-- EMAIL -->
            <div class="tab-pane {{tabActive == 'email' ? 'active'}}" name="email" id="email">
                {{form_start(formEmail)}} 
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 us-col-pad">
                        <label class="control-label" 
                               for="profileUser_email_first">
                            Email actual
                        </label>
                        <p>{{ email }}</p>
                    </div>
                </div>
                    
                    
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 us-col-pad">
                        {{ form_label(formEmail.email.first) }}
                        {{ form_widget(formEmail.email.first) }}
{#                {{ form_row(formulario.email)}}#}
                    </div>
                    
                    
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 us-col-pad">
                        {{ form_label(formEmail.email.second) }}
                        {{ form_widget(formEmail.email.second) }}
                    </div>
                </div>
                
                    
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 us-col-pad">
                        {{ form_row(formEmail.passwordEnClaro) }}
                    </div>
                </div>
                    
                    
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 us-col-pad">
                        {{ form_row(formEmail.saveEmail) }}
                    </div>
                </div>
                    
                {{form_end(formEmail)}}    
                
        </div>
            <!-- FIN EMAIL -->
            
            <!-- PASSWORD -->
            <div class="tab-pane {{tabActive == 'password' ? 'active'}}" name="password" id="password">
                {{form_start(formPassword)}} 
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 us-col-pad">
                        <label class="control-label" 
                            for="profileUser_passwordEnClaro">
                            Contraseña actual
                        </label>
                        <input type="password" id="profileUser_passwordEnClaro" 
                            name="profileUser[passwordEnClaro]" 
                            class="form-control">
                    </div>
                </div>
                    
                    
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 us-col-pad">
                        {{ form_label(formPassword.password.first) }}
                        {{ form_widget(formPassword.password.first) }}
                    </div>
                    
                    
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 us-col-pad">
                        {{ form_label(formPassword.password.second) }}
                        {{ form_widget(formPassword.password.second) }}
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 us-col-pad">
                        {{ form_row(formPassword.savePassword) }}
                    </div>
                </div>
                 
                {{ form_end(formPassword)}}    
                
            </div>
            <!-- FIN PASSWORD -->

            <!-- PHONE -->
            <div class="tab-pane {{tabActive == 'phone' ? 'active'}}" name="phone" id="phone">
                {{form_start(formPhone)}} 
                <!-- Los dos próximos campos no se deberían de ver, deberían de 
                saltar después de darge a guardar que es cuando se envía el código -->
                {{ form_row(formPhone.confirmPhone) }}
                {{ form_row(formPhone.codConfirmation) }}
                <!-- Botón para que te envíe el código, el teléfono no se guarda 
                hasta que no se ha confirmado -->
                {{ form_row(formPhone.savePhone) }}
                {{ form_row(formPhone.prefix) }}
                {{ form_row(formPhone.phone) }}
            {{form_end(formPhone)}}    
            </div>
            <!-- END -->

            <!-- PHOTO -->
            <div class="tab-pane {{tabActive == 'photo' ? 'active'}}" name="photo" id="photo">
                {{form_start(formPhoto)}} 
                    {{ form_row(formPhoto.photo.id) }}
                    {{ form_row(formPhoto.photo.url, { 'attr': {style:'display:none'} }) }}
                    {% if formPhoto.photo.url.vars.value is not empty %}
                        <img src="{{ formPhoto.photo.url.vars.value }}" width="100" height="100" >
                    {% endif %}    
                    {{ form_row(formPhoto.photo.checkPhoto, { 'attr': {style:'display:none'} } ) }}

                    {#<div id="profileImage">
                        <!-- contenedor donde se previsualizará la imagen a subir -->
                    </div>  #}

                    {{ form_row(formPhoto.fileImage) }}
    {#                <label class="control-label">Selecciona tu imagen de perfil</label>#}
    {#                <input id="input-1" name="profileUser[fileImage]" type="file" class="file" accept="image/*">#}
                    {#<input id="profileUser_fileImage" 
                           class="file" 
                           type="file" 
                           multiple data-min-file-count="1">#}

                    {{ form_row(formPhoto.savePhoto)}}
                    {#<label class="control-label">Select File</label>#}
    {#                <input id="input-1" type="file" class="file">#}

                {{form_end(formPhoto)}}    

            </div>
       
            <!-- BANK -->
            <div class="tab-pane {{tabActive == 'bank' ? 'active'}}" name="bank" id="bank">
                {{form_start(formBank)}}     
                    {{ form_row(formBank.saveBank) }}
                    {{ form_row(formBank.numAccount) }}
                {{form_end(formBank)}}
            </div>
            <!-- FIN BANK -->     

            <!-- OFFER -->
            <div class="tab-pane {{tabActive == 'myOffer' ? 'active'}}" name="myOffer" id="myOffer">

                {% for offer in usuario.offers %}
                    {% set urlOffer = '' %}
                    {% if offer.service.table == 'trade' %}
                        {% set urlOffer = path('service_trade' , {idOffer: offer.id}) %}
                    {% endif %}    

                    <div class="row us-col-pad containerOffer_{{offer.id}}">
                        <div class="us-offer-target">    
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    
                                    <a href="{{ urlOffer }}">                  
                                        <img class="img-responsive us-offer-img" 
                                             {#src="{{offer.photos.0.url|default(asset('img/placeholder.jpg'))}}"#} 
                                             src="{{ asset('img/placeholder.jpg') }}"/>
                                    </a>


                                </div>


                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <h4>
                                                <a href="{{ urlOffer }}">
                                                    {{ offer.title }}                  
                                                </a> 
                                            </h4>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <p>{{ offer.description }}</p>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <a href="{{ path('user_profiler_offers' , {idOffer: offer.id}) }}"
                                               class="btn-default btn us-btn-edit-address">
                                                Editar
                                            </a>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <a href="#"
                                               class="btn-default btn us-btn-edit-address bDeleteOffer"
                                               data-id="{{ offer.id }}">
                                                Borrar
                                            </a>
                                        </div>
                                    </div>           

                                </div>


                            </div>


                        </div>
                                    
                                    
                    </div>

                {% endfor %}    

        </div>
            <!-- FIN OFFER -->    
        
            <!-- ADDRESS -->    
            <div class="tab-pane {{tabActive == 'address' ? 'active'}}" name="address" id="address">
                
                <a href="{{ path('user_profiler_newAdress') }}"
                   class="btn btn-default"> Nueva </a>
                
                <!-- ADDRESS DEFAULT -->
                <div class="us-address-target containerAddress_{{ usuario.defaultAddress.id }}">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <h4>{{ usuario.defaultAddress.name|e|capitalize }}</h4>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p>{{ usuario.defaultAddress.street}}</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p>{{ usuario.defaultAddress.zipCode }} - 
                                   {{ usuario.defaultAddress.region }}, 
                                   {{ usuario.defaultAddress.city }} 
                                   ({{ usuario.defaultAddress.country }})</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="{{ path('user_profiler_editAdress',{ idAddress:usuario.defaultAddress.id }) }}" 
                                class="btn-default btn editAddress">Editar </a>
                            </div>
                        </div>
                                
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button data-id="{{ usuario.defaultAddress.id }}" 
                                class="btn-default btn deleteAddress">Borrar </button>
                            </div>
                        </div>        
                    </div>
                <!-- END DEFAULT ADDRESS -->                

                {% for address in usuario.addresses %}
                    <div class="us-address-target containerAddress_{{ address.id }}">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <h4>{{address.name|e|capitalize}}</h4>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p>{{address.street}}</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p>{{address.zipCode}} - {{address.region}}, {{address.city}} ({{address.country}})</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="{{ path('user_profiler_editAdress',{ idAddress:address.id }) }}"  
                                class="btn-default btn editAddress">Editar </a>
                            </div>
                        </div>
                                
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button data-id="{{ address.id }}" 
                                class="btn-default btn deleteAddress">Borrar </button>
                            </div>
                        </div>         
                    </div>
                {% endfor %}
   
            </div>
            <!-- FIN ADDRESS -->
            
            <!-- MESSAGE -->
            <div class="tab-pane {{tabActive == 'myMessage' ? 'active'}}" name="myMessage" id="myMessage">
                <nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation">
		<div class="navbar-toggler animate">
			<span class="menu-icon"></span>
		</div>
		<ul class="navbar-menu animate">
			<li>
				<a href="#about-us" class="animate">
					<span class="desc animate"> Who We Are </span>
					<span class="glyphicon glyphicon-user"></span>
				</a>
			</li>
			<li>
				<a href="#blog" class="animate">
					<span class="desc animate"> What We Say </span>
					<span class="glyphicon glyphicon-info-sign"></span>
				</a>
			</li>
			<li>
				<a href="#contact-us" class="animate">
					<span class="desc animate"> How To Reach Us </span>
					<span class="glyphicon glyphicon-comment"></span>
				</a>
			</li>
		</ul>
	</nav>
                {{ render(controller('UserBundle:Message:message',{request: app.request,'user': usuario})) }}

            </div>
            <!-- FIN MESSAGE -->    
  
        </div>
                
                
    </div>
                
</div>

{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}
    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    </script>
    
    <script type="text/javascript">
    $(document).scroll(function(e){
        var scrollTop = $(document).scrollTop();
        if(scrollTop > $('#menuAdministracion').height()){
            //console.log(scrollTop);
            $('#cbp-hrmenu').css("position","fixed");
            $('#cbp-hrmenu').css("top","0");
            $('#cbp-hrmenu').css("z-index","999");
        } else {
            $('#cbp-hrmenu').css("position","relative");
        }
    });
    
    </script>
    
    <script type="text/javascript">
        //Previsualización de las imágenes
        function archivo(evt) { 
                  var files = evt.target.files; // FileList object
             
                  // Obtenemos la imagen del campo "file".
                  for (var i = 0 ; i< files.length; i++) {
                        var f = files[i];
             
                    var reader = new FileReader();
             
                    reader.onload = (function(theFile) {
                        return function(e) {
                          // Insertamos la imagen
                         document.getElementById("profileImage").innerHTML = ['<img height="100" widht="100" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
                        };
                    })(f);
             
                    reader.readAsDataURL(f);
                  }
              }
             
              document.getElementById('profilePhoto_fileImage').addEventListener('change', archivo, false);

    </script>
    
    <script type="text/javascript">


        $(document).ready(function() {
           
            $(document).on('click','.add_tag_link',showHiddenButtonAdd);
            $(document).on('click','.newMessageButton', showFormNewMessage);
            $(document).on('click','.bDeleteMessage', deleteMessage);
            $(document).on('click','.bDeleteOffer', deleteObject);
            $(document).on('click','.deleteAddress', deleteObject);
            
            
            
            function deleteMessage(e){
                var type = $(this).attr('data-type');
                var id = $(this).attr('data-id');
                
                var data = {};
                data['id'] = id;
                data['type'] = type;
                
                $.ajax({                        
                    type: "POST",                 
                    url: "{{ url('user_ajax_message') }}",                     
                    data: data, 
                    success: function(data)             
                    {
                        if(data['result'] === 'ok'){
                            $('.containerMessage_'+id).remove();  
                            $('.errorContainer').html("<div class='alert "+
                            "alert-success alert-dismissible' role='alert'>"+
                            "<button type='button' class='close' "+
                            "data-dismiss='alert' aria-label='Close'>"+
                            "<span aria-hidden='true'>×</span>"+
                            "</button><strong></strong>"+
                            data['message']+"</div>");

                        }else{
                            $('.errorContainer').html("<div class='alert "+
                            "alert-warning alert-dismissible' role='alert'>"+
                            "<button type='button' class='close' "+
                            "data-dismiss='alert' aria-label='Close'>"+
                            "<span aria-hidden='true'>×</span>"+
                            "</button><strong></strong>"+
                            data['message']+"</div>");

                        }
                        
                    },
                    error: function(data)             
                    {
                        $('.errorContainer').html("<div class='alert "+
                            "alert-warning alert-dismissible' role='alert'>"+
                            "<button type='button' class='close' "+
                            "data-dismiss='alert' aria-label='Close'>"+
                            "<span aria-hidden='true'>×</span>"+
                            "</button><strong></strong>"+
                            "Ha ocurrido un error, por favor vuelva a intentarlo</div>");
         
                    }        
                });
            }
            
            function deleteObject(e){
                e.preventDefault();
                var id = $(this).attr('data-id');
                var data = {};
                var url = "";
                var container = "";
                
                if($(this).hasClass('deleteAddress')){
                    url = "{{ url('user_ajax_deleteAddress') }}";
                    container = '.containerAddress_'+id;
                   
                }else if($(this).hasClass('bDeleteOffer')){      
                    url = "{{ url('user_ajax_deleteOffer') }}";
                    container = '.containerOffer_'+id;
                }
                data['id'] = id;
                
                $.ajax({                        
                    type: "POST",                 
                    url: url,                     
                    data: data, 
                    success: function(data)             
                    {
                        if(data['result'] === 'ok'){
                            $(container).remove();  
                            $('.errorContainer').html("<div class='alert "+
                            "alert-success alert-dismissible' role='alert'>"+
                            "<button type='button' class='close' "+
                            "data-dismiss='alert' aria-label='Close'>"+
                            "<span aria-hidden='true'>×</span>"+
                            "</button><strong></strong>"+
                            data['message']+"</div>");

                        }else{
                            $('.errorContainer').html("<div class='alert "+
                            "alert-warning alert-dismissible' role='alert'>"+
                            "<button type='button' class='close' "+
                            "data-dismiss='alert' aria-label='Close'>"+
                            "<span aria-hidden='true'>×</span>"+
                            "</button><strong></strong>"+
                            data['message']+"</div>");

                        }
                        
                    },
                    error: function(data)             
                    {
                        $('.errorContainer').html("<div class='alert "+
                            "alert-warning alert-dismissible' role='alert'>"+
                            "<button type='button' class='close' "+
                            "data-dismiss='alert' aria-label='Close'>"+
                            "<span aria-hidden='true'>×</span>"+
                            "</button><strong></strong>"+
                            "Ha ocurrido un error, por favor vuelva a intentarlo</div>");
         
                    }        
                });
            }
            
            function showFormNewMessage(e){
                e.preventDefault();
                
                if($('.containeMessages').is(':visible')){
                    $('.containeMessages').hide();
                    $('#message_to, #message_message').attr('required',true);
                    $('.newMessage').show();
                    
                }else{
                    
                    $('.containeMessages').show();
                    $('#message_to, #message_message').attr('required',false);
                    $('.newMessage').hide();
                }
            }
            
            function editAddress(e){
                e.preventDefault();
                
                $('.dataAddress').css('display','none');
                $(this).parent().next().css('display','block');
                $('.add_tag_link').css('display','none');
                $('.editAddress').css('display','block');
                $('#profileUser_deleteAddresses').css('display','none');
            }
            
            function showHiddenButtonAdd(e){
                
            }
        });


    </script>
 
    <script type="text/javascript" src="{{ asset('js/profile.js') }}">  </script>
    
    
    <script src="{{ asset('js/plugins/canvas-to-blob.min.js') }}" 
        type="text/javascript"></script>
    <!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
         This must be loaded before fileinput.min.js -->
    <script src="{{ asset('js/plugins/sortable.js') }}" 
        type="text/javascript"></script>
    <!-- purify.min.js is only needed if you wish to purify HTML content in your preview for HTML files.
         This must be loaded before fileinput.min.js -->
    <script src="{{ asset('js/plugins/purify.min.js') }}" 
        type="text/javascript"></script>
    <!-- the main fileinput plugin file -->
    <script src="{{ asset('js/fileinput.js') }}"></script>

    <!-- optionally if you need translation for your language then include 
        locale file as mentioned below -->
    <script src="{{ asset('js/locales/es.js') }}"></script>
    
    <script>
        $(document).ready(function(){
            $("#profileUser_fileImage").fileinput({
                showUpload: false, 
                previewFileType: 'image',
                initialPreview: [
                    'http://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/FullMoon2010.jpg/631px-FullMoon2010.jpg',
                    'http://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Earth_Eastern_Hemisphere.jpg/600px-Earth_Eastern_Hemisphere.jpg'
                ],
                initialPreviewAsData: true,
                initialPreviewConfig: [
                    {caption: "Moon.jpg", size: 930321, width: "120px", key: 1},
                    {caption: "Earth.jpg", size: 1218822, width: "120px", key: 2}
                ],
                deleteUrl: "/site/file-delete",
                overwriteInitial: false,
                maxFileSize: 100,
                initialCaption: "Selecciona tu imagen de perfil"
            });
        });
    </script>
    
    <script>
        $(function () {
            $('.navbar-toggler').on('click', function(event) {
                event.preventDefault();
                $(this).closest('.navbar-minimal').toggleClass('open');
            });
        });
    </script>
    
{% endblock %}
