{% extends '::base.html.twig' %}

{% block title %}
    Profile
{% endblock %}

{% block nav %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}
       
{% block body %}
    <div class="container cd-main-content us-profile">
   {#{dump(formulario)}#}
   {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#personal" 
                   name="personal" 
                   id="sectionPersonal"
                   aria-controls="personal" 
                   role="tab" 
                   data-toggle="tab">
                   Personal
                </a>
            </li>

            <li role="presentation">
                <a href="#email" 
                   name="email" 
                   id="sectionEmail"
                   aria-controls="email" 
                   role="tab" 
                   data-toggle="tab">
                   Email
                </a>
            </li>

            <li role="presentation">
                <a href="#pass" 
                   name="password"
                   id="sectionPassword"
                   aria-controls="pass" 
                   role="tab" 
                   data-toggle="tab">
                   Contraseña
                </a>
            </li>

            <li role="presentation">
                <a href="#foto" 
                   name="photo" 
                   id="sectionPhoto"
                   aria-controls="foto" 
                   role="tab" 
                   data-toggle="tab">
                   Foto
                </a>
            </li>

            <li role="presentation">
                <a href="#direcciones" 
                   name="photo" 
                   id="sectionAddress"
                   aria-controls="personal" 
                   role="tab" 
                   data-toggle="tab">
                   Direcciones
                </a>
            </li>
        </ul>
        
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="personal">
            {{ form_row(formulario.username) }}

            {{ form_row(formulario.name) }}
            {{ form_row(formulario.surname) }}
            <div class="row row-mar">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-pad">
                    {{ form_row(formulario.birthdate) }}
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-pad">
                    {{ form_row(formulario.sex) }}
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-pad">
                    {{ form_row(formulario.phone) }}
                </div>
            </div>
            
            {{ form_row(formulario.linkInvitation) }}
            </div>

            <div role="tabpanel" class="tab-pane" id="email">
            {{ form_row(formulario.email) }}
            </div>

            <div role="tabpanel" class="tab-pane" id="pass">
            {{ form_row(formulario.password) }}
            </div>

            <div role="tabpanel" class="tab-pane" id="foto">
            {{ form_row(formulario.photo) }}
            </div>

            <div role="tabpanel" class="tab-pane" id="direcciones">
                {% for address in formulario.addresses %}
                    <div id="address{{address.vars.value.id}}">
                         {{ form_row(address.name) }}
                         {{ form_row(address.street) }}
                         {{ form_row(address.isDefault) }}
                         {{ form_row(address.id)}}

                        <input class="posArrayAddress" 
                            type ="hidden" 
                            name="posArrayAddress" 
                            value="{{address.vars.name}}">
                         
                        <button type="submit" 
                            name="editar" 
                            class="buttonEditAddress">
                            Editar
                        </button>
                         
                        <button type="submit" 
                            name="eliminar"
                            class="buttonDeleteAddress">
                            Eliminar
                        </button>
                    </div>
                {% endfor %}

                Añadir dirección
                <input type="submit" 
                    value="+" 
                    name="buttonAddAddress">
                
                <input type="hidden" 
                    value="sectionPersonal" 
                    name="section" 
                    id="sectionUser">
                
                <input type="hidden" 
                    value="" 
                    name="idChangeAddress" 
                    id="idChangeAddress">
                
                <input type="hidden" 
                    value="" 
                    name="idDeleteAddress" 
                    id="idDeleteAddress">
            </div>
            
        {{ form_end(formulario)}}
        </div>
    </div>
{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}
    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    </script>
    
    <script type="text/javascript">
    $(document).scroll(function(e){
        var scrollTop = $(document).scrollTop();
        if(scrollTop > $('#menuAdministracion').height()){
            //console.log(scrollTop);
            $('#cbp-hrmenu').css("position","fixed");
            $('#cbp-hrmenu').css("top","0");
            $('#cbp-hrmenu').css("z-index","999");
        } else {
            $('#cbp-hrmenu').css("position","relative");
        }
    });
    </script>
{% endblock %}