{% extends '::base.html.twig' %}
{% import 'macros/alert.html.twig' as alerts %}
{% block title %}
    Profile
{% endblock %}

{% block nav %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block alert %}
    {% for flash_message in app.session.flashbag.get('mensaje') %}
       {{  alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}
    
    {% for flash_message in app.session.flashbag.get('mensaje2') %}
        {{  alerts.alert(null, flash_message, null) }}
     {% endfor %}
{% endblock %}
       
{% block body %}
           {#{dump(usuario)}#}
           {#{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }#}

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#personal" 
               name="personal" 
               id="sectionPersonal"
               aria-controls="personal" 
               role="tab" 
               data-toggle="tab">
               Personal
            </a>
        </li>

        <li role="presentation">
            <a href="#email" 
               name="email" 
               id="sectionEmail"
               aria-controls="email" 
               role="tab" 
               data-toggle="tab">
               Email
            </a>
        </li>

        <li role="presentation">
            <a href="#password" 
               name="password" 
               id="sectionPassword"
               aria-controls="password"
               role="tab" 
               data-toggle="tab">
                Contraseña
            </a>
        </li>

        <li role="presentation">
            <a href="#tlfn" 
               name="tlfn" 
               id="sectionTlfn"
               aria-controls="tlfn"
               role="tab" 
               data-toggle="tab">Teléfono</a>
        </li>

        <li role="presentation">
            <a href="#photo" 
               name="photo" 
               id="sectionPhoto"
               aria-controls="photo"
               role="tab" 
               data-toggle="tab">
                Foto
            </a>
        </li>

        <li role="presentation">
            <a href="#address" 
               name="address" 
               id="sectionAddress"
               aria-controls="address"
               role="tab" 
               data-toggle="tab">
                Direcciones
            </a>
        </li>

        <li role="presentation">
            <a href="#bank" 
               name="bank" 
               id="sectionBank"
               aria-controls="bank"
               role="tab" 
               data-toggle="tab">
                Datos bancarios
            </a>
        </li>
        
        <li role="presentation">
            <a href="#myOffer" 
               name="myOffer" 
               id="sectionMyOffer"
               aria-controls="myOffer"
               role="tab" 
               data-toggle="tab">
                Mis ofertas
            </a>
        </li>
    </ul>
           
    <div class="tab-content">
        
        <div class="tab-pane active" name="personal" id="personal">
            
            {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(formulario.username) }}
                {{ form_row(formulario.name) }}
                {{ form_row(formulario.surname) }}
                {{ form_row(formulario.birthdate) }}
                {{ form_row(formulario.sex) }}
                {{ form_row(formulario.linkInvitation) }}
                
        </div>
        
        <div class="tab-pane" name="email" id="email">
            
            {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(formulario.email) }}
                {{ form_row(formulario.oldPassword) }}
                
        </div>
        
        <div class="tab-pane" name="password" id="password">
            
            {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(formulario.oldPassword) }}
                {{ form_row(formulario.password) }}
                
        </div>
        
        <div class="tab-pane" name="tlfn" id="tlfn">
            
            {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(formulario.prefix)}}
                {{ form_row(formulario.phone) }}
                {{ form_row(formulario.codConfirmation)}}
                {{ form_row(formulario.confirmPhone)}}
                
        </div>
        
        <div class="tab-pane" name="photo" id="photo">
            
            {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(formulario.photo) }}
        </div>
        
        <div class="tab-pane" name="address" id="address">
            
           {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}  
                <div class="contentAddress">
                    {% for address in formulario.addresses %}
                    
                    <div id="address{{address.vars.value.id}}">
                       
                        {{ form_label(address.name)}}
                        {{ form_widget(address.name,  { 'attr': { 'readonly': 'true' } })}}
                        
                        {{ form_label(address.street) }}
                        {{ form_widget(address.street,  { 'attr': { 'readonly': 'true' } })}}

                        {{ form_label(address.isDefault) }}
                        {{ form_widget(address.isDefault,  { 'attr': { 'readonly': 'true' } })}}

                        {{ form_row(address.id)}}

                        {{ form_row(address.zipCode)}}
                        {{ form_row(address.city)}}
                        {{ form_row(address.region)}}
                        {{ form_row(address.country)}}
                        {{ form_row(address.idZipCode)}}
                          

                        <input class="posArrayAddress" type ="hidden" name="posArrayAddress" value="{{address.vars.name}}">
                        <button type="submit" name="editar" class="buttonEditAddress">Editar</button>
                        <button type="submit" name="eliminar" class="buttonDeleteAddress">Eliminar</button>
                   </div>
                    {% endfor %}   
                </div>
                <input type="submit" value="+" name="buttonAddAddress" id="buttonAddAddress">
        </div>
        
        <div class="tab-pane" name="bank" id="bank">
            
            {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(formulario.num_account)}}
        </div>
        
        <div class="tab-pane" name="myOffer" id="myOffer">
            
           {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}  
        </div>
        
    </div>    

                
                <input type="hidden" value="sectionPersonal" name="section" id="sectionUser">
                <input type="hidden" value="" name="idChangeAddress" id="idChangeAddress">
                <input type="hidden" value="" name="idDeleteAddress" id="idDeleteAddress">
                <input type="hidden" value="" name="addAddress" id="addAddress">
              
{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}
    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    </script>
    
    <script type="text/javascript">
    $(document).scroll(function(e){
        var scrollTop = $(document).scrollTop();
        if(scrollTop > $('#menuAdministracion').height()){
            //console.log(scrollTop);
            $('#cbp-hrmenu').css("position","fixed");
            $('#cbp-hrmenu').css("top","0");
            $('#cbp-hrmenu').css("z-index","999");
        } else {
            $('#cbp-hrmenu').css("position","relative");
        }
    });
    </script>
{% endblock %}
