{% extends '::base.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}
       
{% block body %}
    {% block alert %}
        {% for flash_message in app.session.flashbag.get('messageSuccess') %}
           {{  alerts.alert('alert-success', flash_message, null) }}
        {% endfor %}

        {% for flash_message in app.session.flashbag.get('messageFail') %}
            {{  alerts.alert('alert-warning', flash_message, null) }}
        {% endfor %}
    {% endblock %}
    
    <div class="messageUser">
   
        De: {{ message.from.username }}<br>
        Para: {{ message.to.username }}<br>
        Asunto: {{ message.subject }}<br>
        Enviado: {{message.createdDate}}<br>
        {{message.message}}
        {% if message.from.id != app.session.get('id') %}
            <button class="buttonReplay"> Responder </button>
        {% endif %}    
    </div>
        
    <div class="containerReplay" style="display:none">
        {{form_start(form)}}
            {{ form_row(form.id) }}
            {{ form_label(form.from) }}
            {{ form_widget(form.from.username , { 'attr': {'readonly': 'readonly'} }) }}
            {{ form_row(form.to.username, { 'attr': {'readonly': 'readonly'} }) }}
            {{ form_row(form.subject) }}
            {{ form_row(form.message) }}
            {{ form_row(form.enviar) }}
            {{ form_row(form.cancelar) }}
            {{ form_row(form._token) }}
    </div>

{% endblock %}

{% block javascriptsFooter %}   
      {{ parent() }}
      
    <script>
        $(document).ready(function() {  
            console.log("entro");
            $(document).on('click','.buttonReplay', showReplay);
            $(document).on('click', '.buttonCancel', hideReplay);
            
            function showReplay(e){
                e.preventDefault();
                
                if(!$('.containerReplay').is(':visible')){
                    $('.messageUser').hide();
                    $('.containerReplay').show();
                }
            }
            
            function hideReplay(e){
                e.preventDefault();
                
                if($('.containerReplay').is(':visible')){
                    $('.messageUser').show();
                    $('.containerReplay').hide();
                }
            }
        });    
    </script>
    
{% endblock %}

