{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/script.html.twig' as codMenu %}


{% block title %}
    Coches
{% endblock %}

{% block alertProfile %}

    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
        {{ alerts.alert('alert-success', flash_message, null) }}
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('messageFail') %}
        {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}


{% endblock %}


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}
   <div class="row us-dataPersonal-row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h3>
                  Editar Coche

              </h3>
              <hr/>
            {{ form_start(form) }}

                {{ form_row(form.brand) }}
                {{ form_row(form.model) }}
                {{ form_row(form.type) }}
                <div class="form-group">
                    {{ form_label(form.plate) }}
                    {{ form_widget(form.plate) }}
                    <span>*Solo usted podrá ver su número de matrícula, ningún otro usuario tendrá acceso a este dato</span>
                </div>
                {{ form_row(form.plate)}}
                {{ form_row(form.color) }}
                {{ form_row(form.description) }}
                {{ form_row(form.seats) }}
                {{ form_row(form.imgCar) }}
                {{ form_row(form.smoke) }}
                {{ form_row(form.animals) }}
                {{ form_row(form.music) }}
                {{ form_row(form.talk) }}
                {{ form_row(form._token) }}

                <div class="us-guardarPersonal-row">
                    {{ form_row(form.saveNewCar) }}
                </div>
          </div>
   </div>

{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}
    {{ codMenu.scriptUserMenu('.us-dataPersonal-row') }}
    {#<!-- the main fileinput plugin file -->#}
    <script src="{{ asset('js/fileinput.js') }}"></script>
    <script src="{{ asset('js/locales/es.js') }}"></script>

    <script type="text/javascript">

        brand = $('#newCar_brand');
        models = $('#newCar_model').clone();

        brandSelected = '{{ car.model.brand.name }}';

        var options =  models.find('optgroup[label="'+brandSelected+'"]').html();
        $('#newCar_model').find('optgroup').remove();
        $('#newCar_model').append(options);

        $(document).ready(function(){

            $(document).on('change','#newCar_brand',changeModel);

            function changeModel(){

                var marca = $('#newCar_brand option:selected').text();
                var options =  models.find('optgroup[label="'+marca+'"]').html();

                $('#newCar_model').find('option').remove();
                $('#newCar_model').append(options);

            }

            {% set arrayUrl = "" %}
            {% set arrayCaption = "" %}

            {% for photo in car.photos %}

                {% set arrayUrl = arrayUrl~"'"~asset(photo.url,'img')~"'," %}
                {% set arrayCaption = arrayCaption~"{caption: '', width: '120px', showZoom: false, key: "~photo.id|number_format~" ,extra: {id: "~car.id~" }}," %}

            {% endfor %}

            $(".file-loading").fileinput({

                validateInitialCount: true,
                maxFileCount: 5,
                minFileCount: 1,

                initialPreview: [
                    {{arrayUrl|raw}}
                ],
                initialPreviewAsData: true,

                initialPreviewConfig: [
                    {{arrayCaption|raw}}
                ],
                deleteUrl: "{{ url('user_ajax_deleteImgCar') }}",
                overwriteInitial: false,
                maxFileSize: 3072,
                showRemove: false,
                showUpload: false,
                showZoom: false,
                initialCaption: '',
                extra: {idCar: {{ car.id }} },
                language: "es",
                allowedFileExtensions: ["jpg", "jpeg", "png"]
            });

        });
    </script>
{% endblock %}