{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/coche.html.twig' as coches %}
{% import 'macros/script.html.twig' as codMenu %}

{% block title %}
    Coches
{% endblock %}

{% block alertProfile %}

    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
        {{ alerts.alert('alert-success', flash_message, null) }}
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('messageFail') %}
        {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}


{% endblock %}


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}
    <div class="row row-car">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                Coche
            </h3>
            <hr/>

            {# Array de imagenes para la galeria #}
            {#{% set imgGran = [car.photos.0.url] %}#}
            {% set photosCar = [] %}

            {% for photos in car.photos%}
                {% set photosCar = photosCar|merge([photos.url]) %}
            {% endfor %}

            {% if photosCar is empty %}
                {% set photosCar = ['web/img/placeholder.jpg']  %}
            {% endif %}

            {{ coches.cocheVista(photosCar,
                                photosCar,
                                car.model.brand.name,
                                car.model.name,
                                car.color,
                                car.type,
                                car.plate,
                                car.description,
                                options
            ) }}
        </div>
    </div>
{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}

    {{ codMenu.scriptUserMenu('.row-car') }}

    {{ include('owlCarousel/owlCochesScript.html.twig') }}

    {{ include('lightbox/lightboxScript.html.twig') }}

{% endblock %}

