{% extends '::base.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block alert %}
    {% for flash_message in app.session.flashbag.get('messageFail') %}
        {{  alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
        {{  alerts.alert('alert-success', flash_message, null) }}
    {% endfor %}
    {{ form_errors(form) }}

{% endblock %}

{% block body %}

    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-12">
                <h3>
                    Nueva Oferta de Coche Compartido
                </h3>
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 off-special-price">
                {% set disabledButton = false %}

                {% if form.car.vars.choices|length > 0 %}
                    {{ form_row(form.car) }}
                {% else %}
                    No tiene ningún coche creado, para dar de alta pinche <a href="{{ path('user_profileNewCar') }}">aquí</a>
                    {% set disabledButton = true %}
                {% endif %}

                {{ form_row(form.offer.title) }}
                {{ form_row(form.offer.description) }}
                {{ form_row(form.fromPlace) }}
                {{ form_row(form.toPlace) }}
                {{ form_row(form.date) }}
                {{ form_row(form.offer.holders,{'label':'Plazas disponibles'}) }}
                {{ form_row(form.backTwo) }}
                {{ form_row(form.price) }}
                {{ form_row(form.newShareCar, {'attr': {'disabled': disabledButton} }) }}
                {{ form_row(form._token) }}

            </div>
        </div>




    </div>



{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}

    {#<!-- the main fileinput plugin file -->#}
    <script src="{{ asset('js/fileinput.js') }}"></script>
    <script src="{{ asset('js/locales/es.js') }}"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            $("#imgOffer").fileinput({

                initialPreviewAsData: true,
                overwriteInitial: false,
                maxFileSize: 3072,
                showRemove: false,
                showUpload: false,
                showZoom: false,
                initialCaption: '',
                maxFileCount: 5,
                allowedFileExtensions: ["jpg", "jpeg", "png"],
                language: "es",
            });
        });


    </script>
{% endblock %}
