{% extends '::services/layoutService.html.twig' %}
{% import 'macros/popup.html.twig' as popups %}
{% import 'macros/sidebar.html.twig' as sidebars %}
{% import 'macros/star.html.twig' as rating %}
{% import 'macros/houseRentsList.html.twig' as houses %}
{% import 'macros/filter.html.twig' as filters %}


{#{% elseif service == 9 %}#}
    {% set pathFilter = path('house_listBedroomSwap') %}
    {% set routingOffer = 'house_offerBedroomSwap' %}
    {% set routingNewOffer = 'house_newOfferBedroomSwap' %}
    {% set titleService = 'Intercambio habitación' %}

{#{% endif %}#}

{% block title %}
    {{ titleService }}
{% endblock %}

{% block cssParallax %}
    sw-room-parallax
{% endblock %}

{% block cssTitleParallax %}
    sw-ro-header-title
{% endblock %}

{% block serviceTitle %}
    {{ titleService }}
{% endblock %}

{% block serviceSubTitle %}
    {#{ include('services/subTitles/shareCarSubTitle.html.twig') }#}
{% endblock %}

{% block alertService %}

    {% for flash_message in app.session.flashbag.get('messageSuccess') %}
        {{ alerts.alert('alert-success', flash_message, null) }}
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('messageFail') %}
        {{ alerts.alert('alert-warning', flash_message, null) }}
    {% endfor %}

{% endblock %}

{% block serviceFilters %}
    {#{{ include('services/filters/houseRentFilters.html.twig') }}#}
    {{ filters.filterHouse('get', pathFilter , service) }}
{% endblock %}

{% block serviceList %}
    {% for offer in pagination %}
        {#{ include('services/lists/houseRentsList.html.twig') }#}

        {# Cambiar para mostrar solo una imagen y no 3#}
        {% set imgSmall1 = random([asset('img/alquilerTuristico1.jpg'), asset('img/alquilerTuristico2.jpg'), asset('img/alquilerTuristico3.jpg'), asset('img/alquilerTuristico4.jpg'), asset('img/alquilerTuristico5.jpg'), asset('img/alquilerTuristico6.jpg')]) %}

        {% set imgSmall2 = random([asset('img/alquilerTuristico1.jpg'), asset('img/alquilerTuristico2.jpg'), asset('img/alquilerTuristico3.jpg'), asset('img/alquilerTuristico4.jpg'), asset('img/alquilerTuristico5.jpg'), asset('img/alquilerTuristico6.jpg')]) %}

        {{ houses.element(path(routingOffer,{idOffer: offer.offer_id}), asset(offer.offer_photo,'img'), imgSmall1, imgSmall2, offer.title,
        offer.holders, 0, 0, path('user_public_profile',{username: offer.username}), asset(offer.user_photo,'img'),
        offer.username, 0, offer.avg_score, service ) }}
    {% endfor %}

    {% if pagination is not null %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}

{% endblock %}

{% block filtroMovilBody %}
    {{ include('services/filters/shareCarFilter.html.twig') }}
{% endblock %}

{% block serviceSidebar %}
    {{ include('services/sidebar/ocio.html.twig') }}
    {{ include('services/sidebar/ocioMovil.html.twig') }}
{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}
    {{ include('services/sidebar/ocioScript.html.twig') }}
    {{ include('services/sidebar/ocioMovilScript.html.twig') }}
    {{ rating.staticRatingJS() }}
{% endblock %}

{% block popupBlock %}
    {{ popups.popup('sid-restaurante', 'Restaurante',
    sidebars.sidebarElementDemo()) }}

    {{ popups.popup('sid-ocio', 'Ocio',
    sidebars.sidebarElementDemo()) }}

    {{ popups.popup('sid-tiendas', 'Tiendas',
    sidebars.sidebarElementDemo()) }}
{% endblock %}
