{% extends '::base.html.twig' %}
{% import 'macros/alert.html.twig' as alerts %}


{% block title %}
    Profile
{% endblock %}

{% block nav %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% set urlDireccion = app.request.attributes.get('_route') %}
    
{#<!-- TABULADOR DE PESTAÑAS -->#}
<div class="container-fluid cd-main-content us-profile-panel">
    <div class="row">
        <header class="cd-main-header">
            {#<a href="#0" class="cd-logo"><img src="img/cd-logo.svg" alt="Logo"></a>

            <div class="cd-search is-hidden">
                <form action="#0">
                    <input type="search" placeholder="Search...">
                </form>
            </div> <!-- cd-search -->#}

            <a href="#0" class="cd-nav-trigger">Menu<span></span></a>

            <nav class="cd-nav">
                {#<ul class="cd-top-nav">
                    <li><a href="#0">Tour</a></li>
                    <li><a href="#0">Support</a></li>
                    <li class="has-children account">
                        <a href="#0">
                            <img src="img/cd-avatar.png" alt="avatar">
                            Account
                        </a>

                        <ul>

                            <li><a href="#0">My Account</a></li>
                            <li><a href="#0">Edit Account</a></li>
                            <li><a href="#0">Logout</a></li>
                        </ul>
                    </li>
                </ul>#}
            </nav>
        </header>
        <main class="cd-main-content us-content-user">
            <nav class="cd-side-nav">
                <ul class="navProfile">
                    {#<li class="cd-label">Personal</li>#}
                    <li class="has-children misDatos
                    {% if urlDireccion == 'user_profiler' or
                        urlDireccion == 'user_profilerPersonal' or
                        urlDireccion == 'user_profilerEmail' or
                        urlDireccion == 'user_profilePassword' or
                        urlDireccion == 'user_profilePhone' or
                        urlDireccion == 'user_profilePhoto' or
                        urlDireccion == 'user_profileChangeBank' or
                        urlDireccion == 'user_unsubscribe'
                    %}
                        active
                    {% endif %}
                    ">
                        {#<i class="fa fa-user" aria-hidden="true"></i>#}
                        <a href="{{path('user_profiler')}}">Mis datos</a>  

                        <ul>
                            <li><a href="{{ path('user_profilerPersonal') }}">Datos Personales</a></li>
                            <li><a href="{{ path('user_profilerEmail') }}">Email</a></li>
                            <li><a href="{{ path('user_profilePassword') }}">Contraseña</a></li>
                            <li><a href="{{ path('user_profilePhone') }}">Teléfono</a></li>
                            <li><a href="{{ path('user_profilePhoto') }}">Foto Personal</a></li>
                            <li><a href="{{ path('user_profileChangeBank') }}">Datos bancarios</a></li>
                            <li><a href="{{ path('user_public_profile',{username: app.session.get('username')}) }}"> Mi perfil público</a></li>
                            <li><a href="{{ path('user_unsubscribe') }}">Darse de baja</a></li>
                        </ul>
                    </li>


                    <li class="addressUser
                    {% if urlDireccion == 'user_profileAddress' %}
                        active
                    {% endif %}
                    ">
                        <a href="{{ path('user_profileAddress') }}">Direcciones</a>
                    </li>


                    <li class="has-children comments
                    {% if urlDireccion == 'user_profileMessage' or
                    urlDireccion == 'user_profileNewMessage' or
                    urlDireccion == 'user_profileMessageSent'
                    %}
                        active
                    {% endif %}
                    ">
                        <a href="{{ path('user_profileNewMessage') }}">
                            Mensajes
                            {% if app.session.get('numMessage') > 0 %}
                            <span class="count">{{app.session.get('numMessage')}}</span>
                            {% endif %}
                        </a>

                        <ul>
                            <li><a href="{{path('user_profileNewMessage')}}">Redactar</a></li>
                            <li><a href="{{path('user_profileMessage')}}">Recibidos</a></li>
                            <li><a href="{{path('user_profileMessageSent')}}">Enviados</a></li>
                        </ul>
                    </li>


                    <li class="has-children offerUser
                    {% if urlDireccion == 'user_profiler_offers' or
                    urlDireccion == 'user_profiler_purchases' or
                    urlDireccion == 'user_profiler_inscriptions'
                    %}
                        active
                    {% endif %}
                    ">
                        <a href="{{ path('user_profile_offers') }}">Ofertas</a>

                        <ul>
                            <li class="has-children">
                                <a href="{{ path('user_profile_offers') }}">Mis ofertas</a>
                                <ul>
                                    <li><a href="{{ path('user_profile_offers',{typeOffer: 'vehicles'}) }}">Vehículos</a></li>
                                    <li><a href="{{ path('user_profile_offers',{typeOffer: 'buildings'}) }}">Inmuebles</a></li>
                                    <li><a href="{{ path('user_profile_offers',{typeOffer: 'trade'}) }}">¿Qué necesitas?</a></li>
                                </ul>
                            </li>

                            <li class="has-children">
                                <a href="{{path('user_profiler_purchases')}}">Compras</a>
                                <ul>
                                    <li><a href="{{ path('user_profiler_purchases',{typeOffer: 'vehicles'}) }}">Vehículos</a></li>
                                    <li><a href="{{ path('user_profiler_purchases',{typeOffer: 'buildings'}) }}">Inmuebles</a></li>
                                    <li><a href="{{ path('user_profiler_purchases',{typeOffer: 'trade'}) }}">¿Qué necesitas?</a></li>
                                </ul>
                            </li>
                          {# <li><a href="{{path('user_profiler_inscriptions')}}">Inscripciones</a></li>#}
                        </ul>
                    </li>


                    <li class="has-children userCar">
                        <a href="{{ path('user_profileListCars') }}">Coches</a>

                        <ul>
                            <li><a href="{{ path('user_profileListCars') }}">Lista de coches</a></li>
                            <li><a href="{{ path('user_profileNewCar') }}">Añadir coche</a></li>
                        </ul>
                    </li>


                    <li class="has-children userHouse">
                        <a href="{{ path('user_profile_listHouse') }}">Casas</a>

                        <ul>
                            <li><a href="{{ path('user_profile_listHouse') }}">Lista de casas</a></li>
                            <li><a href="{{ path('user_profile_newHouse') }}">Añadir casa</a></li>
                        </ul>
                    </li>

                {# Comentado los barcos y las bicicletas del menu Usuario


                    <li class="has-children userShip">
                        <a href="">Barcos</a>

                        <ul>
                            <li><a href="#">Lista de barcos</a></li>
                            <li><a href="#">Añadir barco</a></li>
                        </ul>
                    </li>


                    <li class="has-children userBike">
                        <a href="">Bicicletas</a>

                        <ul>
                            <li><a href="#">Lista de bicicletas</a></li>
                            <li><a href="#">Añadir bicicleta</a></li>
                        </ul>
                    </li>
                    #}
                </ul>
            </nav>

            <div class="content-wrapper">
{#                <div class="container">#}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="contentAlert">   
                                {% block alertProfile %}
                                {% endblock %}
                            </div>
                            {% block bodyProfile %}
                            {% endblock %}
                            {#<h1>Responsive Sidebar Navigationn</h1>
                            {% for i in 0..10 %}
                            <p>{{ include('macros/text.html.twig') }}</p>
                            {% endfor %}#}
                        </div>
                    </div>
{#                    <h1>Responsive Sidebar Navigation</h1>#}
{#                </div>#}
            </div>
        </main>
    </div>
                
</div>

{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}
    {# $(".content-wrapper").bind("DOMSubtreeModified", function() {}); #}

    {#<script type="text/javascript">#}
        {#$(document).ready(function(){#}
            {#if($(window).width() > 768){#}
                {#if($(".us-dataPersonal-row").outerHeight() >= $('.cd-side-nav').outerHeight() || $(".us-dataPersonal-row").outerHeight() >= $('.cd-side-nav>ul').outerHeight() ){#}
                    {#$('.cd-side-nav').css('height', $('.us-dataPersonal-row').outerHeight());#}
                {#}else{#}
                    {#$('.cd-side-nav').css('height', 'inherit');#}
                {#}#}
            {#}#}

                {#$(".us-dataPersonal-row").bind("DOMSubtreeModified", function() {#}
                    {#if($(window).width() > 768){#}
                        {#if($(".us-dataPersonal-row").outerHeight() >= $('.cd-side-nav').outerHeight() || $(".us-dataPersonal-row").outerHeight() >= $('.cd-side-nav>ul').outerHeight() ){#}
                            {#$('.cd-side-nav').css('height', $('.us-dataPersonal-row').outerHeight());#}
                        {#}else{#}
                            {#$('.cd-side-nav').css('height', 'inherit');#}
                        {#}#}
                    {#}#}
                {#});#}

                {#$(window).resize(function(){#}
                    {#if($(".us-dataPersonal-row").outerHeight() >= $('.cd-side-nav').outerHeight() || $(".us-dataPersonal-row").outerHeight() >= $('.cd-side-nav>ul').outerHeight() ){#}
                        {#$('.cd-side-nav').css('height', $('.us-dataPersonal-row').outerHeight());#}
                    {#}else{#}
                        {#$('.cd-side-nav').css('height', 'inherit');#}
                    {#}#}
                {#});#}
        {#});#}
    {#</script>#}
    <script src="{{ asset('js/jquery.menu-aim.js') }}"></script>
    <script src="{{ asset('js/mainUserMenu.js') }}"></script>

    
    {{ include('nav/menuScript.html.twig') }}
    
{% endblock %}
