<!-- MENU ADMINISTRACION -->
<div class="container-fluid cd-main-content administration-body" id="menuAdministracion">
    <div class="row prueba administration-row">

        <!-- PRIMERA COLUMNA-->
        <div class="col-lg-5 col-md-5 col-sm-5 hidden-xs colAdministracion">
            <a href="{{ path('homepage') }}">
                <img class="img-responsive logo" 
                     src="{{ asset('img/Logo_www-3.png') }}" alt="Site Logo"/>
            </a>
        </div>
        <!-- FIN PRIMERA COLUMNA-->

        {#<!-- SEGUNDA COLUMNA-->
        <div class="col-lg-4 col-md-3 col-sm-8 col-xs-12 colAdministracion">
            <div class="input-group stylish-input-group posicion-top">
                <input type="text" class="form-control alto-search"
                       placeholder="¿Qué es lo que quieres de la web?" >
                <span class="input-group-addon">
                    <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <!-- FIN SEGUNDA COLUMNA-->#}

        <!-- TERCERA COLUMNA-->
        <div class="col-lg-5 col-md-5 col-sm-7 hidden-xs colAdministracion">
            <div class="navegacion-usuario">
                <ul style="border-right: 0;">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="text-nav-user">
                            <a href="{{ path('user_profiler') }}">
                                <span class="glyphicon glyphicon-user size-icon">
                                </span>
                                Mi Cuenta
                            </a>
                        </li>

                        <li class="text-nav-user">
                            <a href="{{ path('user_logout') }}">
                                <span class="glyphicon glyphicon-log-out size-icon">
                                </span>
                                Cerrar sesión
                            </a>
                        </li>
                    {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                        <li class="text-nav-user">
                            <a href="{{ path('user_login') }}">
                                <span class="glyphicon glyphicon-log-in size-icon">
                                </span>
                                Acceder
                            </a>
                        </li>
                        
                        <li class="text-nav-user">
                            <a href="{{ path('user_register') }}">
                                <span class="glyphicon glyphicon-edit size-icon">
                                </span>
                                Registrarse
                            </a>
                        </li>
                    {% endif %}
                    
                    
                    {#<li class="text-nav-user">
                        <a href="#">
                            <span class="glyphicon glyphicon-shopping-cart 
                                size-icon">
                                      
                            </span>
                            Carro
                        </a>
                    </li>
                    
                    <li class="text-nav-user">
                        <a href="#">
                            <span class="glyphicon glyphicon-heart-empty 
                                size-icon">
                                      
                            </span>
                            Bolsa
                        </a>
                    </li>#}
                    
                    <li class="text-nav-user">
                        <a id="play-music">
                            <span class="glyphicon glyphicon-stop size-icon" aria-hidden="true">
                                <audio id="audioPlayer" autoplay="" controls="" src="{#http://217.182.85.254:8004/;#}"></audio>
                            </span>
                            on/off
                        </a>
                    </li>

                    <li class="text-nav-user">
                        <a id="play-sound">
                            <span class="glyphicon glyphicon-volume-up size-icon" aria-hidden="true" ></span>
                            Sonido
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- FIN TERCERA COLUMNA-->

        <!-- CUARTA COLUMNA-->
        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs colAdministracion">
            <img class="img-responsive logo2"
                 src="{{ asset('img/Logo_wwb-2.png') }}" alt="Site Logo"/>
            <span class="text-bank">
                Próximamente también podrá usar nuestro servicio de banco
            </span>
        </div>
        <!-- FIN CUARTA COLUMNA-->

    </div>
</div>
<!-- FIN ADMINISTRACION -->
